<script context="module" lang="ts">
	import LibraryCard from '$components/Cards/LibraryCard.svelte';
	import Meta from '$components/Common/Meta.svelte';
	import Tabbar from '$components/Common/Tabbar.svelte';
	import Seo from '$components/Global/Seo.svelte';
	import { socializer } from '$lib/helpers';
	import type { ILibraryResponse } from '$lib/response.type';
	import { getContent, getOthers } from '$lib/services';
	import type {
		IDocumentaryCard,
		ILibraryCard,
		ILibraryContent,
		ITabCustomEvent,
	} from '$lib/types';
	import { headerStore } from '$stores/header.store';
	import { pageStore } from '$stores/page.store';
	import type { LoadInput, LoadOutput } from '@sveltejs/kit/types/internal';
	import { onDestroy, onMount } from 'svelte';
	import Scroller from '@sveltejs/svelte-scroller';

	export const prerender = true;

	export async function load({ params, url }: LoadInput): Promise<LoadOutput> {
		let others: IDocumentaryCard[];
		try {
			const { id, content } = await getContent<ILibraryResponse>('library', params.slug);

			const book: ILibraryContent = {
				id: content.id,
				title: content.title.rendered,
				content: content.content.rendered,
				seo: {
					title: content.yoast_head_json.title,
					description: content.yoast_head_json.og_description,
					image: content.yoast_head_json.og_image?.[0]?.url,
					type: content.yoast_head_json.og_type,
					ldJson: JSON.stringify(content.yoast_head_json.schema),
				},
				tags: undefined,
			};

			book.cover = content.meta_data.image_details.full.url || '';
			book.author = content.meta_data.yazar || '';
			book.language = content.meta_data.dil || '';
			book.distributor = content.meta_data.dagitimci || '';
			book.translation = content.meta_data.ceviri || '';
			book.pageCount = content.meta_data.sayfa_sayisi || '';
			book.isbn10 = content.meta_data.isbn_10 || '';
			book.isbn13 = content.meta_data.isbn_13 || '';
			book.dimensions = content.meta_data.boyutlar || '';
			book.authorInfo = content.meta_data.yazar_hakkinda || '';
			book.fileUrl = content.meta_data.kitap_pdf_url?.pdf_dosyasi || '';
			if (typeof content.meta_data.iliskili_kitaplar !== 'string') {
				book.relatedBooks = content.meta_data.iliskili_kitaplar?.map((b) => {
					return {
						id: b.ID,
						title: b.post_title,
						slug: b.post_name,
						thumbnail: b.featured_media.large.url,
						subtitle: b.book_authors ? b.book_authors[0]?.name : '',
					};
				});
			}

			headerStore.setTitle(book.title);

			try {
				const { items } = await getOthers<ILibraryResponse>('library', id);

				others = items.map((i) => {
					let result: IDocumentaryCard = {
						id: i.id,
						slug: i.slug,
						title: i.title.rendered,
						subtitle: i.meta_data.yazar,
					};

					result.thumbnail = i.meta_data.image_details.medium.url || '';

					return result;
				});

				socializer(url, book.seo.title);

				return {
					props: {
						book,
						others,
					},
				};
			} catch (error) {
				return {
					error: `Bir hata oluştu ki sorma! \n${error}`,
				};
			}
		} catch (error) {
			return {
				error: `Hata oldu: \n ${error}`,
			};
		}
	}
</script>

<script lang="ts">
	export let book: ILibraryContent;
	export let others: ILibraryCard[];

	let count: number;
	let index: number;
	let offset: number;
	let progress: number;
	let top = 0.0;
	let threshold = 0.2;
	let bottom = 0.9;

	onMount(() => {
		handleTabsList();

		headerStore.setBack(true);
		headerStore.setShare(true);
		headerStore.setSearch(false);

		pageStore.setBackUrl('/kutuphane');
	});

	onDestroy(() => {
		headerStore.setBack(false);
		headerStore.setShare(false);
	});

	let currentTabId = 0;

	type Tab = {
		id: number;
		name: string;
	};

	let tabs: Tab[] = [
		{
			id: 0,
			name: 'Hepsi',
		},
	];

	const handleTabClick = (e: ITabCustomEvent) => {
		const el = document.querySelector(`[data-tabid='${e.detail}']`);
		const offset = 75;
		const bodyRect = document.body.getBoundingClientRect().top;
		const elementRect = el.getBoundingClientRect().top;
		const elementPosition = elementRect - bodyRect;
		const offsetPosition = e.detail !== 0 ? elementPosition - offset : elementPosition - offset * 2;
		window.scrollTo({
			top: offsetPosition,
			behavior: 'smooth',
		});
		currentTabId = e.detail;
	};

	const handleTabsList = () => {
		if (book.content) {
			tabs.push({ id: 1, name: 'Hakkında' });
		}

		tabs.push({ id: 2, name: 'Kitap Künyesi' });

		if (book.authorInfo) {
			tabs.push({ id: 3, name: 'Yazar Hakkında' });
		}
		if (book.relatedBooks?.length > 0) {
			tabs.push({ id: 4, name: 'Benzer Kitaplar' });
		}
		tabs = [...tabs];
	};
</script>

<Seo {...book.seo} />

<div class="subpage book-detail" id="Subpage" data-tabid="0">
	<Scroller {top} {threshold} {bottom} bind:count bind:index bind:offset bind:progress>
		<div slot="foreground">
			<header class="subpage-header">
				<picture
					class="image-bg"
					style="background-image: url(/img/dummy_library_big.jpg); background-size: cover;"
				>
					{#if book.cover}
						<img src={book.cover} alt={book.title} />
					{:else}
						<img class="card__img" src="/img/dummy_library_big.jpg" alt={book.title} />
					{/if}
				</picture>
				<section class="book-infos">
					<h3 class="book__name title title--second" style="--length:{1 / book.title.length}">
						{@html book.title}
					</h3>
					<h4 class="book__author title title--xs">{book.author}</h4>
					<div class="book-meta">
						{#if book.language}
							<Meta small title="Dil" text={book.language} />
						{/if}
						{#if book.distributor}
							<Meta small title="Dağıtıcı" text={book.distributor} />
						{/if}
						{#if book.pageCount}
							<Meta small title="Sayfa Sayısı" text="{book.pageCount} sayfa" />
						{/if}
					</div>
					{#if book.fileUrl}
						<a
							class="book-download btn btn--black btn--i-left"
							target="_blank"
							download
							href={book.fileUrl}
						>
							<span class="btn__text">Kitabın Önizlemesi</span>
							<span class="btn__icon icon-font">
								<svg class="icon icon-font">
									<use xlink:href="/icons.svg#icon-download" />
								</svg>
							</span>
						</a>
					{/if}
				</section>
			</header>
			<div class="tab" id="Tabs">
				<div class="tab-nav no-button">
					<div class="tab-nav-content">
						<Tabbar {tabs} on:tab-click={handleTabClick} activeIndex={index} />
					</div>
				</div>
			</div>
			<main class="subpage-content">
				{#if book.content}
					<section class="section-wrapper content" id="About" data-tabid="1">
						<div class="section">
							<h4 class="section__title title title--sm">Hakkında</h4>
							<div class="section-content">
								{@html book.content}
							</div>
						</div>
					</section>
				{/if}
				{#if book.tags}
					flsdf
				{/if}
				<section class="subpage-works section-wrapper" id="Tags" data-tabid="2">
					<div class="section">
						<h4 class="section__title title title--sm">Kitap Künyesi</h4>
						<div class="section-content">
							<div class="subpage-tags-list">
								{#if book.author}
									<Meta small title="Yazar" text={book.author} />
								{/if}
								{#if book.pageCount}
									<Meta small title="Sayfa Sayısı" text="{book.pageCount} sayfa" />
								{/if}
								{#if book.language}
									<Meta small title="Dil" text={book.language} />
								{/if}
								{#if book.translation}
									<Meta small title="Çeviri" text={book.translation} />
								{/if}
								{#if book.isbn10}
									<Meta small title="ISBN-10" text={book.isbn10} />
								{/if}
								{#if book.isbn13}
									<Meta small title="ISBN-13" text={book.isbn13} />
								{/if}
								{#if book.distributor}
									<Meta small title="Yayın Evi" text={book.distributor} />
								{/if}
								{#if book.dimensions}
									<Meta small title="Ölçüler" text={book.dimensions} />
								{/if}
							</div>
						</div>
					</div>
				</section>
				{#if book.authorInfo}
					<section class="subpage-similar section-wrapper" id="Author" data-tabid="3">
						<div class="section">
							<h4 class="section__title title title--sm">Yazar Hakkında</h4>
							<div class="section-content">
								{@html book.authorInfo}
							</div>
						</div>
					</section>
				{/if}
				{#if others}
					<section class="subpage-similar section-wrapper" id="Similar" data-tabid="4">
						<div class="section">
							<h4 class="section__title title title--sm">Benzer Kitaplar</h4>
							<div class="subpage-similar-list section-content">
								{#each others as item, index}
									<LibraryCard {...item} {index} />
								{/each}
							</div>
						</div>
					</section>
				{/if}
			</main>
		</div>
	</Scroller>
</div>

<style lang="scss">
	@import '../../styles/component/tab/nav.scss';
	@import '../../styles/component/subpage/index.scss';
	@import '../../styles/component/subpage/header.scss';
	@import '../../styles/component/subpage/section-wrapper.scss';
	@import '../../styles/component/subpage/section.scss';
	@import '../../styles/component/subpage/similar-list.scss';

	.tab {
		position: sticky;
		top: 0;
		background: $c-bg;
	}

	.book-detail {
		.subpage-header {
			padding-bottom: 8rem;
			@include bp(tablet-small-under) {
				display: block;
				padding-bottom: 1rem;
			}
		}
		.section-content {
			padding-right: var(--text-content-padding);
		}
		picture {
			height: 58rem;
			width: 41rem;
			position: relative;
			z-index: 1;
			border-radius: 1rem;
			box-shadow: 0 50px 40px -30px rgba($c-black, 0.4);
			@include bp(laptop) {
				height: 52rem;
				width: 37rem;
			}
			@include bp(tablet-small-under) {
				margin-left: auto;
				margin-right: auto;
				width: 40rem;
				display: block;
			}
			@include bp(mobile-l-small) {
				width: 100%;
				height: 120vw;
			}
			img {
				border-radius: 1rem;
				object-fit: cover;
				width: inherit;
				height: inherit;
			}
		}
	}

	.book-infos {
		margin-left: 6rem;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		@include bp(tablet-small-under) {
			width: 100%;
			margin-left: 0;
			margin-top: 4rem;
		}
		.book {
			&__name {
				max-width: 55rem;
				font-weight: 400;
				line-height: 1.3;
				font-size: 4rem;
				font-size: clamp(
					4rem,
					calc(var(--font-size-title--xl) * var(--length) * 50),
					var(--font-size-title--xl)
				);
				display: -webkit-box;
				-webkit-line-clamp: 3;
				-webkit-box-orient: vertical;
				overflow: hidden;
				text-overflow: ellipsis;
				@include bp(laptop) {
					font-size: clamp(
						4rem,
						calc(var(--font-size-title--xl) * var(--length) * 43),
						var(--font-size-title--xl)
					);
				}
				@include bp(tablet-small-under) {
					margin-left: auto;
					margin-right: auto;
					text-align: center;
				}
			}
			&__author {
				margin-top: 1rem;
				@include bp(tablet-small-under) {
					margin-left: auto;
					margin-right: auto;
					text-align: center;
					padding-bottom: 3rem;
					border-bottom: $s-border;
					width: 100%;
				}
			}

			&-meta {
				margin-top: 7rem;
				display: grid;
				justify-content: space-between;
				grid-template-columns: repeat(2, 1fr);
				grid-row-gap: 4rem;
				grid-column-gap: 5rem;
				max-width: 40rem;
				position: relative;
				margin-bottom: 3rem;

				@include bp(tablet-small-under) {
					margin-left: auto;
					margin-right: auto;
					margin-top: 4rem;
					grid-template-columns: repeat(3, 1fr);
					max-width: 55rem;
				}
				@include bp(mobile) {
					grid-template-columns: repeat(2, 1fr);
					max-width: unset;
					width: 100%;
				}
				@include bp(mobile-x-small) {
					grid-template-columns: repeat(1, 1fr);
				}
				&::after {
					content: '';
					width: calc(100vw - var(--sidebar-width) - 40.5rem);
					height: 1px;
					background: $c-border;
					position: absolute;
					top: -4rem;
					left: -16rem;
					@include bp(tablet) {
						width: calc(100vw - 6rem - 34rem);
						left: -7rem;
					}
					@include bp(tablet-small-under) {
						content: unset;
					}
				}
				:global(.meta) {
					@include bp(mobile) {
						min-width: 40%;
					}
				}
				:global(.meta__title) {
					font-weight: 600;
					font-size: 1.4rem;
					color: $c-title;
				}

				:global(.meta__text) {
					font-size: 1.8rem;
					font-weight: 300;
				}
			}

			&-download {
				margin-top: auto;
				@include bp(tablet-small-under) {
					width: 100%;
					margin-top: 4rem;
				}
			}
		}
	}

	.subpage {
		&-tags-list {
			display: grid;
			justify-content: space-between;
			grid-template-columns: repeat(2, 1fr);
			grid-row-gap: 2rem;
			grid-column-gap: 2rem;
			max-width: 80rem;
		}
		&-similar-list {
			padding-right: 0 !important;
			:global(.card) {
				width: 100%;
				max-width: 38rem;
			}
			@include bp(mobile) {
				:global(.card) {
					min-width: 36rem;
				}
			}
		}
	}
</style>
