<script context="module" lang="ts">
	import { libraryStore } from '$stores/library.store';
	import { pageStore } from '$stores/page.store';
	import type { LoadOutput } from '@sveltejs/kit';
	import { onMount, tick } from 'svelte';
	import { get } from 'svelte/store';

	export async function load(): Promise<LoadOutput> {
		const { categories, items } = get(libraryStore);

		if (categories.length < 2) {
			await libraryStore.setCategories();
		}

		const { activeCategoryId } = get(libraryStore);

		if (items[activeCategoryId].hasNext && items[activeCategoryId].items.length === 0) {
			await libraryStore.setItems(activeCategoryId, 1);
		}
		return {
			status: 200
		};
	}
</script>

<script lang="ts">
	onMount(async () => {
		await tick();
		pageStore.setCurrentSection('library');
	});
</script>

<slot />
