<script context="module" lang="ts">
	export async function load() {
		const content = await getSeoData('library');
		seoStore.setSeoContent('library', content);

		return {
			status: 200,
		};
	}
</script>

<script lang="ts">
	import GhostCard from '$components/Cards/GhostCard.svelte';
	import GhostLoader from '$components/Cards/GhostLoader.svelte';
	import LibraryCard from '$components/Cards/LibraryCard.svelte';
	import SearchResults from '$components/Common/SearchResults.svelte';
	import Tabbar from '$components/Common/Tabbar.svelte';
	import Seo from '$components/Global/Seo.svelte';
	import { getSeoData } from '$lib/services/seo.service';
	import type { ITabCustomEvent } from '$lib/types';
	import { headerStore } from '$stores/header.store';
	import { libraryStore } from '$stores/library.store';
	import { searchStore } from '$stores/search.store';
	import { seoStore } from '$stores/seo.store';
	import { onDestroy, onMount } from 'svelte';

	onMount(() => {
		headerStore.setIcon('kutuphane');
		headerStore.setTitle('Kütüphane');
		headerStore.setSearch(true);
	});

	onDestroy(() => {
		searchStore.setLoaded(false);
	});

	$: currentCategory = $libraryStore.items[$libraryStore.activeCategoryId];

	$: nextLoadable =
		currentCategory.hasNext && currentCategory.isLoaded && currentCategory.items.length !== 0;

	const setTab = async (e: ITabCustomEvent) => {
		const id = e.detail;

		libraryStore.setActiveCategory(id);

		if ($libraryStore.items[id].hasNext && $libraryStore.items[id].items.length === 0) {
			await libraryStore.setItems(id, 1);
		}
	};
	const handleLoadMore = () => {
		libraryStore.setPage(currentCategory.page, $libraryStore.activeCategoryId);
		libraryStore.setItems($libraryStore.activeCategoryId, currentCategory.page);
	};
</script>

<Seo {...$seoStore.library} />

<div class="tab">
	{#if !$searchStore.visible}
		<div class="tab-nav">
			<div class="tab-nav-content">
				<Tabbar tabs={$libraryStore.categories} on:tab-click={setTab} />
			</div>
		</div>
	{/if}
	<div class="tab-content">
		{#if $searchStore.visible}
			<SearchResults />
		{:else if currentCategory}
			{#key $libraryStore.activeCategoryId}
				<section class="books list-grid">
					{#each currentCategory.items as book, index}
						<LibraryCard {...book} {index} />
					{:else}
						{#each Array(6) as a}
							<GhostCard />
						{/each}
					{/each}
				</section>
				{#if nextLoadable}
					<GhostLoader on:loading={handleLoadMore} />
				{/if}
			{/key}
		{/if}
	</div>
</div>

<style lang="scss">
	@import '../../styles/component/tab/index.scss';
	@import '../../styles/component/list-grid.scss';
</style>
