<script context="module" lang="ts">
	import { getExhibitionCards, getExhibitionCategories } from '$lib/services/exhibition.service';

	import { exhibitionStore } from '$stores/exhibition.store';
	import { pageStore } from '$stores/page.store';
	import type { LoadOutput } from '@sveltejs/kit/types/internal';
	import { onMount, tick } from 'svelte';
	import { get } from 'svelte/store';

	export async function load(): Promise<LoadOutput> {
		const { categories } = get(exhibitionStore);
		pageStore.setLoading(false);

		if (categories?.length === 0) {
			const categories = await getExhibitionCategories();
			exhibitionStore.setCategories(categories);
			exhibitionStore.setItemCategories(categories);
		}
		const { activeCategoryId, items } = get(exhibitionStore);

		if (items[activeCategoryId].hasNext && items[activeCategoryId].items.length === 0) {
			const { items, page, next } = await getExhibitionCards({
				categoryId: activeCategoryId,
				page: 1,
			});

			exhibitionStore.setItems(items, activeCategoryId);
			exhibitionStore.setNext(next, activeCategoryId);
			exhibitionStore.setPage(page, activeCategoryId);
		}

		return {
			status: 200,
		};
	}
</script>

<script lang="ts">
	onMount(async () => {
		await tick();
		pageStore.setCurrentSection('exhibitions');
	});
</script>

<slot />
