<script context="module" lang="ts">
	export async function load() {
		const content = await getSeoData('exhibitions');
		seoStore.setSeoContent('exhibitions', content);

		return {
			status: 200,
		};
	}
</script>

<script lang="ts">
	import ExhibitCard from '$components/Cards/ExhibitCard.svelte';
	import GhostLoader from '$components/Cards/GhostLoader.svelte';
	import SearchResults from '$components/Common/SearchResults.svelte';
	import Tabbar from '$components/Common/Tabbar.svelte';
	import Seo from '$components/Global/Seo.svelte';
	import { getExhibitionCards } from '$lib/services/exhibition.service';
	import { getSeoData } from '$lib/services/seo.service';
	import type { ITabCustomEvent } from '$lib/types';
	import { exhibitionStore } from '$stores/exhibition.store';
	import { headerStore } from '$stores/header.store';
	import { searchStore } from '$stores/search.store';
	import { seoStore } from '$stores/seo.store';
	import { onDestroy, onMount } from 'svelte';

	onMount(() => {
		headerStore.setTitle('Sergiler');
		headerStore.setIcon('sergi');
		headerStore.setSearch(true);
	});

	onDestroy(() => {
		searchStore.setLoaded(false);
	});

	let activeCategoryId = $exhibitionStore.activeCategoryId;

	$: currentCategory = $exhibitionStore.items[activeCategoryId];

	$: nextLoadable = currentCategory.hasNext;

	const handleLoadMore = async () => {
		const hasItems = currentCategory.items.length > 0;

		const page = hasItems ? currentCategory.page + 1 : 1;
		const { items, next } = await getExhibitionCards({
			categoryId: $exhibitionStore.activeCategoryId,
			page,
		});

		exhibitionStore.setMoreItems(items, $exhibitionStore.activeCategoryId);
		exhibitionStore.setNext(next, $exhibitionStore.activeCategoryId);
		exhibitionStore.setPage(page, $exhibitionStore.activeCategoryId);
	};

	const setTab = async (e: ITabCustomEvent) => {
		activeCategoryId = e.detail;
		exhibitionStore.setActiveCategory(activeCategoryId);
	};

	$: activeCategoryIndex = $exhibitionStore.categories.findIndex((e) => e.id === activeCategoryId);
</script>

<Seo {...$seoStore.exhibitions} />

<div class="tab">
	{#if !$searchStore.visible}
		<div class="tab-nav">
			<div class="tab-nav-content">
				<Tabbar
					tabs={$exhibitionStore.categories}
					on:tab-click={setTab}
					activeIndex={activeCategoryIndex}
				/>
			</div>
		</div>
	{/if}
</div>

<div class="tab-content">
	{#if $searchStore.visible && $searchStore.loaded}
		<SearchResults />
	{:else if currentCategory}
		<section class="exhibits list-grid">
			{#key $exhibitionStore.activeCategoryId}
				{#each currentCategory.items as exhibition, index}
					<ExhibitCard
						isArtist={$exhibitionStore.activeCategoryId === -1}
						{...exhibition}
						{index}
					/>
				{/each}
			{/key}
		</section>
		{#if nextLoadable}
			<GhostLoader on:loading={handleLoadMore} />
		{/if}
	{/if}
</div>

<style lang="scss">
	@import '../../styles/component/tab/index.scss';
	@import '../../styles/component/list-grid.scss';
</style>
