.btn {
  width: auto;
  border-radius: 4.5rem;
  text-align: center;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 9rem;
  user-select: none;
  position: relative;
  transition: $transition;
  font-size: 2rem;
  font-weight: 500;
  padding: 0 8rem;
  min-width: 25rem;
  cursor: pointer;
  box-sizing: border-box;
  @include bp(tablet-small-under) {
    padding: 0 3rem;
    font-size: 1.6rem;
  }

  &__text {
    transition: 0.1s;
  }

  &__icon {
    transition: 0.1s;
  }

  &--md {
    height: 7rem;

    .btn__text {
      font-size: 1.6rem;
    }
  }

  &--black {
    color: #fff;
    background: $c-title;

    &:not(.btn--i):hover,
    &:not(.btn--i):focus {
      background: darken(#2f2c2a, 10%);
      color: #fff;
    }
  }

  &--white {
    background: #fff;
    color: $c-title;

    &:not(.btn--i):hover,
    &:not(.btn--i):focus {
      color: $c-first;

      .btn__icon {
        color: $c-first;
      }
    }
  }

  &--beige {
    background-color: $c-bg-light;
    color: $c-title;

    &:hover {
      background-color: darken(#e5e0d8, 2%);
    }
  }

  &--link {
    padding: 0;
    min-width: unset;
    font-size: 2rem;
    height: auto;
    background: transparent !important;
    text-decoration: underline;
    color: $c-title;
    font-weight: 600;
    &:hover {
      background: transparent !important;
      color: $c-first;
    }

    &.btn--white {
      color: #fff !important;

      .btn {
        &__icon {
          color: #fff !important;
        }
      }
    }
  }

  &--i {
    min-width: unset;
    width: 5.6rem;
    height: 5.6rem;
    padding: 0;
    border-radius: 50%;
    border: 1px solid $c-border;
    transition: $transition-fast;

    .btn {
      &__icon {
        font-size: 2.5rem;
        height: 1em;
      }
    }

    &.btn--md{
      width: 6.6rem;
      height: 6.6rem;
      @include bp(tablet) {
        width: 5.4rem;
        height: 5.4rem;
        .btn__icon {
          font-size: 2rem;
        }
      }
    }

    &.btn--beige {
      background-color: $c-bg-light;
      color: $c-title;
     
      &:hover {
        background-color: darken(#e5e0d8, 2%);
      }
    }
    &.btn--white {
      background-color: #fff;
      color: $c-title;

      &:hover {
        background-color: $c-title;

        .btn__icon {
          color: #fff;
        }
      }
    }

    &.btn--ellipse {
      border-radius: 3.2rem;
      height: 7.4rem;
      @include bp(tablet-small-under) {
        height: 5.6rem;
        width: 5.6rem;
      }
    }
  }

  &--i {
    &-left,
    &-right {
      .btn__icon {
        position: absolute;
        font-size: 2.2rem;
      }
    }

    &-left {
      padding-left: 12rem;
      @include bp(tablet-small-under) {
        padding-left: 6rem;
      }
      .btn {
        &__icon {
          left: 4rem;
          
        }
      }
    }

    &-right {
      padding-right: 12rem;
      @include bp(tablet-small-under) {
        padding-right: 6rem;
      }
      .btn {
        &__icon {
          right: 4rem;
      
        }
      }
    }
  }

  &--full {
    width: 100%;
    display: flex;
  }
}
