.input {
  outline: none;
  width: 100%;
  color: $c-black;
  font-size: 1.8rem;
  padding: 0 2.1rem;
  height: 100%;
  border-radius: 2.4rem;
  background: $c-bg-light;
  border: 1px solid $c-border;
  transition: $transition-fast;
  font-weight: 500;
  -webkit-appearance: none;

  &[disabled] {
    opacity: .5;
    background: rgba($c-black, .15);
  }

  &::placeholder {
    color: rgba($c-black, .4);
    font-weight: 400;
  }

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  &[type="number"] {
    -moz-appearance: textfield;
  }

  &:focus {
    border-color: $c-black;
  }

  &-group {
    margin-bottom: 3rem;
    position: relative;
    &__title {
      color: $c-black;
      opacity: .5;
      font-weight: 400;
      font-size: 1.6rem;
      margin-bottom: 1rem;
    }
  }

  &-outer {
    width: 100%;
    height: var(--input-height);
    position: relative;
    overflow: hidden;
    transition: .3s;
    display: flex;


    &.input-error {
      margin-bottom: 3.5rem !important;
      overflow: initial;

      .input {
        border: 1px solid #cc0000 !important;
      }
    }

    &--textarea {
      align-items: flex-start;
      //overflow: hidden;
      height: auto;

      .input {
        resize: none;
        overflow-y: auto;
        height: auto;
        padding: 2rem 2.6rem;
        line-height: 1.5em;
        min-height: 18rem;
      }
    }

  }
  &-disabled {
    pointer-events: none;
    border-color: transparent;
  }
}
.error-message {
  margin-bottom: 0;
  color: $c-red;
  font-weight: 600;
  font-size: 1.3rem;
  position: absolute;
  bottom: -2rem;
  line-height: 1em;
  letter-spacing: .08px;
}

input:-internal-autofill-selected {
  border-radius: 1rem
}

textarea[data-autoheight=true] {
  overflow: visible;
}

