.toptitle {
  font-size: var(--font-size-toptitle);
  line-height: 1.45em;
  margin-bottom: 0.75em;
  font-weight: 600;
  color: $c-title;
  display: flex;
  align-items: center;
}

.title {
  font-style: normal;
  line-height: 1.45em;
  color: $c-title;
  font-weight: 500;

  &--second {
    font-family: $font-family-second;
  }

  &--underlined {
    text-decoration: underline;
  }

  span.color-red {
    color: $c-red;
  }

  &--orange {
    color: $c-orange !important;
  }

  &--white {
    color: #fff !important;
  }

  &--gray {
    color: #8e9093 !important;
  }

  &--xxl {
    font-size: var(--font-size-title--xxl);
    line-height: 1.1em;
  }

  &--xl {
    font-size: var(--font-size-title--xl);
    line-height: 1.4em;
  }

  &--lg {
    font-size: var(--font-size-title--lg);
    line-height: 1.6em;
  }

  &--mlg {
    font-size: var(--font-size-title--mlg);
  }

  &--xmd {
    font-size: var(--font-size-title--xmd);
  }

  &--md {
    font-size: var(--font-size-title--md);
  }

  &--sm {
    font-size: var(--font-size-title--sm);
  }

  &--xsm {
    font-size: var(--font-size-title--xsm);
    font-weight: 600;
    line-height: 1.6em;
  }

  &--xs {
    font-size: var(--font-size-title--xs);
    font-weight: 500;
    line-height: 1.6em;
  }

  &--xxs {
    font-size: var(--font-size-title--xxs);
    font-weight: 500;
    line-height: 1.6em;
  }

  &--page {
    font-family: $font-family-second;
    font-weight: 500;
    display: flex;
    align-items: center;

    &.title--white {
      .title__icon {
        color: #fff;
      }
    }

    .title__icon {
      margin-right: 2rem;
      font-size: 3rem;
      display: flex;
      align-items: center;
      color: $c-title;
    }

    img.title__icon {
      width: 1em;
      height: 1em;
      object-fit: contain;
      font-size: 3rem;
    }
  }

  &--letter {
    font-size: 20rem;
    font-family: $font-family-second;
    line-height: 1em;
    font-weight: 100;
    color: rgba($c-title, 0.3);
    @include bp(tablet) {
      font-size: 17rem;
    }
    @include bp(mobile) {
      font-size: 12rem;
    }
  }
}

.text {
  font-size: var(--font-size-text);
  line-height: 1.45em;
  //margin-bottom: .75em;
  font-weight: 400;
  color: $c-text;

  &--second {
    font-family: $font-family-second;
    font-weight: 500;
    font-size: 2rem;
    color: $c-title;
  }

  &--dark {
    color: $c-text--full;
  }
}

blockquote {
  background: $c-bg-light;
  border: 1px solid $c-border;
  padding: 5rem 5rem 5rem 3rem;
  position: relative;
  font-family: $font-family-second;
  display: flex;
  font-size: 2.1rem;
  line-height: 1.8;
  font-weight: 600;
  color: $c-title;
  width: 100%;
  @include bp(mobile-m-small) {
    display: block;
    padding: 3rem;
  }
  &::before {
    content: "“";
    font-size: 10rem;
    position: relative;
    top: 1rem;
    color: rgba($c-title, 0.3);
    display: block;
    margin-right: 4rem;
    line-height: 1em;
    height: 5rem;
    @include bp(mobile-m-small) {
      float: left;
      margin-right: 2rem;
    }
  }
}
