@for $i from 0 through 6 {
  .mb-#{$i} {
    margin-bottom: #{$i}rem;
  }
  .mbi-#{$i} {
    margin-bottom: #{$i}rem !important;
  }
  .mt-#{$i} {
    margin-top: #{$i}rem;
  }
  .ml-#{$i} {
    margin-left: #{$i}rem;
  }
  .mr-#{$i} {
    margin-right: #{$i}rem;
  }
  .pb-#{$i} {
    padding-bottom: #{$i}rem;
  }
  .pt-#{$i} {
    padding-top: #{$i}rem;
  }
  .pi-#{$i} {
    padding: #{$i}rem !important;
  }
  .pri-#{$i} {
    padding-right: #{$i}rem !important;
  }
}

@include bp(tablet-small-under) {
  @for $i from 0 through 6 {
    .mb-mobile-#{$i} {
      margin-bottom: calc($i / 2);
    }
  }
}

.scroll-disabled {
  overflow: hidden;
  height: 100vh;
  position: fixed;
}

.text-center {
  text-align: center;
}

hr.divider {
  border-top: 0;
  border-color: $c-border;
}
@for $i from 1 through 10 {
  .divider--#{$i} {
    margin: #{$i}rem 0;
  }
}

@include bp(tablet-small-under) {
  @for $i from 1 through 10 {
    .divider--mobile-#{$i} {
      margin: #{$i/2}rem 0;
    }
  }
}
.w-100 {
  width: 100%;
}

@for $i from 3 through 6 {
  .fw-#{$i*100} {
    font-weight: #{$i * 100} !important;
  }
}
.fw-bold {
  font-weight: bold !important;
}
