/* Colors */
$c-bg: #e5e0d8;
$c-bg-light: #f2eee8;
//$c-dark-bg: #26282E;

$c-red: #be3e3e;
$c-green: #327128;
$c-black: #2f2c2a;
$c-text--full: $c-black;
$c-text: rgba($c-text--full, 0.7);

$c-border: #d3cec8;

$c-first: $c-red;
$c-title: $c-black;

$c-badge-bg: #fff;
$c-divider-dark: rgba(#6e6e6e, 0.2);
$c-divider-light: rgba(#6e6e6e, 0.05);

$s-border: 1px solid $c-border;

//$c-button-light: #f7f8fa;
//$c-button-light--focus: #c5cdd6;
$c-divider: #dae0e8;
$c-orange: #ffa134;
$c-blue: #2558ce;
$c-fb-blue: #5d82c7;
$c-white: #ffffff;
$c-yellow: #b9915e;
$c-light: #e1e7ef;
$c-gray: rgba($c-black, 0.5);
$c-second: $c-yellow;

$c-shadow: #0c1c3c;

$c-border: rgba($c-title, 0.1);

//$c-breadcrumb-icon: #343230;

/* Font Sizes */

/* Font Families*/
$font-family-base: "Gilroy", sans-serif;
$font-family-second: "Recoleta Alt", sans-serif;

$font-sans: "Gilroy", sans-serif;
$font-serif: "Recoleta Alt", serif;

/* Box Shadows */
$button-shadow: 0px 1px 3px rgba(0, 0, 0, 0.08), 0px 4px 4px rgba(50, 50, 93, 0.11);
$button-shadow--hover: 0px 7px 14px rgba(50, 50, 93, 0.1), 0px 3px 6px rgba(0, 0, 0, 0.08);
$box-shadow: 0 1.4rem 3.6rem -1.5rem rgba($c-shadow, 0.15);
$box-shadow--intense: 0 5rem 3.6rem -4rem rgba($c-shadow, 0.3);

/* Button */

/* Normal Padding */
$padding-normal: 20px;

$transition: 0.3s cubic-bezier(0.29, 0.13, 0.27, 0.74);
$transition-normal: 0.25s ease-in-out;
$transition-fast: 0.2s cubic-bezier(0.29, 0.13, 0.27, 0.74);
$transition-slider: 0.6s;

:root {
  --font-size-body: 9px;
  --font-size-title--xxl: 7.2rem;
  --font-size-title--xl: 6.4rem;
  --font-size-title--lg: 5.4rem;
  --font-size-title--mlg: 4.6rem;
  --font-size-title--md: 3.4rem;
  --font-size-title--sm: 2.6rem;
  --font-size-title--xs: 2.4rem;
  --font-size-title--xsm: 2.2rem;
  --font-size-title--xxs: 2rem;
  --font-size-toptitle: 1.8rem;
  --font-size-text: 1.8rem;
  --sidebar-width: clamp(30rem, 30vw, 60rem);
  --header-height: 16rem;
  --padding-lr: 5.4rem;
  --page-padding: 7.4rem;
  --swiper-theme-color: $c-black;
  --swiper-pagination-color: $c-black;
  --container-gutter: 16px;
  --input-height: 6.8rem;
  --form-content-padding: 7rem;
  --page-padding-x: 7.4rem;
  --page-padding-y: 5rem;
  --max-page-width: 150rem;
  // --max-page-width: calc(100vw - var(--sidebar-width) - var(--page-padding-x)*2);
  --statbox-height: 30rem;
  --selector-height: 10rem;
  --text-content-padding: 20rem;
  --list-row-gap: 5rem;
  --list-column-gap: 10rem;
  --timeline-width: 22rem;
  --big-card-image-height: 33rem;
  --video-card-height: 33rem;
  --video-card-width: 28rem;

  @media (min-width: 576px) {
    --container-width: 540px;
  }

  @media (min-width: 768px) {
    --container-width: 720px;
  }
  @media (min-width: 992px) {
    --container-width: 960px;
  }
  @media (min-width: 1200px) {
    --container-width: 1150px;
  }
  @include bp(r-laptop-s) {
    --container-width: 140rem;
  }
  @include bp(r-desktop-m) {
    --container-width: 156rem;
  }
  @include bp(r-desktop-xl) {
    --container-width: 140rem;
    --max-page-width: unset;
    --page-padding-x: calc((100vw - var(--container-width) - var(--sidebar-width)) / 2);
  }
  @include bp(desktop-l) {
    --max-page-width: 166rem;
  }
  @media (max-width: 1600px) {
    --list-column-gap: 6rem;
  }
  @include bp(tablet) {
    --header-height: 12rem;
  }

  @include bp(laptop) {
    --list-column-gap: 5rem;
    --page-padding-x: 5rem;
    --text-content-padding: 10rem;
  }
  @include bp(laptop-s) {
    --list-column-gap: 4rem;
    --list-row-gap: 4rem;
    --page-padding-x: 4rem;
  }
  @include bp(desktop) {
    --sidebar-width: 54rem;
    --big-card-image-height: 17vw;
    --video-card-height: 34rem;
    --video-card-width: 28rem;

    --font-size-title--xxl: 5rem;
    --font-size-title--xl: 5.2rem;
    --font-size-title--lg: 4rem;
    --font-size-title--mlg: 3.8rem;
    --font-size-title--xmd: 3.5rem;
    --font-size-title--md: 3.2rem;
    --font-size-title--sm: 3rem;
    --font-size-title--xs: 1.8rem;
    --font-size-title--xxs: 2rem;
    --font-size-toptitle: 1.8rem;
  }
  @include bp(tablet) {
    --sidebar-width: 100%;
    --padding-lr: 4rem;
    --page-padding-x: 4rem;
    --text-content-padding: 0;
    --big-card-image-height: 25vw;

    --font-size-text: 1.8rem;
  }
  @include bp(tablet-small-under) {
    --container-gutter: 24px;
    --list-column-gap: var(--container-gutter);
    --list-row-gap: var(--container-gutter);
    --padding-lr: var(--container-gutter);
    --page-padding-x: var(--container-gutter);
    --page-padding-y: 3rem;
    --timeline-width: 13rem;

    --font-size-title--xxl: 4.5rem;
    --font-size-title--xl: 5rem;
    --font-size-title--lg: 3.6rem;
    --font-size-title--md: 3rem;
    --font-size-title--sm: 2.6rem;

    --font-size-title--mlg: 24px;
    --font-size-title--xs: 19px;
    --font-size-title--xxs: 20px;
    --font-size-toptitle: 16px;
  }
  @include bp(mobile) {
    --container-gutter: 25px;
    --container-pusher: 16px;
    --big-card-image-height: 32vw;
    --video-card-width: 50vw;
    --video-card-height: 60vw;
  }
  @include bp(mobile-l-small) {
    --big-card-image-height: 40vw;
    --video-card-width: 100%;
    --video-card-height: 80vw;
  }
  @include bp(mobile-m-small) {
    // --header-height: 13rem;
  }
  @include bp(mobile-x-small) {
    --container-gutter: 16px;
  }
}
