html,
body {
  //overflow-x: hidden;
  width: 100%;
  min-height: 100vh;
  /* mobile viewport bug fix */
  min-height: -webkit-fill-available;
}

html {
  font-size: 9px;
  scroll-behavior: smooth;
  @include bp(desktop-l) {
    font-size: 8px;
  }
  @include bp(desktop-m) {
    font-size: 7px;
  }
  @include bp(desktop) {
    font-size: 7px;
  }
  @include bp(tablet) {
    font-size: 8px;
  }
}

body {
  font-family: $font-family-base;
  font-size: 1.6rem;
  background-color: $c-bg;
  color: $c-text;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility !important;
}

.container {
  max-width: var(--container-width);
}

.color-white {
  color: #fff !important;
}

// Swiper Settings
.swiper-pagination {
  z-index: 2 !important;

  &-bullet {
    width: 2rem !important;
    height: 2rem !important;
    background-color: $c-black;
    opacity: 0.5 !important;
    border: 1rem solid transparent;
    transform: scale(.5);
    position: relative;
    transition: $transition;
    &::before {
      content: '';
      opacity: 0;
      width: 1rem;
      height: 1rem;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: scale(0) translate(-50%, -50%);
      border-radius: 50%;
      transition: $transition;
      background: $c-bg;
      transition-delay: .1s;
      transform-origin: top left;
    }

    &-active {
      opacity: 1 !important;
      border-color: $c-black !important;
      background-color: $c-bg !important;
      transform: scale(1);

      &::before {
        opacity: 1;
        transition-delay: 0s;
        transform: scale(1) translate(-50%, -50%);
      }

      &-prev {
        transform: scale(1) !important;

        &-prev {
          transform: scale(1) !important;
        }
      }

      &-next {
        transform: scale(1) !important;

        &-next {
          transform: scale(1) !important;
        }
      }
    }
  }
}

.swiper.visible-active {
  overflow: visible;

  .swiper-slide {
    opacity: 0;
    transition: 0.3s;
    pointer-events: none;

    &.is-visible {
      opacity: 1;
      transition: 0.3s;
      transform: translateZ(0) scale(1, 1);
      pointer-events: all;
    }
  }
}

.overlay {
  background: rgba(#2f2c2a, 0.65);
  position: fixed;
  z-index: 4;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  top: 0;
  left: 0;
  transition: $transition;
  opacity: 0;
  pointer-events: none;

  &.active {
    opacity: 1;
    pointer-events: all;
  }
}

.nice-scroll {
  &::-webkit-scrollbar {
    width: 4px;
  }

  &::-webkit-scrollbar-track {
    background: rgba($c-black, 0.1);
  }

  &::-webkit-scrollbar-thumb {
    background: rgba($c-black, 0.3);
  }
}

.hidden {
  display: none;
}


.ytp-chrome-top-buttons {
  display: none !important;
}
.fit-img{
  object-fit: contain!important;
}

.swiper-button-lock{
  display: none!important;
}
.meta__title {
  b {
      font-weight: 500 !important;
      font-size: 2rem;
  }
}
