.header {
  display: flex;
  align-items: center;
  width: var(--sidebar-width);
  //z-index: 2;
  height: var(--header-height);
  padding: 0 var(--padding-lr);
  border-bottom: 1px solid $c-border;
  flex-shrink: 0;
  @include bp(tablet) {
    flex-direction: row-reverse;
    justify-content: space-between;
  }
  &.active {
    z-index: 6;
    //background: red;

    .header-logo,
    .header-main_logo {
      z-index: 7;
    }

    .header-right {
      //position: absolute;
      //right: 0;
      //width: 100%;

      &::after {
        opacity: 1;
        pointer-events: all;
      }
    }

    .header-menu-item {
      pointer-events: all;
    }
  }

  &-logo {
    height: 7rem;

    img {
      height: inherit;
    }
  }

  &-menu_open {
    position: relative;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    cursor: pointer;
    //transition: $transition;
    flex-shrink: 0;
    margin-right: 5rem;
    //padding: 1.5rem 0;
    width: 30px;
    height: 30px;
    background: linear-gradient(to top, transparent 44%, $c-title 44.1%, $c-title 50%, transparent 50.1%);
    display: block;
    position: relative;
    @include bp(tablet) {
      margin-right: 0;
      width: 25px;
      height: 25px;
    }
    &::before,
    &::after {
      content: "";
      height: 2px;
      width: 20px;
      position: absolute;
      top: 0;
      left: 0;
      background-color: $c-title;
      transition: $transition;
      cursor: pointer;
      @include bp(tablet) {
        width: 17px;
      }
    }

    &::after {
      top: unset;
      bottom: -2px;
    }

    &.active {
      background: transparent;
      transition: $transition-fast;

      &::before {
        transform: translateY(14px) translateX(1px) rotate(46deg) scale(-1);
        width: 30px;
        margin-left: 0;
        @include bp(tablet) {
          transform: translateY(11px) translateX(1px) rotate(46deg) scale(-1);
        }
      }

      &::after {
        transform: translateY(-16px) rotate(-46deg) scale(-1);
        width: 30px;
        @include bp(tablet) {
          width: 30px;
          transform: translateY(-14px) rotate(-46deg) scale(-1);

        }
      }
    }
  }
}
