<script lang="ts">
	import AnimationCard from '$components/Cards/AnimationCard.svelte';

	import Card from '$components/Cards/Card.svelte';
	import LibraryCard from '$components/Cards/LibraryCard.svelte';
	import ProjectCard from '$components/Cards/ProjectCard.svelte';
	import VirtualTourCard from '$components/Cards/VirtualTourCard.svelte';
	import SliderNav from '$components/Common/SliderNav.svelte';
	import { getProjectsByCategory } from '$lib/services/project.service';
	import type { BreakpointOptions, IProjectCard } from '$lib/types';
	import { onMount } from 'svelte';
	import { Navigation, Pagination } from 'swiper';
	import 'swiper/css';
	import 'swiper/css/navigation';
	import 'swiper/css/pagination';
	import { Swiper, SwiperSlide } from 'swiper/svelte';

	export let id: number;
	export let type: string;

	let projects: IProjectCard[] = [];
	let breakpoints: BreakpointOptions = {};
	if (id === 4) {
		breakpoints = {
			320: {
				spaceBetween: 20,
				slidesPerView: 1.2,
			},
			425: {
				spaceBetween: 20,
				slidesPerView: 1.4,
			},
			480: {
				spaceBetween: 20,
				slidesPerView: 1.6,
			},
			576: {
				spaceBetween: 20,
				slidesPerView: 2,
			},
			768: {
				spaceBetween: 50,
				slidesPerView: 2.2,
			},
			840: {
				spaceBetween: 50,
				slidesPerView: 2.6,
			},
			992: {
				spaceBetween: 50,
				slidesPerView: 2.2,
			},
			1100: {
				spaceBetween: 50,
				slidesPerView: 2.6,
			},
			1200: {
				spaceBetween: 50,
				slidesPerView: 3,
			},
			1367: {
				spaceBetween: 50,
				slidesPerView: 3,
			},
			1560: {
				spaceBetween: 60,
				slidesPerView: 3,
			},
			1920: {
				spaceBetween: 100,
				slidesPerView: 3,
			},
		};
	} else {
		breakpoints = {
			320: {
				spaceBetween: 20,
				slidesPerView: 1.2,
			},
			425: {
				spaceBetween: 20,
				slidesPerView: 1.4,
			},
			576: {
				spaceBetween: 20,
				slidesPerView: 1.8,
			},
			768: {
				spaceBetween: 20,
				slidesPerView: 2,
			},
			1200: {
				spaceBetween: 40,
				slidesPerView: 2,
			},
		};
	}

	onMount(async () => {
		projects = await getProjectsByCategory(id);
	});
</script>

{#if projects.length > 0}
	<section id="slider{id}" class="projects-slider slider-section">
		<Swiper
			pagination={{ el: '#slider' + id + ' .swiper-pagination-custom', clickable: true }}
			navigation={{
				nextEl: '#slider' + id + ' .next',
				prevEl: '#slider' + id + ' .prev',
			}}
			{breakpoints}
			modules={[Navigation, Pagination]}
		>
			{#each projects as project, index}
				<SwiperSlide>
					{#if project.projectId === 7}
						<AnimationCard {...project} />
					{:else if project.projectId === 6}
						<VirtualTourCard {...project} slug="" {index} />
					{:else if project.projectId === 5}
						<AnimationCard {...project} />
					{:else}
						<ProjectCard {...project} />
					{/if}
				</SwiperSlide>
			{/each}
		</Swiper>
		<div class="slider-section-nav-wrapper">
			<div class="swiper-pagination swiper-pagination-custom" />
			<SliderNav />
		</div>
	</section>
{/if}

<style lang="scss">
	@import '../../styles/component/slider-section.scss';
	.projects {
		padding: var(--page-padding-y) 0;

		&-section {
			padding: 0 var(--page-padding-x);
			max-width: var(--max-page-width, unset);
		}

		:global(.slider-section-nav-wrapper) {
			position: relative;
			padding-bottom: 0;
			padding-top: 0;
		}

		&-slider {
			max-width: var(--max-page-width, unset);

			:global(.card) {
				max-width: unset;
				@include bp(tablet-small-under) {
					min-width: unset !important;
				}
			}

			:global(.swiper) {
				padding: var(--page-padding-y) var(--page-padding-x);
			}

			:global(.swiper-pagination) {
				position: static;
				width: auto;
			}
		}
	}
</style>
