<script lang="ts">
	import Number from '$components/Common/Number.svelte';

	export let index: number | string;
	export let title: string;
	export let content: string;
	export let link: string = '';
	export let linkText: string = '';
</script>

<template>
	<section class="summary">
		<div class="summary-header">
			<Number {index} />
			<h3 class="summary__title title title--lg title--second">{title}</h3>
		</div>
		<div class="summary-body">
			<p class="summary__text text">{content}</p>
			{#if link}
			<a class="summary__link btn btn--link" href={link}>{linkText}</a>
			{/if}
		</div>
	</section>
</template>

<style lang="scss">
	.summary {
		display: flex;
		margin-bottom: 4rem;
		align-items: flex-start;
		margin-top: 3rem;
		@include bp(tablet-small-under) {
			display: block;
		}
		&-header {
			display: flex;
			align-items: center;
			margin-right: 10rem;
			@include bp(tablet-small-under) {
				margin-right: 0;
				margin-bottom: 4rem;
			}
		}

		:global(.number) {
			flex-shrink: 0;
		}

		&__title {
			margin-left: 2rem;
			line-height: 1.3;
		}

		&__text {
			line-height: 1.7;
		}

		&__link {
			margin-top: 4rem;
			display: inline-block;
		}
	}
</style>
