*,
::after,
::before {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  transition: $transition-fast;
}
p{
  margin: 0;
}
.icon-font {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

.overflow-wrapper{
  overflow: hidden;
  width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 0;
}

.relative{
  position: relative;
}


.scroll-none {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  &::-webkit-scrollbar {
    display: none;
  }
}
button{
  border: 0;
  cursor: pointer;
  background: transparent;
  padding: 0;
  &:focus{
    outline: none!important;
  }
}
