@font-face {
  font-family: 'Recoleta Alt';
  src: url('/fonts/RecoletaAlt-Medium.eot');
  src: url('/fonts/RecoletaAlt-Medium.eot?#iefix') format('embedded-opentype'),
  url('/fonts/RecoletaAlt-Medium.woff2') format('woff2'),
  url('/fonts/RecoletaAlt-Medium.woff') format('woff'),
  url('/fonts/RecoletaAlt-Medium.ttf') format('truetype'),
  url('/fonts/RecoletaAlt-Medium.svg#/fonts/RecoletaAlt-Medium') format('svg');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Recoleta Alt';
  src: url('/fonts/RecoletaAlt-Bold.eot');
  src: url('/fonts/RecoletaAlt-Bold.eot?#iefix') format('embedded-opentype'),
  url('/fonts/RecoletaAlt-Bold.woff2') format('woff2'),
  url('/fonts/RecoletaAlt-Bold.woff') format('woff'),
  url('/fonts/RecoletaAlt-Bold.ttf') format('truetype'),
  url('/fonts/RecoletaAlt-Bold.svg#/fonts/RecoletaAlt-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Recoleta Alt';
  src: url('/fonts/RecoletaAlt-Light.eot');
  src: url('/fonts/RecoletaAlt-Light.eot?#iefix') format('embedded-opentype'),
  url('/fonts/RecoletaAlt-Light.woff2') format('woff2'),
  url('/fonts/RecoletaAlt-Light.woff') format('woff'),
  url('/fonts/RecoletaAlt-Light.ttf') format('truetype'),
  url('/fonts/RecoletaAlt-Light.svg#/fonts/RecoletaAlt-Light') format('svg');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Recoleta Alt';
  src: url('/fonts/RecoletaAlt-Black.eot');
  src: url('/fonts/RecoletaAlt-Black.eot?#iefix') format('embedded-opentype'),
  url('/fonts/RecoletaAlt-Black.woff2') format('woff2'),
  url('/fonts/RecoletaAlt-Black.woff') format('woff'),
  url('/fonts/RecoletaAlt-Black.ttf') format('truetype'),
  url('/fonts/RecoletaAlt-Black.svg#/fonts/RecoletaAlt-Black') format('svg');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Recoleta Alt';
  src: url('/fonts/RecoletaAlt-Thin.eot');
  src: url('/fonts/RecoletaAlt-Thin.eot?#iefix') format('embedded-opentype'),
  url('/fonts/RecoletaAlt-Thin.woff2') format('woff2'),
  url('/fonts/RecoletaAlt-Thin.woff') format('woff'),
  url('/fonts/RecoletaAlt-Thin.ttf') format('truetype'),
  url('/fonts/RecoletaAlt-Thin.svg#/fonts/RecoletaAlt-Thin') format('svg');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Recoleta Alt';
  src: url('/fonts/RecoletaAlt-SemiBold.eot');
  src: url('/fonts/RecoletaAlt-SemiBold.eot?#iefix') format('embedded-opentype'),
  url('/fonts/RecoletaAlt-SemiBold.woff2') format('woff2'),
  url('/fonts/RecoletaAlt-SemiBold.woff') format('woff'),
  url('/fonts/RecoletaAlt-SemiBold.ttf') format('truetype'),
  url('/fonts/RecoletaAlt-SemiBold.svg#/fonts/RecoletaAlt-SemiBold') format('svg');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Recoleta Alt';
  src: url('/fonts/RecoletaAlt-Regular.eot');
  src: url('/fonts/RecoletaAlt-Regular.eot?#iefix') format('embedded-opentype'),
  url('/fonts/RecoletaAlt-Regular.woff2') format('woff2'),
  url('/fonts/RecoletaAlt-Regular.woff') format('woff'),
  url('/fonts/RecoletaAlt-Regular.ttf') format('truetype'),
  url('/fonts/RecoletaAlt-Regular.svg#/fonts/RecoletaAlt-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}





@font-face {
  font-family: 'Gilroy';
  src: url('/fonts/Gilroy-Black.eot');
  src: url('/fonts/Gilroy-Black.eot?#iefix') format('embedded-opentype'),
  url('/fonts/Gilroy-Black.woff2') format('woff2'),
  url('/fonts/Gilroy-Black.woff') format('woff'),
  url('/fonts/Gilroy-Black.ttf') format('truetype'),
  url('/fonts/Gilroy-Black.svg#Gilroy-Black') format('svg');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy';
  src: url('/fonts/Gilroy-ExtraBold.eot');
  src: url('/fonts/Gilroy-ExtraBold.eot?#iefix') format('embedded-opentype'),
  url('/fonts/Gilroy-ExtraBold.woff2') format('woff2'),
  url('/fonts/Gilroy-ExtraBold.woff') format('woff'),
  url('/fonts/Gilroy-ExtraBold.ttf') format('truetype'),
  url('/fonts/Gilroy-ExtraBold.svg#Gilroy-ExtraBold') format('svg');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy';
  src: url('/fonts/Gilroy-Bold.eot');
  src: url('/fonts/Gilroy-Bold.eot?#iefix') format('embedded-opentype'),
  url('/fonts/Gilroy-Bold.woff2') format('woff2'),
  url('/fonts/Gilroy-Bold.woff') format('woff'),
  url('/fonts/Gilroy-Bold.ttf') format('truetype'),
  url('/fonts/Gilroy-Bold.svg#Gilroy-Bold') format('svg');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy';
  src: url('/fonts/Gilroy-SemiBold.eot');
  src: url('/fonts/Gilroy-SemiBold.eot?#iefix') format('embedded-opentype'),
  url('/fonts/Gilroy-SemiBold.woff2') format('woff2'),
  url('/fonts/Gilroy-SemiBold.woff') format('woff'),
  url('/fonts/Gilroy-SemiBold.ttf') format('truetype'),
  url('/fonts/Gilroy-SemiBold.svg#Gilroy-SemiBold') format('svg');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy';
  src: url('/fonts/Gilroy-Medium.eot');
  src: url('/fonts/Gilroy-Medium.eot?#iefix') format('embedded-opentype'),
  url('/fonts/Gilroy-Medium.woff2') format('woff2'),
  url('/fonts/Gilroy-Medium.woff') format('woff'),
  url('/fonts/Gilroy-Medium.ttf') format('truetype'),
  url('/fonts/Gilroy-Medium.svg#Gilroy-Medium') format('svg');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy';
  src: url('/fonts/Gilroy-Regular.eot');
  src: url('/fonts/Gilroy-Regular.eot?#iefix') format('embedded-opentype'),
  url('/fonts/Gilroy-Regular.woff2') format('woff2'),
  url('/fonts/Gilroy-Regular.woff') format('woff'),
  url('/fonts/Gilroy-Regular.ttf') format('truetype'),
  url('/fonts/Gilroy-Regular.svg#Gilroy-Regular') format('svg');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy';
  src: url('/fonts/Gilroy-Light.eot');
  src: url('/fonts/Gilroy-Light.eot?#iefix') format('embedded-opentype'),
  url('/fonts/Gilroy-Light.woff2') format('woff2'),
  url('/fonts/Gilroy-Light.woff') format('woff'),
  url('/fonts/Gilroy-Light.ttf') format('truetype'),
  url('/fonts/Gilroy-Light.svg#Gilroy-Light') format('svg');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}


