<script context="module" lang="ts">
	import Seo from '$components/Global/Seo.svelte';
	import { socializer } from '$lib/helpers';
	import { getDictionaryContent } from '$lib/services/dictionary.service';
	import type { IDictionaryContent } from '$lib/types';
	import { dictionaryStore } from '$stores/dictionary.store';
	import { headerStore } from '$stores/header.store';
	import { pageStore } from '$stores/page.store';
	import { searchTerm } from '$stores/search.store';
	import type { LoadInput, LoadOutput } from '@sveltejs/kit/types/internal';
	import { onDestroy, onMount } from 'svelte';
	import { fade } from 'svelte/transition';

	export const prerender = true;

	export async function load({ params, url }: LoadInput): Promise<LoadOutput> {
		try {
			const content = await getDictionaryContent(params.slug);

			socializer(url, content.seo.title);

			return {
				props: {
					dictionary: content,
				},
			};
		} catch (error) {
			return {
				error: `Hata oldu. \n${error}`,
			};
		}
	}
</script>

<script lang="ts">
	export let dictionary: IDictionaryContent;

	onMount(() => {
		headerStore.setTitle(dictionary.title);
		headerStore.setBack(true);
		headerStore.setShare(true);

		dictionaryStore.setInDetail(true);

		const back = '/kavramlar-sozlugu';

		let letter = $dictionaryStore.categories.find((c) => c.id === dictionary.categoryId).slug;
		let backUrl = letter ? `${back}/harf/${letter}` : back;

		pageStore.setBackUrl(backUrl);
	});

	onDestroy(() => {
		headerStore.setShare(false);
		headerStore.setBack(false);

		dictionaryStore.setSearchActive(false);
		$searchTerm = '';
	});
</script>

<Seo {...dictionary.seo} />

<!-- {$dictionaryStore.activeCategoryId}
 -->
{#if dictionary}
	<article in:fade={{ delay: 400 }} out:fade={{ duration: 0 }}>
		<header>
			<h2 class="title title--xl title--second title--underlined">
				{dictionary.title}
			</h2>
			{#if dictionary.subtitle}
				<small>/ {dictionary.subtitle}</small>
			{/if}
		</header>
		<section class="content">
			{@html dictionary.content}
		</section>
	</article>
{/if}

<style lang="scss">
	@include bp(r-tablet) {
		:global(.headerbar.headerbar-sticky + .dictionary-content article header) {
			top: calc(var(--header-height) + 2rem) !important;
		}
	}
	article {
		display: flex;
		padding: var(--page-padding-y) var(--page-padding-x);
		max-width: var(--max-page-width, unset);
		align-items: flex-start;
		@include bp(tablet-small-under) {
			display: block;
		}
		position: relative;

		& > header {
			flex: 1 1 32%;
			position: sticky;
			top: 2rem;
			transition: 0.3s;
			@include bp(tablet-small-under) {
				flex: unset;
				margin-bottom: 3rem;
				max-width: 38rem;
				position: static;
			}
			.title {
				margin-bottom: 2rem;
				line-height: 1.2;
			}
			small {
				font-size: var(--font-size-text);
			}
		}

		& > section {
			flex: 1 1 60%;
			padding-left: 10rem;
			@include bp(laptop) {
				padding-left: 6rem;
			}
			@include bp(tablet-small-under) {
				padding-left: 0;
				flex: unset;
				max-width: 60rem;
			}
		}
		.content {
			font-family: $font-family-second;
			color: $c-title;
		}
	}
</style>
