<script context="module" lang="ts">
	import DictionaryNav from '$components/Global/DictionaryNav.svelte';
	import DictionarySearch from '$components/Global/DictionarySearch.svelte';
	import { API_STORE } from '$lib/constants/urls';
	import { dictionaryStore } from '$stores/dictionary.store';
	import { pageStore } from '$stores/page.store';
	import type { LoadInput, LoadOutput } from '@sveltejs/kit/types/internal';
	import { onDestroy, onMount, tick } from 'svelte';
	import { get } from 'svelte/store';
	import { fade } from 'svelte/transition';

	export async function load({ fetch }: LoadInput): Promise<LoadOutput> {
		const { categories, highlightsLoaded } = get(dictionaryStore);

		if (categories.length < 2) {
			await dictionaryStore.setCategories();
		}

		if (!highlightsLoaded) {
			const req = await fetch(`${API_STORE.featured}dictionary_posts`);
			const res = await req.json();

			dictionaryStore.setHighlights(res);
			dictionaryStore.setHighlightsLoaded(true);
		}

		return {
			status: 200
		};
	}
</script>

<script lang="ts">
	onMount(async () => {
		await tick();
		pageStore.setCurrentSection('dictionary');
	});

	onDestroy(() => {
		dictionaryStore.setLetterSelected(false);
	});
</script>

{#if !$dictionaryStore.inDetail}
	<div transition:fade={{ duration: 200 }}>
		{#if $dictionaryStore.searchVisible}
			<DictionarySearch />
		{/if}
		{#if !$dictionaryStore.searchActive}
			<DictionaryNav />
		{/if}
	</div>
{/if}

{#if $dictionaryStore.categories.length > 0}
	<section class="dictionary-content">
		<slot />
	</section>
{/if}

<style lang="scss">
	@include bp(r-tablet) {
		:global(.headerbar.headerbar-sticky + .dictionary-content .dictionary_nav) {
			top: calc(var(--header-height)) !important;
		}
	}
	.dictionary-content {
		position: relative;
		:global(.loading){
			margin-top: 10rem;
		}
	}

	:global(.dictionary-slider) {
		margin-top: auto;
		width: 100%;

		:global(.card) {
			max-width: unset !important;
		}
	}
</style>
