<script context="module" lang="ts">
	export async function load() {
		const content = await getSeoData('dictionary');
		seoStore.setSeoContent('dictionary', content);

		return {
			status: 200,
		};
	}
</script>

<script lang="ts">
	import DictionaryCard from '$components/Cards/DictionaryCard.svelte';
	import LoadMore from '$components/Common/LoadMore.svelte';
	import NoResults from '$components/Common/NoResults.svelte';
	import SliderNav from '$components/Common/SliderNav.svelte';
	import Seo from '$components/Global/Seo.svelte';
	import { getSeoData } from '$lib/services/seo.service';
	import type { BreakpointOptions } from '$lib/types';
	import { dictionaryStore } from '$stores/dictionary.store';
	import { headerStore } from '$stores/header.store';
	import { pageStore } from '$stores/page.store';
	import { searchStore } from '$stores/search.store';
	import { seoStore } from '$stores/seo.store';
	import { onMount } from 'svelte';
	import { fade } from 'svelte/transition';
	import { Navigation } from 'swiper';
	import 'swiper/css';
	import { Swiper, SwiperSlide } from 'swiper/svelte';

	onMount(() => {
		headerStore.setTitle('Kavramlar Sözlüğü');
		headerStore.setIcon('kavramlar_sozlugu');
		headerStore.setSearch(false);

		dictionaryStore.setInDetail(false);

		dictionaryStore.setActiveCategory(0);

		pageStore.setTitle('Filistin hakkında dile getirilen kavramlar');
		pageStore.setText(
			'Biyografi ya da yaşam öyküsü, bir kişinin yaşamını ayrıntılı bir biçimde açıklayan bir edebiyat türüdür.'
		);
	});

	const breakpoints: BreakpointOptions = {
		320: {
			spaceBetween: 20,
			slidesPerView: 1,
		},
		380: {
			spaceBetween: 20,
			slidesPerView: 1.2,
		},
		480: {
			spaceBetween: 20,
			slidesPerView: 1.4,
		},
		540: {
			spaceBetween: 20,
			slidesPerView: 1.6,
		},
		576: {
			spaceBetween: 20,
			slidesPerView: 2,
		},
		768: {
			spaceBetween: 20,
			slidesPerView: 2.2,
		},
		840: {
			spaceBetween: 20,
			slidesPerView: 2.6,
		},
		992: {
			spaceBetween: 50,
			slidesPerView: 2.2,
		},
		1100: {
			spaceBetween: 50,
			slidesPerView: 2.6,
		},
		1200: {
			spaceBetween: 20,
			slidesPerView: 3,
		},
		1367: {
			spaceBetween: 60,
			slidesPerView: 3,
		},
	};
</script>

<Seo {...$seoStore.dictionary} />

{#if !$dictionaryStore.searchActive}
	<section class="dictionary-slider-wrapper slider-section" in:fade={{ duration: 200 }}>
		<div class="slider-section-nav-wrapper">
			<h4 class="title title--xsm">ÖNE ÇIKAN KAVRAMLAR</h4>
			<SliderNav />
		</div>
		<Swiper
			class="dictionary-slider"
			loop={false}
			speed={700}
			spaceBetween={60}
			slidesPerView={3}
			navigation={{ nextEl: '.next', prevEl: '.prev' }}
			{breakpoints}
			modules={[Navigation]}
		>
			{#each $dictionaryStore.highlights as item}
				<SwiperSlide>
					<DictionaryCard {...item} size="large" />
				</SwiperSlide>
			{/each}
		</Swiper>
	</section>
{:else if $searchStore.loaded}
	<section class="search-content">
		{#if $searchStore.loading}
			<LoadMore />
		{:else if $searchStore.items.length === 0}
			<NoResults text="Aradığınız kriterlere uygun sonuç bulunamadı!" />
		{:else}
			<h6 class="title title--lg title--second">Arama Sonuçları</h6>
			<div class="search-content-cards">
				{#each $searchStore.items as item}
					<DictionaryCard {...item} size="small" />
				{/each}
			</div>
		{/if}
	</section>
{/if}

<style lang="scss">
	@import '../../styles/component/slider-section.scss';

	.dictionary-slider-wrapper {
		&::before {
			top: 5rem;
		}

		&::after {
			top: 5rem;
		}

		:global(.swiper) {
			padding: var(--page-padding-y) var(--page-padding-x);
		}
	}
	.search-content {
		padding: var(--page-padding-y) var(--page-padding-x);
		max-width: var(--max-page-width, unset);
		display: flex;
		justify-content: space-between;
		width: 100%;
		@include bp(tablet-small-under) {
			display: block;
		}
		:global(.loading) {
			margin-top: 4rem;
		}
		.title {
			line-height: 1;
			font-weight: 400;
			color: rgba($color: $c-black, $alpha: 0.6);
			max-width: 40%;
			@include bp(tablet) {
				flex: 1 1 32%;
				max-width: 32%;
			}
			@include bp(tablet-small-under) {
				max-width: 100%;
				margin-bottom: 3rem;
				display: block;
			}
		}
		&-cards {
			flex: 1 1 auto;
			width: 100%;
			max-width: 60%;
			@include bp(tablet) {
				max-width: 68%;
			}
			@include bp(tablet-small-under) {
				max-width: 100%;
			}

			div {
				margin-bottom: 2rem;
				width: 100%;
				&:last-child {
					margin-bottom: 0;
				}
			}
		}
	}
</style>
