<script context="module" lang="ts">
	import DocumentCard from '$components/Cards/DocumentCard.svelte';
	import DocumentCardBig from '$components/Cards/DocumentCardBig.svelte';
	import DocumentResource from '$components/Common/DocumentResource.svelte';
	import Infobox from '$components/Common/Infobox.svelte';
	import SliderNav from '$components/Common/SliderNav.svelte';
	import Seo from '$components/Global/Seo.svelte';
	import Zoombox from '$components/Global/Zoombox.svelte';
	import { socializer } from '$lib/helpers';
	import type { IHistoricalResponse } from '$lib/response.type';
	import { getContent, getOthers } from '$lib/services';
	import type { IHistoricalContent, IMainCard } from '$lib/types';
	import { headerStore } from '$stores/header.store';
	import { pageStore } from '$stores/page.store';
	import type { LoadInput, LoadOutput } from '@sveltejs/kit/types/internal';
	import { afterUpdate, onDestroy, onMount } from 'svelte';
	import { Navigation, Pagination } from 'swiper';
	import 'swiper/css';
	import 'swiper/css/pagination';
	import { Swiper, SwiperSlide } from 'swiper/svelte';

	export async function load({ url, params }: LoadInput): Promise<LoadOutput> {
		let others: IMainCard[];
		try {
			const { id, content } = await getContent<IHistoricalResponse>('historicals', params.slug);

			const historical: IHistoricalContent = {
				id: content.id,
				title: content.title.rendered,
				content: content.content.rendered,
				slug: content.slug,
				seo: {
					title: content.yoast_head_json.title,
					description: content.yoast_head_json.og_description,
					image: content.yoast_head_json.og_image?.[0]?.url,
					type: content.yoast_head_json.og_type,
					ldJson: JSON.stringify(content.yoast_head_json.schema),
				},
				info: content.meta_data.belge_metni || '',
			};

			if (content.meta_data.kaynaklar) {
				historical.resources = content.meta_data.kaynaklar.map((e, i) => {
					return {
						title: '<b>' + (i + 1) + '.</b> ' + e.baslik,
						description: e.aciklama,
					};
				});
			}

			if (content.meta_data.belgeler) {
				historical.documents = content.meta_data.belgeler.map((c) => {
					return {
						id: c.belge_gorseli.id,
						slug: c.belge_gorseli.title,
						title: c.belge_adi,
						thumbnail: c.belge_gorseli.url,
						fullImage: c.belge_gorseli.url,
					};
				});
			}

			socializer(url, historical.seo.title);

			try {
				const { items } = await getOthers<IHistoricalResponse>('historicals', id);

				others = items.map((i) => {
					let result: IMainCard = {
						id: i.id,
						slug: i.slug,
						title: i.title.rendered,
					};

					result.subtitle = i.meta_data.belge_kaynagi || '';
					result.thumbnail = i.meta_data.image_details?.medium?.url || '';

					return result;
				});

				return {
					props: {
						historical,
						others,
					},
				};
			} catch (error) {
				return {
					error: 'Bir hata oluştu ki sorma!',
				};
			}
		} catch (error) {
			return {
				error: 'Bir hata oluştu!\n' + error,
			};
		}
	}
</script>

<script lang="ts">
	export let historical: IHistoricalContent;
	export let others: IMainCard[];

	onMount(() => {
		headerStore.setBack(true);
		headerStore.setSearch(false);
		headerStore.setShare(true);

		pageStore.setBackUrl('/tarihi-belgeler');
	});

	afterUpdate(() => {
		headerStore.setTitle(historical.title);
	});

	onDestroy(() => {
		headerStore.setBack(false);
		headerStore.setShare(false);
	});
</script>

<Seo {...historical.seo} />

<div class="subpage document-detail">
	<section class="subpage-content ">
		<article class="content">
			{@html historical.content}
			{#if historical.info}
				<Infobox content={historical.info} />
			{/if}
		</article>
		{#if historical.resources}
			<div class="subpage-content-source">
				<h6 class="title title--sm mb-3">Kaynaklar</h6>
				{#each historical.resources as resource, index}
					{#if resource.title.length > 11}
						<DocumentResource {...resource} {index} />
					{/if}
				{/each}
			</div>
		{/if}
	</section>
	{#if historical.documents}
		<aside class="subpage-aside slider-section">
			<Swiper
				class="documents-slider"
				slidesPerView={1}
				pagination={{ el: '.swiper-pagination-custom', clickable: true }}
				speed={700}
				navigation={{
					nextEl: '.next',
					prevEl: '.prev',
				}}
				modules={[Navigation, Pagination]}
			>
				{#each historical.documents as item}
					<SwiperSlide>
						<DocumentCardBig {...item} />
					</SwiperSlide>
				{/each}
			</Swiper>
			<div class="slider-section-nav-wrapper">
				<div class="swiper-pagination swiper-pagination-custom" />
				<SliderNav />
			</div>
		</aside>
	{/if}
</div>
<div class="subpage">
	<section class="subpage-similar section">
		<h4 class="section__title title title--sm">Benzer Belgeler</h4>
		<div class="subpage-similar-list">
			{#each others as item, index}
				<DocumentCard {...item} {index} />
			{/each}
		</div>
	</section>
</div>
<Zoombox />

<style lang="scss">
	@import '../../styles/component/subpage/index.scss';
	@import '../../styles/component/subpage/similar-list.scss';
	@import '../../styles/component/subpage/section.scss';
	@import '../../styles/component/slider-section.scss';
	@include bp(r-tablet) {
		.headerbar:not(.visible) + .subpage .subpage-aside {
			top: 16vh !important;
		}
	}
	.document-detail {
		flex-direction: row;
		padding: var(--page-padding-y) var(--page-padding-x);
		max-width: var(--max-page-width, unset);
		align-items: flex-start;
		@include bp(desktop) {
			flex-direction: column-reverse;
			padding-right: 10vw;
			padding-left: 10vw;
		}
		@include bp(tablet) {
			padding-right: 20rem;
			padding-left: 20rem;
		}
		@include bp(tablet-small-under) {
			padding-right: var(--page-padding-x);
			padding-left: var(--page-padding-x);
		}

		.subpage-content {
			max-width: 50%;
			flex: 0 0 auto;
			@include bp(desktop) {
				max-width: 100%;
			}
		}
		:global(.meta + .meta) {
			margin-top: 4rem;
		}
	}

	.subpage-aside {
		position: sticky;
		top: calc(4rem + var(--header-height));
		height: auto;
		padding-left: 10rem;
		max-width: calc(50%);
		flex: 0 0 auto;
		width: 100%;
		transition: 0.3s;
		@include bp(desktop) {
		}
		@include bp(laptop) {
			padding-left: 5rem;
		}
		@include bp(desktop) {
			padding-left: 0;
			position: static;
			max-width: 100%;
			margin-bottom: 4rem;
			margin-left: auto;
			margin-right: auto;
		}
		@include bp(tablet) {
			max-height: unset;
		}
		&::after,
		&::before {
			display: none;
		}
		:global(.card) {
			cursor: pointer;

			//max-height: calc(100vh - var(--header-height) - 15rem);
			// @include bp(desktop) {
			// 	max-height: unset;
			// }
		}
		:global(.swiper-pagination) {
			position: static;
			width: auto;
		}
		:global(.slider-section-nav-wrapper) {
			position: relative;
			padding: 2rem 0 0 0;
		}
	}

	.subpage {
		&-content {
			flex: 1 1 auto;
		}
		&-similar-list {
			:global(.card) {
				width: 40rem !important;
				max-width: unset;
			}
			@include bp(desktop) {
				:global(.card) {
					width: 40rem !important;
					max-width: unset;
				}
			}
			@include bp(mobile-l-small) {
				:global(.card) {
					width: 36rem !important;
					min-width: 36rem;
				}
			}
			:global(.card .card__img) {
				@include bp(mobile) {
					height: 40rem;
				}
				@include bp(mobile-l-small) {
					height: 80vw;
				}
			}
		}
	}
</style>
