<script context="module" lang="ts">
	import { historicalStore } from '$stores/historical.store';
	import { pageStore } from '$stores/page.store';
	import type { LoadOutput } from '@sveltejs/kit/types/internal';
	import { onMount, tick } from 'svelte';
	import { get } from 'svelte/store';

	export async function load(): Promise<LoadOutput> {
		const { categories, items } = get(historicalStore);

		if (categories.length < 2) {
			await historicalStore.setCategories();
		}

		const { activeCategoryId } = get(historicalStore);

		if (items[activeCategoryId].hasNext && items[activeCategoryId].items.length === 0) {
			await historicalStore.setItems(activeCategoryId, 1);
		}

		return {
			status: 200
		};
	}
</script>

<script lang="ts">
	onMount(async () => {
		await tick();
		pageStore.setCurrentSection('historicals');
	});
</script>

<slot />
