<script context="module" lang="ts">
	export async function load() {
		const content = await getSeoData('historicals');
		seoStore.setSeoContent('historicals', content);

		return {
			status: 200,
		};
	}
</script>

<script lang="ts">
	import DocumentCard from '$components/Cards/DocumentCard.svelte';
	import GhostCard from '$components/Cards/GhostCard.svelte';
	import GhostLoader from '$components/Cards/GhostLoader.svelte';
	import SearchResults from '$components/Common/SearchResults.svelte';
	import Tabbar from '$components/Common/Tabbar.svelte';
	import Seo from '$components/Global/Seo.svelte';
	import { getSeoData } from '$lib/services/seo.service';
	import type { ITabCustomEvent } from '$lib/types';
	import { headerStore } from '$stores/header.store';
	import { historicalStore } from '$stores/historical.store';
	import { searchStore } from '$stores/search.store';
	import { seoStore } from '$stores/seo.store';
	import { onDestroy, onMount } from 'svelte';

	onMount(() => {
		headerStore.setTitle('Tarihi Belgeler');
		headerStore.setIcon('tarihi_belgeler');
		headerStore.setSearch(true);
	});

	onDestroy(() => {
		searchStore.setLoaded(false);
		headerStore.setSearch(false);
	});

	const setTab = async (e: ITabCustomEvent) => {
		const id = e.detail;

		historicalStore.setActiveCategory(id);

		if ($historicalStore.items[id].hasNext && $historicalStore.items[id].items.length === 0) {
			await historicalStore.setItems(id, 1);
		}
	};

	$: currentCategory = $historicalStore.items[$historicalStore.activeCategoryId];

	$: nextLoadable =
		currentCategory.hasNext && currentCategory.isLoaded && currentCategory.items.length !== 0;

	const handleLoadMore = () => {
		historicalStore.setPage(currentCategory.page, $historicalStore.activeCategoryId);
		historicalStore.setItems($historicalStore.activeCategoryId, currentCategory.page);
	};
</script>

<Seo {...$seoStore.historicals} />

<div class="tab">
	{#if !$searchStore.visible}
		<div class="tab-nav">
			<div class="tab-nav-content">
				<Tabbar tabs={$historicalStore.categories} on:tab-click={setTab} />
			</div>
		</div>
	{/if}
</div>
<div class="tab-content">
	{#if $searchStore.visible}
		<SearchResults />
	{:else if currentCategory}
		{#key $historicalStore.activeCategoryId}
			<section class="documents list-grid">
				{#each currentCategory.items as historical, index}
					<DocumentCard {...historical} {index} />
				{:else}
					{#each Array(6) as a}
						<GhostCard />
					{/each}
				{/each}
			</section>
			{#if nextLoadable}
				<GhostLoader on:loading={handleLoadMore} />
			{/if}
		{/key}
	{/if}
</div>

<style lang="scss">
	@import '../../styles/component/tab/index.scss';
	@import '../../styles/component/list-grid.scss';
</style>
