<script context="module" lang="ts">
	/** @type {import('@sveltejs/kit').ErrorLoad} */
	export function load({ error, status }) {
		return {
			props: {
				title: `${status}: ${error.message}`
			}
		};
	}
</script>

<script lang="ts">
	import { pageStore } from '$stores/page.store';
	import { onMount } from 'svelte';
	
	export let title: string;

	onMount(async () => {
		pageStore.setInDetail(true);
	});
</script>

<div class="error">
	<img src="/img/404.svg" alt="404 Error" />
	<h1>Aradığınız Sayfayı Bulamadık!</h1>
	<p>Üzgünüz aradığınız sayfa yayından kaldırılmış veya hiç yayınlanmamış olabilir.</p>
	<p>{title}</p>
</div>

<style lang="scss">
	.error {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		padding: 4rem;
		width: 100%;
		height: 100%;
		margin: auto 0;

		img {
			font-size: 20rem;
			margin-bottom: 3rem;
			opacity: 0.8;
			height: 1em;
			@include bp(mobile) {
				font-size: 20vw;
			}
		}

		h1 {
			font-size: 3.2rem;
			text-align: center;
			font-weight: bold;
			color: rgba($c-title, 0.6);

			@include bp(mobile) {
				font-size: 2.6rem;
			}
		}
		p {
			color: rgba($c-title, 0.4);
			font-size: 3rem;
			text-align: center;
			font-weight: 300;
			margin-top: 2rem;
			line-height: 1.4;
			max-width: 60rem;

			@include bp(mobile) {
				font-size: 2rem;
			}
		}
	}
</style>
