<script context="module" lang="ts">
	// import { addMessages, init, t } from 'svelte-intl-precompile';
	import { afterNavigate, beforeNavigate } from '$app/navigation';
	import { page } from '$app/stores';
	import ShareBox from '$components/Common/ShareBox.svelte';
	import Intro from '$components/Global/Intro.svelte';
	import ScrollTop from '$components/Global/ScrollTop.svelte';
	import Headerbar from '$components/Header/Headerbar.svelte';
	import Sidebar from '$components/Sidebar/Sidebar.svelte';
	import { menu } from '$stores/menu.store';
	import { navigationStore } from '$stores/navigation.store';
	import { pageStore } from '$stores/page.store';
	import { searchStore } from '$stores/search.store';
	import { seoStore } from '$stores/seo.store';
	import { shareStore } from '$stores/share.store';
	import '$styles/app.scss';
	import { onMount } from 'svelte';
	import { get } from 'svelte/store';

	export async function load() {
		const _seo = get(seoStore);
		seoStore.buildStore();

		const { stats } = get(pageStore);
		await pageStore.setSocials();

		if (stats.length === 0) {
			await pageStore.setStats();
		}
		await pageStore.setSpots();

		return {
			status: 200,
		};
	}
	// // @ts-ignore
	// import en from '$locales/en';
	// // @ts-ignore
	// import tr from '$locales/tr';

	// addMessages('tr', tr);
	// addMessages('en', en);
	// init({
	// 	initialLocale: 'tr',
	// 	fallbackLocale: 'tr'
	// });
</script>

<script lang="ts">
	let innerWidth: number;
	let innerHeight: number;
	let scrollY: number;

	$: {
		if (scrollY && $page.url.pathname.split('/').length < 3) {
			pageStore.setScrollY(scrollY);
			localStorage.setItem('scroll-pos', scrollY.toString());
		}

		if (
			scrollY &&
			$page.url.pathname.split('/')[1] === 'haritalar' &&
			$page.url.pathname.split('/').length < 4
		) {
			pageStore.setScrollY(scrollY);
			localStorage.setItem('scroll-pos', scrollY.toString());
		}
	}

	onMount(() => {
		localStorage.setItem('scroll-pos', '0');
		localStorage.setItem('scroll-top', '0');
		const date = new Date();
		const introStorage = localStorage.getItem('intro-enabled');
		const introInterval = localStorage.getItem('dhm-intro-interval');

		if (date.getDay() % 2 === 0 && (introInterval === null || introInterval === '1')) {
			localStorage.setItem('dhm-intro-interval', '1');
		}

		if (introStorage === null) {
			localStorage.setItem('intro-enabled', '1');
		}

		fontsReady().then(() => {
			const introStatus =
				introStorage === '1' ||
				introInterval === '1' ||
				(introStorage === null && introInterval === null);

			pageStore.setIntroEnabled(introStatus);
			pageStore.setIntroTextsVisible(introStatus);

			pageStore.setFontsLoaded(true);
			pageStore.setLoading(false);
			pageStore.setWindowLoaded(true);
		});

		pageStore.setDimensions({ width: innerWidth, height: innerHeight });

		document.documentElement.style.setProperty('--app-height', innerHeight + 'px');

		if ($pageStore.staticPages.includes($page.url.pathname)) {
			menu.setPersist(true);
		}
	});

	const clearNav = () => {
		pageStore.setScrollY(0);

		searchStore.setTerm('');
		searchStore.clearStore();
	};

	beforeNavigate((nav) => {
		$navigationStore = 'loading';

		shareStore.setFacebook($page.url.toString());
		shareStore.setLinkedin($page.url.toString());
		shareStore.setTwitter($page.url.toString(), 'Dijital Hafıza Merkezi');

		const from = nav?.from.pathname;
		const to = nav?.to?.pathname;

		if (from?.split('/')[1] !== to?.split('/')[1]) {
			clearNav();
		}

		if (to === '/') clearNav();
	});

	afterNavigate((nav) => {
		$navigationStore = 'loaded';

		const from = nav?.from?.pathname;
		const to = nav?.to?.pathname;

		if (from?.split('/')[1] === to?.split('/')[1]) {
			if (from?.split('/')[1] === 'haritalar' && from?.split('/')[2] === to?.split('/')[2]) {
				if (to?.split('/').length > 3) {
					window.scrollTo(0, 0);
				} else {
					window.scrollTo(0, $pageStore.scrollY);
				}
			}
			if (to?.split('/').length > 2) {
				window.scrollTo(0, 0);
			} else {
				window.scrollTo(0, $pageStore.scrollY);
			}
		} else {
			window.scrollTo(0, 0);
		}
	});

	const fontsReady = async () => {
		return await document.fonts.ready;
	};

	const handleResize = () => {
		pageStore.setDimensions({ width: innerWidth, height: innerHeight });
		document.documentElement.style.setProperty('--app-height', innerHeight + 'px');
	};

	$: {
		const pathLength = $page.url.pathname.split('/').length;
		pageStore.setInDetail(pathLength > 2);
	}
</script>

<svelte:head>
	<title>Dijital Hafıza Merkezi</title>
</svelte:head>

<svelte:window bind:innerWidth bind:innerHeight bind:scrollY on:resize={handleResize} />

<Intro />
<div class="page">
	<Sidebar />
	<main class="page-area">
		<Headerbar />
		<div class="page-content">
			<slot />
		</div>
	</main>
	<ShareBox />
</div>
<ScrollTop />

<style lang="scss">
	.page {
		display: flex;
		height: 100vh;

		&-content {
			background: $c-bg;
			min-height: calc(100vh - var(--header-height));
			@include bp(tablet) {
				min-height: unset;
			}
		}

		@include bp(tablet) {
			height: auto;
			display: block;
		}

		&-area {
			flex: 1 1 100%;
			width: 100%;
			padding-left: var(--sidebar-width);
			padding-top: var(--header-height);

			@include bp(tablet) {
				padding-left: 0;
				padding-top: 0;
			}
		}
	}
</style>
