<script context="module" lang="ts">
	import Statbox from '$components/Common/Statbox.svelte';
import Seo from '$components/Global/Seo.svelte';
	import type { IAboutResponse } from '$lib/response.type';
	import { getPage } from '$lib/services';
	import { getSeoData } from '$lib/services/seo.service';
	import type { IAboutContent } from '$lib/types';
	import { headerStore } from '$stores/header.store';
	import { pageStore } from '$stores/page.store';
	import { seoStore } from '$stores/seo.store';
	import type { LoadOutput } from '@sveltejs/kit/types/internal';
	import { onMount } from 'svelte';

	export const prerender = true;

	export async function load(): Promise<LoadOutput> {
		const { content } = await getPage<IAboutResponse>('about');

		const seoContent = await getSeoData('about');
		seoStore.setSeoContent('about', seoContent);

		const about: IAboutContent = {
			id: content.id,
			title: content.title.rendered,
			subtitle: content.meta_data.icerik_basligi,
			summary: content.meta_data.giris_metni,
			content: content.content.rendered,
			logos: content.meta_data.logolar.map((l) => ({
				image: l.logo_gorseli.url,
				title: l.logo_baglantisi.title,
				link: l.logo_baglantisi.url,
			})),
		};
		return {
			props: {
				about,
			},
		};
	}
</script>

<script lang="ts">
	export let about: IAboutContent;

	onMount(() => {
		headerStore.setTitle(about.title);
		headerStore.setSearch(false);
		headerStore.setIcon('');
	});

	let stats = $pageStore.stats.sort(() => 0.5 - Math.random()).slice(0, 3);
</script>

<Seo {...$seoStore.about} />

<template>
	<div class="about">
		<div class="about-header">
			<img src="/img/ihh-hakkinda.svg" alt="IHH Hakkında" />
			<h2 class="title title--lg title--second">
				{@html about.subtitle}
			</h2>
		</div>
		<p class="summary text text--dark">
			{@html about.summary}
		</p>
		<section class="stats">
			{#each stats as stat}
				<Statbox count={stat.value} icon={stat.icon} content={stat.description} />
			{/each}
		</section>
		<article class="content">
			{@html about.content}
		</article>
		{#if about.logos.length > 0}
			<div class="partners">
				{#each about.logos as logo}
					<a href={logo.link} target="_blank">
						<img src={logo.image} alt={logo.title} />
					</a>
				{/each}
			</div>
		{/if}
	</div>
</template>

<style lang="scss">
	.about {
		padding: var(--page-padding-y) var(--page-padding-x);
		max-width: var(--max-page-width, unset);

		&-header {
			display: flex;
			.title {
				max-width: 90rem;
				line-height: 1.4;
				@include bp(mobile-m-small) {
					font-size: 22px;
				}
			}
			img {
				display: block;
				width: 10rem;
				margin-right: 3rem;
				@include bp(tablet-small-under) {
					width: 7rem;
				}
			}
		}

		.summary {
			font-size: 2.8rem;
			font-weight: 500;
			margin-top: 4rem;
			// padding-right: var(--text-content-padding);
			@include bp(tablet-small-under) {
				font-size: 2.2rem;
			}
		}

		.stats {
			display: flex;
			// flex-wrap: wrap;
			justify-content: flex-start;
			width: 100%;
			padding: 6rem 0;
			@include bp(tablet-small-under) {
				display: block;
				padding: 4rem 0;
			}

			:global(.count-item) {
				border-right: 1px solid $c-border;
				padding-right: 10% !important;
				margin-right: 10%;
				min-width: 30%;
				/* 				margin-bottom: 5rem;
 */
				padding: 2rem 0;

				@include bp(desktop-m) {
					margin-right: 10rem;
					padding-right: 10rem;
				}

				@include bp(laptop) {
					margin-right: 5%;
					padding-right: 5%;
				}

				@include bp(tablet-small-under) {
					border-right: 0;
					padding: 0;
					margin: 0;
					margin-top: 3rem;
					padding-top: 3rem;
					border-top: 1px solid $c-border;
					&:first-child {
						border-top: 0;
						margin-top: 0;
						padding-top: 0;
					}
				}
			}

			:global(.count-item:last-child) {
				border-right: none;
			}
		}
		.content {
			p {
				padding-right: var(--text-content-padding);
			}
		}
	}

	.partners {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-top: 1.5rem;
		flex-wrap: wrap;
		width: 100%;
		@include bp(tablet-small-under) {
			justify-content: flex-start;
		}
		&:first-child {
			img {
				height: 10rem;
			}
		}

		a {
			padding: 0 4rem 0 0;
			margin-bottom: 1rem;
			margin-top: 3.5rem;
			@include bp(tablet-small-under) {
				padding-right: 0;
			}
			/* 	order: 1;
			&:first-child {
				padding-left: 0;
			}
			&:last-child {
				padding-right: 0;
			} */
		}
		img {
			height: 6rem;
			object-fit: contain;
			display: block;
			transition: $transition;
			filter: grayscale(1);
			opacity: 0.7;
			&:hover {
				filter: none;
				opacity: 1;
			}
			// @include bp(desktop-m) {
			// 	max-width: 18rem;
			// }@include bp(laptop) {
			// 	max-width: 15rem;
			// }
			@include bp(tablet-small-under) {
				margin-bottom: 0;
				margin-right: 2rem;
				height: 4rem;
			}
		}
	}
</style>
