<script context="module" lang="ts">
	import Meta from '$components/Common/Meta.svelte';
	import Seo from '$components/Global/Seo.svelte';
	import type { IContactResponse } from '$lib/response.type';
	import { getPage } from '$lib/services';
	import { getSeoData } from '$lib/services/seo.service';
	import type { IContactContent } from '$lib/types';
	import { headerStore } from '$stores/header.store';
	import { seoStore } from '$stores/seo.store';
	import type { LoadOutput } from '@sveltejs/kit/types/internal';
	import { onMount } from 'svelte';
	import { field, form } from 'svelte-forms';
	import { email, required } from 'svelte-forms/validators';

	export async function load(): Promise<LoadOutput> {
		const { content } = await getPage<IContactResponse>('contact');

		const seoContent = await getSeoData('contact');
		seoStore.setSeoContent('contact', seoContent);

		const contact: IContactContent = {
			id: content.id,
			title: content.title.rendered,
			address: content.meta_data.adres,
			mapIframe: content.meta_data.harita_iframe,
			content: content.content.rendered,
			email: content.meta_data.eposta,
		};
		return {
			props: {
				contact,
			},
		};
	}
</script>

<script lang="ts">
	export let contact: IContactContent;

	onMount(() => {
		headerStore.setTitle(contact.title);
	});

	const name = field('name', '', [required()]);
	const userMail = field('email', '', [required(), email()]);
	const message = field('message', '', [required()]);

	let status = 'Gönder';

	let success = false;
	let loading = false;
	let error = false;

	const myForm = form(name, userMail, message);

	const validate = async () => {
		status = 'Gönderiliyor...';
		loading = true;

		const req = await fetch('api/mailer', {
			method: 'post',
			headers: {
				Accept: 'application/json',
			},
			body: JSON.stringify({
				name: $name.value,
				email: $userMail.value,
				message: $message.value,
			}),
		});

		const res = await req.json();

		if (res.ok) {
			status = 'Mesaj gönderildi!';
			success = true;
			myForm.reset();

			setTimeout(() => {
				status = 'Gönder';
				success = false;
			}, 2000);
		} else {
			status = 'Mesaj gönderme başarısız!';
			error = true;

			setTimeout(() => {
				status = 'Gönder';
				error = false;
			}, 2000);
		}

		loading = false;
	};

	$: formDisabled = $name.invalid || $userMail.invalid || $message.invalid;
	$: formEmpty = $name.value === '' || $userMail.value === '' || $message.value === '';
</script>

<Seo {...$seoStore.contact} />

<section class="subpage contact">
	<div class="contact-block contact-block-left">
		<div class="contact-info">
			<h3 class="contact-info__title">
				<img src="/img/icon_iletisim.svg" alt="iletisim" />İLETİŞİM FORMU
			</h3>
			<p class="text">
				{@html contact.content}
			</p>
		</div>
		<!-- svelte-ignore component-name-lowercase -->
		<form class="contact-form" on:submit|preventDefault={validate}>
			<div class="input-group">
				<label class="input-group__title" for="name">Adınız Soyadınız</label>
				<div class="input-outer" class:input-error={$name.invalid}>
					<input class="input" id="name" name="name" type="text" bind:value={$name.value} />
				</div>
				{#if $name.invalid}
					<small class="error-message">Adınızı ve soyadınızı giriniz!</small>
				{/if}
			</div>
			<div class="input-group">
				<label class="input-group__title" for="email">E-Mail Adresiniz</label>
				<div class="input-outer" class:input-error={$userMail.invalid}>
					<input class="input" id="email" name="email" type="email" bind:value={$userMail.value} />
				</div>
				{#if $userMail.invalid}
					<small class="error-message">Geçerli bir mail adresi giriniz!</small>
				{/if}
			</div>
			<div class="input-group">
				<label class="input-group__title" for="message">Mesajınız</label>
				<div class="input-outer input-outer--textarea" class:input-error={$message.invalid}>
					<textarea class="input" id="message" name="message" bind:value={$message.value} />
				</div>
				{#if $message.invalid}
					<small class="error-message">Mesajınızı giriniz!</small>
				{/if}
			</div>
			<button
				class="btn btn--black btn--full send-button"
				class:success={success && !loading}
				class:error={error && !loading}
				class:disabled={formDisabled || formEmpty || loading}
			>
				<div class="btn__text">{status}</div>
			</button>
		</form>
	</div>
	<div class="contact-block contact-box">
		<div class="box">
			<div class="box-section">
				<div class="map mbi-3">
					{@html contact.mapIframe}
				</div>
				<Meta title="Genel Merkez" text={contact.address} />
				<!--TODO:// Koordinat verisi çekilecek.-->
				<a
					class="btn btn--black btn--full btn--md mt-3"
					target="direction"
					href="https://www.google.com/maps?saddr=Current+Location&daddr=İHH+İnsani+Yardım+Vakfı,+Ali+Kuşçu+Mahallesi,+Büyük+Karaman+Cad.+Taylasan+Sok.+No:3,+34040+Fatih%2Fİstanbul"
				>
					<div class="btn__text">Yol Tarifi Al</div>
				</a>
			</div>
			<div class="box-section">
				<Meta title="E-Posta Adresi" linkText={contact.email} link="mailto:{contact.email} " />
			</div>
		</div>
	</div>
</section>

<style lang="scss">
	@import '../styles/helpers/form.scss';
	@import '../styles/component/box/index.scss';
	@import '../styles/component/meta/link.scss';

	.contact {
		padding: 0 var(--page-padding-x) var(--page-padding-y) 0;
		max-width: var(--max-page-width, unset);
		display: flex;
		@include bp(tablet-small-under) {
			flex-direction: column-reverse;
			padding: var(--page-padding-y) var(--page-padding-x);
		}
		&-info {
			padding: var(--page-padding-y) 10rem 4rem var(--page-padding-x);
			margin-bottom: 4rem;
			border-bottom: 1px solid $c-border;
			@include bp(tablet-small-under) {
				padding: 0 0 var(--page-padding-y) 0;
			}
			p {
				font-size: 2rem;
				letter-spacing: -0.02rem;
				font-weight: 400;
				color: $c-black;
			}

			&__title {
				display: flex;
				align-items: center;
				color: $c-red;
				font-size: 1.4rem;
				margin-bottom: 2rem;

				img {
					width: 2rem;
					display: block;
					margin-right: 0.5rem;
				}
			}
		}

		&-form {
			padding-left: var(--page-padding-x);
			padding-right: 10rem;
			@include bp(laptop) {
				padding-right: 5vw;
			}
			@include bp(desktop) {
				padding-right: 4rem;
			}
			@include bp(tablet-small-under) {
				padding: 0;
			}
			.btn {
				margin-top: 2.5rem;
			}
		}

		&-block {
			flex: 0 0 auto;
			max-width: 50%;
			@include bp(tablet-small-under) {
				flex: unset;
				max-width: 100%;
			}
		}

		:global(.box) {
			border-top: 0;
		}

		&-box {
			width: 52rem;
			max-width: 50%;

			@include bp(tablet-small-under) {
				margin-bottom: 4rem;
				max-width: unset;
				width: 100%;
			}
			.map {
				width: 100%;
				height: 23rem;
				overflow: hidden;
				border: 1px solid $c-border;
				@include bp(tablet-small-under) {
					height: 50vw;
				}
				iframe {
					height: inherit;
					width: 100%;
				}
			}

			:global(.meta__title) {
				margin-bottom: 1rem;
			}

			:global(.meta__text) {
				font-weight: 500;
				color: $c-title;
				text-decoration: unset;
			}
			:global(a.meta__text:hover) {
				color: $c-red;
			}
		}
	}

	.send-button {
		&.disabled {
			opacity: 0.5;
			pointer-events: none;
		}
		&.success {
			opacity: 1;
			background-color: rgb(50, 113, 40);
			@include bp(tablet-small-under) {
				font-size: 2rem;
			}
		}

		&.error {
			background-color: $c-red;
			@include bp(tablet-small-under) {
				font-size: 2rem;
			}
		}
	}
</style>
