<script context="module" lang="ts">
	import ArticleCard from '$components/Cards/ArticleCard.svelte';
	import BiographyCard from '$components/Cards/BiographyCard.svelte';
	import Card from '$components/Cards/Card.svelte';
	import DictionaryCard from '$components/Cards/DictionaryCard.svelte';
	import DocumentCard from '$components/Cards/DocumentCard.svelte';
	import ExhibitCard from '$components/Cards/ExhibitCard.svelte';
	import HomeTimelineCard from '$components/Cards/HomeTimelineCard.svelte';
	import InfographicCard from '$components/Cards/InfographicCard.svelte';
	import LibraryCard from '$components/Cards/LibraryCard.svelte';
	import MapCard from '$components/Cards/MapCard.svelte';
	import VideoCard from '$components/Cards/VideoCard.svelte';
	import VirtualTourCard from '$components/Cards/VirtualTourCard.svelte';
	import LoadMore from '$components/Common/LoadMore.svelte';
	import Seo from '$components/Global/Seo.svelte';
	import { getHomeCards, getHomeCardsMobile } from '$lib/services/home.service';
	import { getSeoData } from '$lib/services/seo.service';
	import type { TScrollerOptions, TSection } from '$lib/types';
	import maqruee from '$lib/utils/maqruee';
	import { headerStore } from '$stores/header.store';
	import { homeStore } from '$stores/home.store';
	import { pageStore } from '$stores/page.store';
	import { seoStore } from '$stores/seo.store';
	import type { LoadInput, LoadOutput } from '@sveltejs/kit/types/internal';
	import { onDestroy, onMount, SvelteComponent } from 'svelte';
	import { get } from 'svelte/store';
	import { fade } from 'svelte/transition';

	export const prerender = true;

	export async function load({ fetch }: LoadInput): Promise<LoadOutput> {
		pageStore.setCurrentSection('home');

		const { items, mobileItems } = get(homeStore);

		if (items.length > 0 && mobileItems.length > 0) {
			return {
				status: 200,
			};
		}

		try {
			const { items: mobileItems, next, page } = await getHomeCardsMobile({ fetch, page: 1 });

			homeStore.setMobileItems(mobileItems);
			homeStore.setMobileNext(next);
			homeStore.setMobilePage(page);
		} catch (error) {
			return {
				error: `Ana ekran mobil kartlar cekilirken hata oldu: \n${error}`,
			};
		}

		try {
			const { items: homeItems } = await getHomeCards({ fetch });
			const content = await getSeoData('home');
			seoStore.setSeoContent('home', content);

			homeStore.setItems(homeItems);
			homeStore.setLoaded(true);

			return {
				status: 200,
			};
		} catch (error) {
			return {
				error: `Ana ekran kartlar cekilirken hata oldu: \n${error}`,
			};
		}
	}
</script>

<script lang="ts">
	let innerWidth: number;
	let showContents = false;

	$: component = (el: TSection) => {
		let comp: typeof SvelteComponent;
		switch (el) {
			case 'bios':
				comp = BiographyCard;
				break;
			case 'exhibitions':
				comp = ExhibitCard;
				break;
			case 'articles':
				comp = ArticleCard;
				break;
			case 'dictionary_posts':
				comp = DictionaryCard;
				break;
			case 'documentaries':
				comp = VideoCard;
				break;
			case 'historical_documents':
				comp = DocumentCard;
				break;
			case 'maps':
				comp = MapCard;
				break;
			case 'books':
				comp = LibraryCard;
				break;
			case 'infographics':
				comp = InfographicCard;
				break;
			case 'virtualTours' || 'virtual_tours':
				comp = VirtualTourCard;
				break;
			case 'historical_documents':
				comp = DocumentCard;
				break;
			case 'timeline_posts':
				comp = HomeTimelineCard;
				break;
			default:
				comp = Card;
		}
		return comp;
	};

	onMount(() => {
		headerStore.setVisible(false);
		showContents = true;
	});

	onDestroy(() => {
		showContents = false;
	});

	const marquee = (el: HTMLElement, opts: TScrollerOptions) => {
		let mq = null;
		if (innerWidth > 767) {
			mq = new maqruee(el, {
				pauseOnHover: true,
				delayBeforeStart: 100,
				startVisible: true,
				duplicated: true,
				duration: 30000000,
				gap: 40,
				...opts,
			});
		}

		if (innerWidth < 768) {
			mq && mq.destroy();
		}

		return {
			destroy() {
				mq && mq.destroy();
			},
		};
	};

	const handleLoadMore = async () => {
		let page = $homeStore.mobilePage + 1;
		const { items, next } = await getHomeCardsMobile({ fetch, page });
		homeStore.setMobileItemsMore(items);
		homeStore.setMobileNext(next);
		homeStore.setMobilePage(page);
	};
</script>

<svelte:window bind:innerWidth />

<Seo {...$seoStore.home} />

<div class="flowcards">
	{#if showContents && innerWidth}
		<main class="main-grid" in:fade={{ delay: 100 }}>
			<div class="demo-list" use:marquee={{ direction: 'up' }}>
				{#each $homeStore.items.slice(0, 24) as item, index}
					<div class="box">
						<svelte:component this={component(item.section)} {...item.content} {index} />
					</div>
				{/each}
			</div>
			<div class="demo-list" use:marquee={{ direction: 'down' }}>
				{#each $homeStore.items.slice(24, 48) as item, index}
					<div class="box">
						<svelte:component this={component(item.section)} {...item.content} {index} />
					</div>
				{/each}
			</div>
			<div class="demo-list" use:marquee={{ direction: 'up' }}>
				{#each $homeStore.items.slice(48, 72) as item, index}
					<div class="box">
						<svelte:component this={component(item.section)} {...item.content} {index} />
					</div>
				{/each}
			</div>
		</main>
		{#if innerWidth < 768 && !$pageStore.isLoading}
			<div class="mobile-list" in:fade={{ delay: 3000 }}>
				{#each $homeStore.mobileItems as item, index}
					<div class="box">
						<svelte:component this={component(item.section)} {...item.content} {index} />
					</div>
				{/each}
				{#if $homeStore.mobileNext}
					<div class="loading-mobile">
						<LoadMore on:loading={handleLoadMore} />
					</div>
				{/if}
			</div>
		{/if}
	{/if}
</div>

<style lang="scss">
	:global(.js-marquee) {
		margin-bottom: 0 !important;
	}

	.mobile-list {
		display: none;

		@include bp(tablet-small-under) {
			display: flex;
			flex-direction: column;
			padding-bottom: 8rem;
		}

		& > .loading-mobile {
			padding: 15rem 0 7rem;
			display: flex;
			justify-content: center;
			align-items: center;
		}

		& > .box {
			padding: 1.5rem 3rem;
		}
	}

	.demo-list {
		height: 100vh;
		display: flex;
		flex-direction: column;
		width: calc(var(--max-page-width) / 3 - 13rem);

		@include bp(r-desktop-xl) {
			width: 40rem;
		}

		@include bp(desktop-l) {
			width: calc(150rem / 3 - 13rem);
		}

		@include bp(laptop-s) {
			width: calc(150rem / 3 - 15rem);
		}

		@include bp(desktop) {
			width: calc(150rem / 3 - 13rem);
		}

		@include bp(tablet-small-under) {
			height: auto;
		}

		@include bp(mobile-small) {
			width: 100%;
		}

		:global(.card-dictionary .card__title) {
			font-size: 4rem;
		}

		:global(.card) {
			margin-bottom: 0 !important;
		}
	}

	.main-grid {
		overflow: hidden;
		max-width: var(--max-page-width);
		margin: 0 auto;
		display: flex;
		justify-content: space-between;
		z-index: 100000;
		margin-top: calc(-1 * var(--header-height));
		height: 100vh;
		padding: 0 var(--page-padding-x);

		@include bp(desktop) {
			justify-content: space-around;

			.demo-list {
				&:last-child {
					display: none;
				}
			}
		}

		@include bp(tablet-small-under) {
			display: none;
		}
	}

	.box {
		width: 100%;
		flex-basis: 100%;
		padding: 2rem 0;

		:global(.post),
		:global(.card) {
			max-width: 100% !important;
			min-width: unset !important;
			width: 100% !important;
		}

		:global(.card-dictionary) {
			min-height: 40rem;
		}

		:global(.card-dictionary .card__title) {
			@include bp(tablet-small-under) {
				font-size: 3.8rem;
			}
		}
	}
</style>
