<script context="module" lang="ts">
	import ProjectSummary from '$components/Projects/ProjectSummary.svelte';
	import { getProjectsList } from '$lib/services/project.service';
	import { headerStore } from '$stores/header.store';
	import { projectsStore } from '$stores/project.store';
	import { onMount } from 'svelte';
	import { get } from 'svelte/store';

	export const prerender = true;

	export async function load(): Promise<LoadOutput> {
		headerStore.setTitle('Projeler');

		const { items } = get(projectsStore);

		const seoContent = await getSeoData('projects');
		seoStore.setSeoContent('projects', seoContent);

		if (items.length > 0) {
			return {
				status: 200,
			};
		} else {
			try {
				const { next, items, total } = await getProjectsList(1);

				projectsStore.setPage(1);
				projectsStore.setNext(next);
				projectsStore.setTotal(total);
				projectsStore.setItems(items);

				return {
					status: 200,
				};
			} catch (error) {
				return {
					error: `Hata oldu: \n${error}`,
				};
			}
		}
	}
</script>

<script lang="ts">
	import ProjectSlides from '$components/Projects/ProjectSlides.svelte';
	import type { LoadOutput } from '@sveltejs/kit/types/internal';
	import Seo from '$components/Global/Seo.svelte';
	import { seoStore } from '$stores/seo.store';
import { getSeoData } from '$lib/services/seo.service';

	onMount(() => {
		headerStore.setBack(false);
		headerStore.setSearch(false);
		headerStore.setIcon('');
	});
</script>

<Seo {...$seoStore.projects} />

<div class="projects">
	{#each $projectsStore.items as project, index}
		<section class="projects-section">
			<ProjectSummary index={index + 1} title={project.name} content={project.description} />
		</section>
		<!--TODO:type verisi çekilecek-->
		<ProjectSlides id={project.id} type="project" />
		<hr class="divider divider--10 divider--mobile-8" />
	{/each}
</div>

<style lang="scss">
	.projects {
		padding: var(--page-padding-y) 0;

		&-section {
			padding: 0 var(--page-padding-x);
			max-width: var(--max-page-width, unset);
			margin-bottom: 2rem;
			&:first-child {
				:global(.summary) {
					margin-top: 0;
				}
			}
		}

		:global(.slider-section-nav-wrapper) {
			position: relative;
			padding-bottom: 0;
			padding-top: 0;
		}

		:global(.card-video .card__img) {
			--video-card-height: --big-card-image-height;
			--video-card-width: 100%;
		}
		:global(.summary) {
			margin-bottom: 0;
		}
		.divider {
			&:last-of-type {
				display: none;
			}
		}
		// &-slider {
		// 	max-width: var(--max-page-width, unset);

		// 	:global(.card) {
		// 		max-width: unset;
		// 		@include bp(tablet-small-under) {
		// 			min-width: unset !important;
		// 		}
		// 	}

		// 	:global(.swiper) {
		// 		padding: var(--page-padding-y) var(--page-padding-x);
		// 	}

		// 	:global(.swiper-pagination) {
		// 		position: static;
		// 		width: auto;
		// 	}
		// }
	}
</style>
