<script lang="ts">
	import DictionaryCard from '$components/Cards/DictionaryCard.svelte';
	import LoadMore from '$components/Common/LoadMore.svelte';
	import { getLetterCards } from '$lib/services/letter.service';
	import { dictionaryStore } from '$stores/dictionary.store';
	import { letterStore } from '$stores/letter.store';
	import { fade, fly } from 'svelte/transition';

	export let letter: string;
	export let id: number;

	$: blockLetter = letter + letter.toLocaleLowerCase('tr');

	const handleLoadMore = async () => {
		let page = $letterStore.page + 1;
		const { items, next } = await getLetterCards(id, page);
		letterStore.setPage(page);
		letterStore.setMoreItems(items);
		letterStore.setNext(next);
	};
</script>

<section class="block">
	<div class="block-content">
		{#key $dictionaryStore.activeCategoryId}
			<span class="title title--letter" in:fade={{ duration: 400 }}>{blockLetter}</span>
			<div class="block-cards">
				{#each $letterStore.items as item, index}
					<div in:fly={{ y: 50 + 5 * index, duration: 400 + 5 * index, delay: 200 + 20 * index }}>
						<DictionaryCard
							title={item.title}
							slug={item.slug}
							subtitle={item.subtitle}
							size="small"
						/>
					</div>
				{/each}
				{#if $letterStore.hasNext}
					<LoadMore on:loading={handleLoadMore} />
				{/if}
			</div>
		{/key}
	</div>
</section>

<style lang="scss">
	.block {
		&:not(.last-child) {
			border-bottom: 1px solid $c-border;
		}
		&-content {
			padding: var(--page-padding-y) var(--page-padding-x);
			max-width: var(--max-page-width, unset);
			display: flex;
			width: 100%;
			@include bp(tablet-small-under) {
				display: block;
			}
		}
		:global(.loading){
			margin-top: 8rem;
		}
		.title--letter {
			flex: 1 1 40%;
			position: sticky;
			top: 20px;
			align-self: start;

			@include bp(tablet) {
				flex: 1 1 32%;
				position: static;
			}
			@include bp(tablet-small-under) {
				flex: 1 1 100%;
				margin-bottom: 1rem;
				display: block;
			}
		}

		&-cards {
			flex: 1 1 60%;
			@include bp(tablet) {
				flex: 1 1 68%;
			}
			@include bp(tablet-small-under) {
				flex: 1 1 100%;
			}

			div {
				margin-bottom: 2rem;

				&:last-child {
					margin-bottom: 0;
				}
			}
		}
	}
</style>
