<script lang="ts">
	import { page } from '$app/stores';
	// import { t } from 'svelte-intl-precompile';

	export let letter: string;
	export let text: string;

	$: urlLetter = $page.url.searchParams.get('liste');
</script>

<a href={`/kavramlar-sozlugu?liste=${letter}`} class="letter" class:active={urlLetter === letter}>
	{text}
</a>

<style lang="scss">
	.letter {
		padding: 0.8rem 1.6rem;
		cursor: pointer;
		transition: $transition;
		font-weight: 400;
		line-height: 1.4em;
		text-align: center;
		border-radius: 3.2rem;
		display: flex;
		align-items: center;
		border: 1px solid transparent;

		&:hover {
			color: $c-title;
		}
		&.active {
			background: $c-bg-light;
			border-color: $c-border;
		}
	}
</style>
