<script context="module" lang="ts">
	import { afterNavigate, beforeNavigate } from '$app/navigation';
	import LoadMore from '$components/Common/LoadMore.svelte';
	import LetterBlock from '$components/Dictionary/LetterBlock.svelte';
	import { getLetterCards } from '$lib/services/letter.service';
	import { dictionaryStore } from '$stores/dictionary.store';
	import { headerStore } from '$stores/header.store';
	import { letterStore } from '$stores/letter.store';
	import { pageStore } from '$stores/page.store';
	import type { LoadInput, LoadOutput } from '@sveltejs/kit/types/internal';
	import { afterUpdate, onDestroy, onMount } from 'svelte';
	import { get } from 'svelte/store';

	export const prerender = true;

	export async function load({ params }: LoadInput): Promise<LoadOutput> {
		const { categories } = get(dictionaryStore);
		const { id: letterId } = get(letterStore);

		const { id, name: letter } = categories.find((e) => e.slug === params.slug);

		if (id === letterId) {
			return {
				props: { id, letter },
				status: 200,
			};
		}

		try {
			const { next, items, total } = await getLetterCards(id, 1);

			letterStore.setId(id);
			letterStore.setPage(1);
			letterStore.setNext(next);
			letterStore.setTotal(total);
			letterStore.setItems(items);

			return {
				props: { id, letter },
				status: 200,
			};
		} catch (error) {
			return {
				error: `Hata oldu: \n${error}`,
			};
		}
	}
</script>

<script lang="ts">
	export let letter: string;
	export let id: number;

	let loading = false;

	onMount(() => {
		pageStore.setBackUrl('/kavramlar-sozlugu');

		dictionaryStore.setInDetail(false);
	});

	afterUpdate(() => {
		headerStore.setTitle(`${letter} Harfi`);
	});

	onDestroy(() => {
		dictionaryStore.setLetterSelected(false);
	});

	beforeNavigate(() => {
		loading = true;
	});

	afterNavigate(() => {
		loading = false;
	});
</script>

<div>
	{#if loading}
		<LoadMore />
	{:else}
		<LetterBlock {id} {letter} />
	{/if}
</div>
