<script context="module" lang="ts">
	import { API_STORE } from '$lib/constants/urls';
	import { fetcher } from '$lib/helpers';
	import type { IMapCategoryResponse } from '$lib/response.type';
	import type { IMapCategory } from '$lib/types';
	import { mapsStore } from '$stores/maps.store';
	import type { LoadOutput } from '@sveltejs/kit/types/internal';
	import { get } from 'svelte/store';

	export async function load(): Promise<LoadOutput> {
		const { categories } = get(mapsStore);

		if (categories.length > 0) {
			return {
				status: 200,
			};
		}

		try {
			const data: IMapCategoryResponse[] = await fetcher(`${API_STORE.mapCategories}`);

			const mapCategories: IMapCategory[] = data.map((r) => {
				return {
					description: r.description,
					title: r.name,
					icon: r.meta_data.kategori_ikonu.url,
					id: r.id,
					link: '/haritalar/' + r.slug,
					slug: r.slug,
					disabled: r.slug === 'interaktif-haritalar',
				};
			});

			mapsStore.setMapCategories(mapCategories);

			return {
				status: 200,
			};
		} catch (error) {
			return {
				error: `Hata oldu: \n ${error}`,
			};
		}
	}
</script>

<slot />
