<script context="module" lang="ts">
	export async function load() {
		const content = await getSeoData('maps');
		seoStore.setSeoContent('maps', content);

		return {
			status: 200,
		};
	}
</script>

<script lang="ts">
	import Seo from '$components/Global/Seo.svelte';
	import Map from '$components/Map/Map.svelte';
	import { getSeoData } from '$lib/services/seo.service';
	import { headerStore } from '$stores/header.store';
	import { mapsStore } from '$stores/maps.store';
	import { pageStore } from '$stores/page.store';
	import { seoStore } from '$stores/seo.store';
	import { sidebarStore } from '$stores/sidebar.store';
	import { onMount } from 'svelte';

	onMount(() => {
		headerStore.setTitle('Haritalar');
		headerStore.setIcon('haritalar');
		pageStore.setCurrentSection('maps');

		headerStore.setSearch(false);
		sidebarStore.setInfoVisible(true);
	});
</script>

<Seo {...$seoStore.maps} />

<section class="map-cats">
	{#each $mapsStore.categories as category}
		<Map
			categoryId={category.id}
			link={category.link}
			linkText={category.disabled ? 'Yakında' : 'Haritaları Görüntüle'}
			title={category.title}
			text={category.description}
			icon={category.icon}
			disabled={category.disabled}
		/>
	{/each}
</section>

<style lang="scss">
	.map-cats {
		padding: 0;
		max-width: unset;
		display: flex;
		height: calc(100vh - var(--header-height));
		@include bp(tablet) {
			height: calc(100vh - var(--header-height) - var(--selector-height) * 2);
		}
		@include bp(mobile) {
			display: block;
			height: auto;
		}

		:global(.mapbox) {
			flex: 0 0 50%;
			height: 100%;
			justify-content: center;
			display: flex;
			flex-direction: column;
			cursor: pointer;

			@include bp(mobile) {
				flex: 0 0 100%;
				height: auto;
				padding: 6rem var(--container-gutter);
			}
		}
		:global(.mapbox:last-child) {
			pointer-events: none;
		}
		:global(.mapbox:last-child .btn) {
			filter: grayscale(1);
			opacity: 0.7;
			pointer-events: none;
		}
		:global(.mapbox:last-child img) {
			filter: grayscale(1);
			opacity: 0.7;
			pointer-events: none;
		}
		:global(.mapbox + .mapbox) {
			border-left: 1px solid $c-border;
			@include bp(mobile) {
				border-left: 0;
				border-top: 1px solid $c-border;
			}
		}
	}
</style>
