.subpage {
  &-header {
    display: flex;
    padding: 4rem var(--page-padding-x) 0 var(--page-padding-x);
    border-bottom: $s-border;
    & + .tab {
      .tab-nav {
        border-top: 0;
      }
    }
  }
}
