.subpage {
  .image-bg{
        overflow: hidden;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        width: 100%;
        height: auto;
  }
}
