.subpage {
  &-similar {
    position: relative;
    &::before,
    &::after {
      content: "";
      left: 0;
      top: 0;
      background: linear-gradient(to right, $c-bg, rgba($c-bg, 0));
      width: var(--page-padding-x);
      height: calc(100%);
      position: absolute;
      z-index: 2;
      pointer-events: none;
      @include bp(r-desktop-xl) {
        width: calc((100vw - var(--container-width) - var(--sidebar-width)) / 2);
        background: linear-gradient(to right, $c-bg 80%, rgba($c-bg, 0));
      }
    }

    &::after {
      left: unset;
      right: 0;
      transform: rotate(180deg);
    }
    .section__title {
      margin-bottom: 1.5rem;
    }

    &-list {
      display: flex;
      justify-content: space-between;
      position: relative;
      max-width: var(--max-page-width);
      padding-top: 3.5rem;
      &::-webkit-scrollbar {
        display: none; // Safari and Chrome
      }
      :global(.card:not(:last-child)),
      :global(.post:not(:last-child)) {
        margin-right: 6rem;
      }

      @include bp(laptop-s) {
        margin-left: calc(-1 * var(--page-padding-x));
        padding-left: var(--page-padding-x);
        padding-right: var(--page-padding-x);
        width: calc(100% + 2 * var(--page-padding-x));
        overflow-x: auto;
        padding-bottom: 4rem;
        &::after {
          content: "";
          display: block;
          width: 2rem;
          height: 1px;
          background-color: $c-bg;
          flex-shrink: 0;
        }
      }
      @include bp(desktop-l) {
        :global(.card:not(:last-child)),
        :global(.post:not(:last-child)) {
          margin-right: 4rem;
        }
      }
      @include bp(tablet) {
        :global(.card:not(:last-child)),
        :global(.post:not(:last-child)) {
          margin-right: 2.4rem;
        }
      }
    }
  }
}
