<script lang="ts">
	export let projectId: number;
	export let title: string;
	export let subtitle: string;
	export let thumbnail: string;
	export let link: string;
</script>

<a target="_blank" href={link} class="card card-video">
	<div class="card-video-img_wrapper">
		{#if thumbnail}
			<div class="card__img-bg" style="background-image: url(/img/dummy_video_belgesel.jpg);">
				<img class="card__img" src={thumbnail} alt={title} />
			</div>
			{#if projectId !== 5}
				<div class="play" />
			{/if}
		{:else}
			<div class="card__img-bg" style="background-image: url(/img/dummy_video_belgesel.jpg);">
				<img class="card__img" src="/img/dummy_video_belgesel.jpg" alt={title} />
			</div>
			<div class="play" />
		{/if}
	</div>
	<h6 class="card__title">{title}</h6>
	<span class="card__subtitle">{subtitle}</span>
</a>

<style lang="scss">
	@import '../../styles/component/card/index.scss';
	@import '../../styles/component/card/img.scss';
	@import '../../styles/component/card/subtitle.scss';
	@import '../../styles/component/card/play.scss';
	@import '../../styles/component/play.scss';

	.card-video {
		.card {
			&__img {
				width: 100%;
				height: var(--big-card-image-height);
			}

			&-video {
				&-img_wrapper {
					position: relative;
				}
			}
		}
	}
</style>
