<script lang="ts">
	import { fly } from 'svelte/transition';

	type Size = 'small' | 'large';

	export let index: number;
	export let title: string;
	export let author: string = '';
	export let description: string = '';
	export let date: string = '';
	export let thumbnail: string = '';
	export let size: Size = 'small';
	export let slug: string;
</script>

<a
	class="post"
	class:post--small={size === 'small'}
	class:post--large={size === 'large'}
	href={`/kose-yazilari/${slug}`}
	in:fly={{ y: 20, duration: 200, delay: 100 + (index % 12) * 50 }}
>
	{#if thumbnail}
		<div class="post__img-bg" style="background-image: url(/img/dummy_kose_yazilari.jpg);">
			<img class="post__img" src={thumbnail} alt={title} />
		</div>
	{:else}
		<img class="post__img" src="/img/dummy_kose_yazilari.jpg" alt={title} />
	{/if}
	<div class="post-content">
		<h6 class="post__title title title--sm title--second">{@html title}</h6>
		{#if size !== 'small'}
			<p class="post__text text">
				{description}
			</p>
		{/if}
		{#if date}
			<div class="post-date">
				<span class="post-date__icon icon-font">
					<svg class="icon icon-font">
						<use xlink:href="/icons.svg#icon-clock" />
					</svg>
				</span>
				<span class="post-date__text">{date}</span>
			</div>
		{/if}
		{#if author}
			<span class="post__author">{author}</span>
		{/if}
	</div>
</a>

<style lang="scss">
	@import '../../styles/component/post.scss';
</style>
