<script lang="ts">
	export const index = 0;
	export let title: string = '';
	export let birth: string = '';
	export let death: string = '';
	export let thumbnail: string = '';
	export let subtitle: string = '';
	export let slug: string = '';
	export let alive: boolean = false;
</script>

<a class="card card-bio" href="/biyografiler/{slug}" sveltekit:prefetch>
	{#if thumbnail}
		<div class="card__img-bg" style="background-image: url(/img/dummy_bio_small.jpg);">
			<img class="card__img" src={thumbnail} alt={title} />
		</div>
	{:else}
		<img class="card__img" src="/img/dummy_bio_small.jpg" alt={title} />
	{/if}
	<div class="card-head">
		<h6 class="card__title">{title}</h6>
		{#if birth === '' && death === ''}
			<span class="card__date">(Bilinmiyor)</span>
		{:else}
			<span class="card__date">
				({birth || 'Bilinmiyor'} - {!alive ? death || 'Bilinmiyor' : ''})
			</span>
		{/if}
	</div>
	<span class="card__subtitle"
		>{#if subtitle}{subtitle}{/if}</span
	>
</a>

<style lang="scss">
	@import '../../styles/component/card/index.scss';
	@import '../../styles/component/card/img.scss';
	@import '../../styles/component/card/subtitle.scss';
	@import '../../styles/component/card/date.scss';
	.card-bio {
		padding-top: 7rem;
		padding-bottom: 4.5rem;
		min-height: 42rem;
		display: flex;
		flex-direction: column;
		justify-content: center;
		@include bp(desktop) {
			width: 32rem;
		}
		@include bp(mobile) {
			width: 35rem;
			max-width: 100%;
		}
		@include bp(mobile-l-small) {
			width: 100%;
			max-width: 100%;
		}
		.card {
			&-head {
				min-height: 14rem;
				display: flex;
				flex-direction: column;
				justify-content: center;
				margin-top: 1rem;
			}
			&__img {
				overflow: hidden;
				font-size: 13rem;
				width: 1em;
				height: 1em;
				border-radius: 50%;
				box-shadow: none;
				border: $s-border;
				object-position: top;
				&-bg {
					overflow: hidden;
					background-size: cover;
					background-repeat: no-repeat;
					background-position: center center;
					border-radius: 50%;
					width: 1em;
					height: 1em;
					font-size: 13rem;
					margin: 0 auto;
					color: transparent;
				}
			}

			&__title {
				margin-top: 0;
				max-width: 23rem;
				margin-left: auto;
				margin-right: auto;
				line-height: 1.4;
				padding: 0;
			}

			&__date {
				margin-top: 0.4rem;
			}

			&__subtitle {
				padding-top: 1rem;
				margin-top: auto;
				display: block;
				min-height: 2rem;
			}
		}
	}
</style>
