<script lang="ts">
	type Card = 'project' | 'bio' | '';

	export let title: string;
	export let subtitle: string;
	export let link: string;
	export let thumbnail: string;

	/**
	 * Kart türü
	 * @type {'project' | 'bio' | ''}
	 */
	export let type: Card = '';
</script>

<a class="card--{type} card" href={link}>
	{#if thumbnail}
		<img class="card__img" src={thumbnail} alt={title} />
	{:else}
		<img class="card__img" src="/img/dummy_tarihi-belge.jpg" alt={title} />
	{/if}
	<h6 class="card__title">{@html title}</h6>
	<div class="card-subtitles">
		<span class="card__subtitle">{subtitle}</span>
	</div>
</a>

<style lang="scss">
	.card {
		display: block;
		border: 1px solid $c-border;
		padding: 3rem;
		transition: $transition;
		max-width: 34rem;
		text-align: center;
		background-color: $c-bg-light;

		&:hover {
			box-shadow: 0 45px 30px -25px rgba($c-black, 0.15);
			transform: translateY(-2rem);
		}

		&__img {
			height: auto;
			width: auto;
			max-width: 100%;
			object-fit: cover;
			display: block;
			margin-left: auto;
			margin-right: auto;
			box-shadow: 0 30px 21px -20px rgba($c-black, 0.2);
		}

		&__title {
			font-size: 2.2rem;
			font-family: $font-family-second;
			margin-top: 2.6rem;
			letter-spacing: -0.022rem;
			font-weight: 400;
			color: $c-title;
			padding: 0 3rem;
			line-height: 1.4;

			span {
				display: block;
			}
		}

		&__date {
			font-weight: 300;
			font-size: 1.6rem;
		}

		&__place {
			font-weight: 300;
			font-size: 1.7rem;
			letter-spacing: 0.017rem;
			display: block;
		}

		&__subtitle {
			font-weight: 600;
			font-size: 1.8rem;
			margin-top: 1.5rem;
			color: $c-title;
		}

		&-subtitles {
			display: flex;
			flex-wrap: wrap;
			text-align: center;
			align-items: center;
			justify-content: center;
			.card__subtitle {
				margin-right: 1rem;
			}
		}

		&-footer {
			position: relative;
		}

		&--category {
			display: flex;
			align-items: center;

			.card {
				&__title {
					margin-top: 0;
					font-family: $font-family-base;
					font-size: 2.1rem;
					font-weight: 500;
					padding-right: 0;
				}
			}
		}

		&--book {
			background-color: $c-bg-light;

			.card {
				&__img {
					height: 30rem;
					width: 21rem;
				}
			}
		}

		&--concept {
			text-align: left;

			&.card--flat {
				max-width: unset;

				.card {
					&__title {
						font-size: 2.8rem;
						letter-spacing: 0.028rem;
						max-width: unset;
					}
				}
			}

			.card {
				&__title {
					font-size: 3.8rem;
					letter-spacing: 0.038rem;
					font-weight: 600;
					margin-bottom: 1rem;
					margin-top: 0;
					max-width: 23rem;
					padding: 0;
				}
			}
		}

		&--bio {
			.card {
				&__img {
					overflow: hidden;
					font-size: 12rem;
					width: 1em;
					height: 1em;
					margin-top: 3rem;
					border-radius: 50%;
					box-shadow: none;
				}

				&__title {
					margin-top: 5rem;
					max-width: 23rem;
					margin-left: auto;
					margin-right: auto;
					line-height: 1.4;
					padding: 0;
				}

				&__subtitle {
					padding-top: 3rem;
					margin-top: auto;
				}
			}
		}

		&--video {
			.card {
				&__img {
					width: 100%;
					height: 35rem;
				}
			}
		}

		&--map {
			.card {
				&__img {
					width: 100%;
					height: 33rem;
				}

				&__subtitle {
					margin-top: 1rem;
					display: block;
				}
			}
		}

		&--virtual_trip {
			max-width: 56rem;
			width: 100%;

			.card {
				&__img {
					width: 100%;
					height: 33rem;
					box-shadow: none;
				}
			}
		}

		&--project {
			max-width: 56rem;
			width: 100%;

			.card {
				&__img {
					width: 100%;
					height: 33rem;
					box-shadow: none;
				}
				&__title {
					text-align: left;
					padding: 0;
				}
			}
		}

		&--graph {
			.card {
				&__img {
					width: 100%;
					height: 45rem;
				}

				&__title {
					padding: 0;
				}
			}
		}

		&--doc {
			padding: 3.6rem;
			max-width: 56rem;

			&:not(.card--small):hover {
				transform: none;
				box-shadow: none;
			}

			.card {
				&__img {
					width: 100%;
					height: 66rem;
					box-shadow: none;
				}

				&__title {
					padding: 0;
					margin-top: 3.6rem;
				}
			}

			&.card--small {
				max-width: 34rem;
				padding: 3rem;

				.card {
					&__img {
						width: 100%;
						height: 35rem;
						box-shadow: 0 30px 21px -20px rgba($c-black, 0.2);
					}

					&__title {
						margin-top: 2.5rem;
						margin-bottom: 1rem;
					}
				}
			}
		}

		&--time {
			text-align: left;

			.card {
				&__img {
					height: 18rem;
					width: 100%;
				}
			}
		}
	}
</style>
