<script lang="ts">
	type TSize = 'small' | 'large';
	export const index = null;
	export const thumbnail = null;
	export let title = '';
	export let subtitle = '';
	export let description = '';
	export let slug = '';
	export let size: TSize = 'small';
</script>

<a href={`/kavramlar-sozlugu/${slug}`} class="card card-dictionary card-dictionary-{size}">
	<h6 class="card__title">{title}.</h6>
	{#if subtitle}
		<span class="card__place">/ {subtitle}</span>
	{/if}
	{#if description}
		<p class="card__text text">{@html description}</p>
	{/if}
</a>

<style lang="scss">
	@import '../../styles/component/card/index.scss';
	@import '../../styles/component/card/place.scss';

	.card-dictionary {
		text-align: left;
		min-height: 41rem;
		display: flex;
		flex-direction: column;
		margin-bottom: 2rem;

		.card {
			&__title {
				font-size: 3.8rem;
				line-height: 1.3;
				letter-spacing: 0.038rem;
				font-weight: 600;
				margin-bottom: 1rem;
				margin-top: 0;
				padding: 0;
				padding-right: 5rem;
				max-width: unset;
				margin-left: unset;
				margin-right: unset;
				text-align: left;
				-webkit-line-clamp: 3;
			}

			&__text {
				padding-top: 4.2rem;
				margin-top: auto;
				color: $c-title;
				line-height: 1.5;
				display: -webkit-box;
				-webkit-line-clamp: 3;
				-webkit-box-orient: vertical;
				overflow: hidden;
				text-overflow: ellipsis;
				font-size: 2rem;
				@include bp(tablet-small-under) {
					padding-top: 2rem;
				}
			}

			&__place {
				//max-height: 1em;
				display: -webkit-box;
				-webkit-line-clamp: 3;
				-webkit-box-orient: vertical;
				overflow: hidden;
				text-overflow: ellipsis;
			}
		}
		&-small {
			text-align: left;
			height: auto;
			max-width: unset;
			min-height: unset;
			padding: 3rem;
			max-width: unset;
			&:hover {
				transform: translateY(-1rem);
			}
			.card__title {
				font-size: 2.8rem;
				letter-spacing: 0.028rem;
				max-width: unset;
				text-align: left;
				margin-bottom: 0 !important;
			}
			.card__place {
				margin-top: 1rem;
			}
		}
	}
</style>
