<script lang="ts">
	import { zoombox } from '$stores/zoombox.store';

	export let title = '';
	export let thumbnail = '';
	export let fullImage = '';

	let imageEl: HTMLImageElement;

	zoombox.setImage(fullImage);

	const handleCardClick = () => {
		zoombox.setImage(fullImage)
		zoombox.toggle(true)
	}
</script>

<div class="card card-document big" on:click={handleCardClick}>
	{#if thumbnail}
		<div class="card__img-bg" style="background-image: url(/img/dummy_tarihi-belge.jpg);">
			<img class="card__img" src={thumbnail} alt={title} bind:this={imageEl} />
		</div>
	{:else}
		<img class="card__img" src="/img/dummy_tarihi-belge.jpg" alt={title} />
	{/if}
	<div class="card-footer">
		<span class="card__open_icon btn__icon icon-font">
			<svg class="icon icon-font">
				<use xlink:href="/icons.svg#icon-fullpage" />
			</svg>
		</span>
		<h6 class="card__title">{title}</h6>
	</div>
</div>

<style lang="scss">
	@import '../../styles/component/card/index.scss';
	@import '../../styles/component/card/img.scss';
	.card-document {
		// max-width: 39rem;
		height: calc(100vh - var(--header-height) - 15rem);
		padding: 3rem;
		padding-bottom: 0;
		cursor: pointer;
		@include bp(desktop) {
			height: 80rem;
			width: 100%;
			max-width: unset;
		}
		@include bp(tablet) {
			height: auto;
			max-height: unset;
		}
		&:hover {
			transform: none;
			box-shadow: none;
			.card__title {
				color: $c-red;
			}
			.card__open_icon {
				color: $c-red;
			}
		}

		.card {
			&__img {
				width: 100%;
				max-height: calc(100vh - var(--header-height) - 30rem);
				height: 100vh;
				box-shadow: none;
				object-fit: cover;
				@include bp(desktop) {
					max-height: unset;
					height: 65rem;
				}
			}

			&__open_icon {
				font-size: 3.4rem;
				color: $c-title;
				transition: $transition;
			}

			&__title {
				padding: 0;
				margin-top: 0;
				margin-bottom: 0;
			}
			&-footer {
				height: 11.6rem;
				display: flex;
				align-items: center;
				justify-content: center;
				cursor: pointer;
			}
		}
	}
</style>
