<script lang="ts">
	import { fly } from 'svelte/transition';

	export let index: number;
	export let title: string;
	export let subtitle = '';
	export let thumbnail = '';
	export let slug: string;
</script>

<a
	href={`/tarihi-belgeler/${slug}`}
	class="card card-document"
	in:fly={{ y: 20, duration: 200, delay: 100 + (index % 12) * 50 }}
>
	{#if thumbnail}
		<div class="card__img-bg" style="background-image: url(/img/dummy_tarihi-belge.jpg);">
			<img class="card__img" src={thumbnail} alt={title} />
		</div>
	{:else}
		<img class="card__img" src="/img/dummy_tarihi-belge.jpg" alt={title} />
	{/if}

	<div class="card-content">
		<h6 class="card__title">{@html title}</h6>
		{#if subtitle}<span class="card__subtitle">{subtitle}</span>{/if}
	</div>
</a>

<style lang="scss">
	@import '../../styles/component/card/index.scss';
	@import '../../styles/component/card/img.scss';
	@import '../../styles/component/card/subtitle.scss';
	.card-document {
		padding: 3rem;
		width: auto;
		max-width: unset;
		
		@include bp(desktop) {
			width: 38rem;
		}
		@include bp(tablet-small-under) {
			width: auto;
		}
		@include bp(mobile) {
			width: 38rem;
		}
		@include bp(mobile-small) {
			width: 100%;
		}
		.card {
			&__img {
				width: 100%;
				height: 42rem;
				box-shadow: 0 30px 21px -20px rgba($c-black, 0.2);
				@include bp(tablet-small-under) {
					height: 50vw;
				}
				@include bp(mobile) {
					height: 40rem;
				}
				@include bp(mobile-l-small) {
					height: 100vw;
				}
			}

			&-content {
				min-height: 12rem;
				display: flex;
				flex-direction: column;
				justify-content: center;
				margin-top: 2rem;
			}
			&__title {
				padding: 0;
				margin-top: 0;
				margin-bottom: 0;
			}
			&__subtitle {
				margin-top: 2rem;
			}
		}
	}
</style>
