<script lang="ts">
	import { fly } from 'svelte/transition';

	export let index = 0;
	export let title = '';
	export let slug = '';
	export let isArtist = false;
	export let subtitle = '';
	export let thumbnail = '';

	$: link = isArtist ? `/sanatcilar/${slug}` : `/sergiler/${slug}`;
</script>

<a
	sveltekit:prefetch
	href={link}
	class="card card-exhibit"
	in:fly={{ y: 20, duration: 200, delay: 100 + (index % 12) * 50 }}
>
	{#if thumbnail}
		<div class="card__img-bg" style="background-image: url(/img/dummy_sergi.jpg);">
			<img class="card__img" src={thumbnail} alt={title} />
		</div>
	{:else}
		<img class="card__img" src="/img/dummy_sergi.jpg" alt={title} />
	{/if}
	<div class="card-content">
		<h6 class="card__title">{title}</h6>
		{#if subtitle}<span class="card__subtitle">{subtitle}</span>{/if}
	</div>
</a>

<style lang="scss">
	@import '../../styles/component/card/index.scss';
	@import '../../styles/component/card/img.scss';
	@import '../../styles/component/card/subtitle.scss';
	.card {
		// min-width: 35rem;
		max-width: unset;
		@include bp(desktop) {
			max-width: 35rem;
		}
		@include bp(tablet-small-under) {
			width: 30rem;
			min-width: unset;
		}
		@include bp(mobile) {
			width: 35rem;
			max-width: 100%;
		}
		@include bp(mobile-l-small) {
			width: 100%;
			max-width: 100%;
		}
		&-content {
			display: flex;
			flex-direction: column;
			justify-content: center;
			min-height: 9rem;
		}
		&__title {
			margin-bottom: 0;
		}
		&__img {
			width: 100%;
			box-shadow: none;
			height: 18vw;
			@include bp(r-desktop-xl) {
				height: 40rem;
			}
			@include bp(laptop) {
				height: 20vw;
			}
			@include bp(desktop) {
				height: 34rem;
			}
			@include bp(tablet-small-under) {
				height: 28rem;
			}
			@include bp(mobile) {
				height: 36rem;
			}
			@include bp(mobile-l-small) {
				height: 90vw;
			}
		}
	}
</style>
