<script lang="ts">
	export let title: string;
	export let link: string = '';
	export let platform: string;
</script>

<a class="card card-game" href={link}>
	<img class="card__img" src="/img/proje.jpg" alt={title} />
	<h6 class="card__title">{title}</h6>
	<div class="card-subtitles">
		{@html platform}
	</div>
</a>

<style lang="scss">
	@import '../../styles/component/card/index.scss';
	@import '../../styles/component/card/img.scss';

	.card {
		max-width: 56rem;
		width: 100%;

		.card {
			&__img {
				width: 100%;
				height: var(--big-card-image-height);
				box-shadow: none;
			}

			&__title {
				text-align: left;
				padding: 0;
				margin-left: unset;
				margin-right: unset;
			}

			&-subtitles {
				display: flex;
				flex-wrap: wrap;
				margin-top: 2rem;
			}
		}
	}

	:global(.card-game .card-subtitles span) {
		margin-right: 1rem;
		display: flex;
		font-weight: 500;
		font-size: 1.8rem;
		color: $c-title;
	}
</style>
