<div class="ghost-card card">
	<span class="ghost-card__item big" />
	<span class="ghost-card__item middle" />
	<span class="ghost-card__item middle short" />
	<span class="ghost-card__item bottom" />
</div>

<style lang="scss">
	.ghost-card {
		min-height: 52rem;
		background: darken($color: $c-bg, $amount: 3%);
		padding: 3rem;
		border: 1px solid darken($color: $c-bg, $amount: 6%);
		@include bp(tablet) {
			width: 37rem;
			margin-left: auto;
			margin-right: auto;
		}
		@include bp(tablet-small-under) {
			width: 43vw;
		}
		@include bp(mobile) {
			min-height: 42rem;
			width: 35rem;
			margin-left: auto;
			margin-right: auto;
		}
		@include bp(mobile-l-small) {
			width: 100%;
		}
		&__item {
			position: relative;
			overflow: hidden;
			background: rgba($color: #000000, $alpha: 0.1);
			height: 2rem;
			display: block;
			&.big {
				height: 37rem;
				margin-bottom: 2rem;
			}
			&.middle {
				margin-bottom: 0.5rem;
				width: 90%;

				&.short {
					width: 70%;
				}
			}
			&.bottom {
				margin-top: 2rem;
				width: 60%;
			}
			&::after {
				content: '';
				position: absolute;
				top: 0;
				left: -350px;
				width: 200px;
				height: 100%;
				background-image: linear-gradient(270deg, transparent, rgba(#fff, 0.1), transparent);
				animation-name: shine;
				animation-delay: 0.3s;
				animation-duration: 2.2s;
				animation-timing-function: ease;
				animation-iteration-count: infinite;
				animation-direction: normal;
				z-index: 2;
				-webkit-transform: skew(-30deg);
				transform: skew(-30deg);
			}
		}
	}
	@keyframes shine {
		0% {
			left: -250px;
		}

		25% {
			left: 110%;
		}

		to {
			left: 110%;
		}
	}
</style>
