<script lang="ts">
	import { createEventDispatcher } from 'svelte';

	import { inview } from 'svelte-inview';
	import GhostCard from './GhostCard.svelte';

	let dispatch = createEventDispatcher();
	let isInView = false;
	export let count: number = 3;

	const setInView = (e: CustomEvent) => {
		isInView = e.detail.inView;
	};

	$: {
		if (isInView) {
			dispatch('loading');
		}
	}
</script>

<div class="ghost-loader list-grid" use:inview on:change={setInView}>
	{#each Array(count) as a}
		<GhostCard />
	{/each}
</div>

<style lang="scss">
	@import '../../styles/component/list-grid.scss';
	.ghost-loader {
		padding-top: 0;
		@include bp(tablet) {
			:global(.ghost-card:last-child) {
				display: none;
			}
		}
		@include bp(mobile) {
			:global(.ghost-card:nth-child(2)) {
				display: none;
			}
		}
	}
</style>
