<div class="ghost" />

<style lang="scss">
	.ghost {
		background: darken($color: $c-bg, $amount: 3%);
		border: 1px solid darken($color: $c-bg, $amount: 6%);

		&::after {
			content: '';
			position: absolute;
			top: 0;
			left: -350px;
			width: 200px;
			height: 100%;
			background-image: linear-gradient(270deg, transparent, rgba(#fff, 0.1), transparent);
			animation-name: shine;
			animation-delay: 0.3s;
			animation-duration: 2.2s;
			animation-timing-function: ease;
			animation-iteration-count: infinite;
			animation-direction: normal;
			z-index: 2;
			-webkit-transform: skew(-30deg);
			transform: skew(-30deg);
		}
	}
	@keyframes shine {
		0% {
			left: -250px;
		}

		25% {
			left: 110%;
		}

		to {
			left: 110%;
		}
	}
</style>
