<script lang="ts">
	export let title: string;
	export let date: string = '';
	export let thumbnail: string = '';
	export let slug: string;
</script>

<a class="card card--time" href={`/zaman-tuneli/${slug}`}>
	<span class="card__date">{date}</span>
	<h6 class="card__title text">{@html title}</h6>
	{#if thumbnail}
		<div class="card__img-bg" style="background-image: url(/img/dummy_kose_yazilari.jpg);">
			<img class="card__img" src={thumbnail} alt={title} />
		</div>
	{:else}
		<img class="card__img" src="/img/dummy_kose_yazilari.jpg" alt={title} />
	{/if}
</a>

<style lang="scss">
	@import '../../styles/component/card/index.scss';
	@import '../../styles/component/card/img.scss';
	@import '../../styles/component/card/date.scss';
	.card--time {
		text-align: left;
		min-height: 46rem;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		@include bp(mobile-small) {
		}
		.card {
			&__img {
				height: 18rem;
				width: 100%;
				display: block;
				margin-top: 4rem;
				box-shadow: none;
				margin-top: auto;
				&-bg {
					margin-top: auto;
				}
				@include bp(mobile-small) {
					height: 40vw;
				}
			}

			&__date {
				font-weight: 600;
				font-size: 2rem;
				margin-bottom: 1rem;
				color: $c-title;
				display: block;
			}

			&__title {
				margin-bottom: 2.5rem;
				text-align: left;
				margin-left: 0;
				max-width: unset;
				padding-left: 0;
			}
		}
	}
</style>
