<script lang="ts">
	import { fly } from 'svelte/transition';

	export let index: number;
	export let title: string;
	export let thumbnail: string = '';
	export let slug: string;
</script>

<a
	href={`/infografikler/${slug}`}
	class="card card-infographic"
	in:fly={{ y: 20, duration: 200, delay: 100 + (index % 12) * 50 }}
>
	{#if thumbnail}
		<div class="card__img-bg" style="background-image: url(/img/dummy_infografik.jpg);">
			<img class="card__img" src={thumbnail} alt={title} />
		</div>
	{:else}
		<img class="card__img" src="/img/dummy_infografik.jpg" alt={title} />
	{/if}
	<h6 class="card__title">{@html title}</h6>
</a>

<style lang="scss">
	@import '../../styles/component/card/index.scss';
	@import '../../styles/component/card/img.scss';

	.card-infographic {
		min-height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		max-width: unset;
		padding-bottom: 0;
		@include bp(desktop) {
			width: 38rem;
		}
		@include bp(tablet-small-under) {
			width: auto;
		}
		@include bp(mobile) {
			width: 38rem;
		}
		@include bp(mobile-small) {
			width: 100%;
		}
		.card {
			&__img {
				width: 100%;
				height: 48rem;
				@include bp(tablet-small-under) {
					height: 56vw;
				}
				@include bp(mobile) {
					height: 50rem;
				}
				@include bp(mobile-small) {
					height: 120vw;
				}
			}

			&__title {
				padding: 0;
				height: 14rem;
				display: flex;
				align-items: center;
				margin-bottom: 0;
				margin-top: 0;
			}
		}
	}
</style>
