<script lang="ts">
	import { fly } from 'svelte/transition';

	export let index: number;
	export let title: string;
	export let thumbnail: string = '';
	export let subtitle: string = '';
	export let slug: string = '';
</script>

<a
	href={`/kutuphane/${slug}`}
	class="card card-library"
	in:fly={{ y: 20, duration: 200, delay: 100 + (index % 12) * 50 }}
>
	{#if thumbnail}
		<div class="card__img-bg" style="background-image: url(/img/dummy_library.jpg);">
			<img class="card__img" src={thumbnail} alt={title} />
		</div>
	{:else}
		<img class="card__img" src="/img/dummy_library.jpg" alt={title} />
	{/if}
	<div class="card-content">
		<h6 class="card__title">{@html title}</h6>
		{#if subtitle}<span class="card__subtitle">{subtitle}</span>{/if}
	</div>
</a>

<style lang="scss">
	@import '../../styles/component/card/index.scss';
	@import '../../styles/component/card/img.scss';
	@import '../../styles/component/card/subtitle.scss';

	.card-library {
		max-width: 37rem;
		@include bp(r-desktop) {
			max-width: 42rem;
		}
		.card {
			&__img {
				height: 36rem;
				width: 25rem;
				&-bg {
					width: 25rem;
					height: 36rem;

					box-shadow: 0 40px 21px -30px rgba($c-black, 0.4);
					border-radius: 5px;
					overflow: hidden;
				}
				@include bp(tablet-small-under) {
					height: 32rem;
					width: 22rem;
					&-bg {
						width: 22rem;
						height: 32rem;
					}
				}
				@include bp(mobile) {
					height: 36rem;
					width: 25rem;
					&-bg {
						width: 25rem;
						height: 36rem;
					}
				}
			}
			&-content {
				min-height: 12rem;
				display: flex;
				flex-direction: column;
				justify-content: center;
				margin-top: 2rem;
			}
			&__title {
				padding: 0;
				margin-top: 0;
				margin-bottom: 0;
				max-width: unset;
				font-size: 2rem;
			}
			&__subtitle {
				margin-top: 2rem;
			}
		}
	}
</style>
