<script lang="ts">
	import type { MapTypes } from '$lib/types';

	export let thumbnail: string = '';
	export let title: string;
	export let slug: string;
	export let type: MapTypes;

	$: link = type === 'schematic' ? `sematik-haritalar/${slug}` : `interaktif-haritalar/${slug}}`;
</script>

<a class="card card-map" href={link}>
	{#if thumbnail}
		<div class="card__img-bg" style="background-image: url(/img/dummy_map.jpg);">
			<img class="card__img" src={thumbnail} alt={title} />
		</div>
	{:else}
		<img class="card__img" src="/img/dummy_map.jpg" alt={title} />
	{/if}
	<h6 class="card__title">{@html title}</h6>
</a>

<style lang="scss">
	@import '../../styles/component/card/index.scss';
	@import '../../styles/component/card/img.scss';

	.card {
		min-width: 36rem;
		@include bp(tablet-small-under) {
			min-width: unset;
			width: 38rem;
		}
		@include bp(mobile-l-small) {
			width: 100%;
			max-width: unset;
		}
		&__img {
			width: 100%;
			height: 36rem;
			box-shadow: none;
			@include bp(mobile) {
				height: 40rem;
			}
			@include bp(mobile-l-small) {
				height: 100vw;
			}
		}
	}
</style>
