<script lang="ts">
	export let image: string;
	export let title: string;
</script>

<div class="card card-map-detail" on:click>
	<div class="card__img-bg" style="background-image: url(/img/dummy_map_big.jpg);">
		<img class="card__img" src={image} alt={title} />
	</div>
	<div class="card-footer">
		<span class="card__open_icon btn__icon icon-font">
			<svg class="icon icon-font">
				<use xlink:href="/icons.svg#icon-fullpage" />
			</svg>
		</span>
		<h6 class="card__title">{title}</h6>
	</div>
</div>

<style lang="scss">
	@import '../../styles/component/card/index.scss';
	@import '../../styles/component/card/img.scss';

	.card-map-detail {
		max-width: unset;
		padding: 3.6rem;
		cursor: pointer;
		@include bp(tablet-small-under) {
			padding: 0;
			border: 0;
		}
		@include bp(mobile) {
			max-height: unset;
		}
		&:hover {
			transform: none;
			box-shadow: none;
			background: $c-bg-light;

			&:hover {
				.card__open_icon,
				.card__title {
					color: $c-red;
				}
			}
		}

		.card {
			&-footer {
				cursor: pointer;
				position: relative;
				@include bp(tablet-small-under) {
					/* display: flex;
					align-items: center;
					height: 6rem;
					margin-top: 2rem;
					justify-content: center; */
					display: none;
				}
			}
			&__img {
				width: 100%;
				height: 66rem;
				box-shadow: none;
				@include bp(desktop) {
					height: 60vh;
				}
				@include bp(tablet-small-under) {
					height: auto;
				}
				@include bp(mobile) {
					max-width: unset;
					width: 100vw;
					height: auto;
					object-fit: contain;
				}
			}

			&__open_icon {
				position: absolute;
				font-size: 3.4rem;
				color: $c-title;
				cursor: pointer;
				transition: $transition;
				top: 50%;
				transform: translateY(-50%);
				left: 0;
				@include bp(tablet-small-under) {
					font-size: 2.4rem;
					position: static;
					transform: none;
					margin-right: 2rem;
				}
			}

			&__title {
				padding: 0;
				margin-top: 3.6rem;
				margin-bottom: 0;
				@include bp(desktop) {
					font-size: 2.2rem;
				}
				@include bp(tablet-small-under) {
					margin-top: 0;
				}
			}
		}
	}
</style>
