<script lang="ts">
	import { removeTags } from '$lib/helpers';
	import { fly } from 'svelte/transition';

	export let active = false;
	export let year: string;
	export let date: string = '';
	export let title: string;
	export let content: string = '';
	export let thumbnail: string = '';
	export let slug: string;
	export let unknown: boolean;

	$: stripText = removeTags(content).slice(0, 150) + '...';
</script>

<a class="post-timeline" class:active href="/zaman-tuneli/{slug}">
	<div class="post-picture" style="background-image: url(/img/dummy_timeline.jpg);" class:active>
		{#if thumbnail}
			<img class="post__img" src={thumbnail} alt={title} />
		{:else}
			<img class="post__img" src="/img/dummy_timeline.jpg" alt={title} />
		{/if}
		<div class="post-picture__arrow">
			<span class="icon-font">
				<svg class="icon icon-font">
					<use xlink:href="/icons.svg#icon-arrow-upright" />
				</svg>
			</span>
		</div>
	</div>
	<div class="post-content">
		{#if active}
			<span class="post__date">{unknown ? year : date}</span>
		{:else}
			<span class="post__date">{year}</span>
		{/if}
		<h6 class="post__title title title--mlg title--second">{@html title}</h6>
		<article class="post-article">
			{#if active}
				<p class="post__text text post-article-text" in:fly={{ delay: 200, duration: 300, y: -50 }}>
					{@html stripText}
				</p>
			{/if}
		</article>
	</div>
</a>

<style lang="scss">
	@import '../../styles/component/post-timeline.scss';
	.post-article {
		position: relative;
		max-width: 50rem;

		&-text {
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;

			@include bp(tablet) {
				padding-right: 3rem;
			}

			@include bp(tablet-small-under) {
				display: -webkit-box !important;
				-webkit-line-clamp: 3;
				-webkit-box-orient: vertical;
				overflow: hidden;
				text-overflow: ellipsis;
			}
		}
	}
</style>
