<script lang="ts">
	import { fly } from 'svelte/transition';

	export let index: number;
	export let title: string;
	export let subtitle: string = '';
	export let thumbnail: string = '';
	export let slug: string;
</script>

<a
	href={`/video-belgeseller/${slug}`}
	class="card card-video"
	in:fly={{ y: 20, duration: 200, delay: 100 + (index % 12) * 50 }}
>
	{#if thumbnail}
		<div class="card-video-img_wrapper">
			<div class="card__img-bg" style="background-image: url(/img/dummy_video_belgesel.jpg);">
				<img class="card__img" src={thumbnail} alt={title} />
			</div>
			<div class="play" />
		</div>
	{:else}
		<img class="card__img" src="/img/dummy_video_belgesel.jpg" alt="Video Belgesel" />
	{/if}
	<div class="card-content">
		<h6 class="card__title">{@html title}</h6>
		{#if subtitle}<span class="card__subtitle">{subtitle}</span>{/if}
	</div>
</a>

<style lang="scss">
	@import '../../styles/component/card/index.scss';
	@import '../../styles/component/card/img.scss';
	@import '../../styles/component/card/subtitle.scss';
	@import '../../styles/component/card/play.scss';
	@import '../../styles/component/play.scss';

	.card-video {
		max-width: unset;

		.card {
			&__img {
				width: var(--video-card-width);
				height: var(--video-card-height);
				&-bg {
					width: var(--video-card-width);
				}
				@include bp(mobile-l-small) {
					height: 90vw;
				}
			}
			&-content {
				min-height: 12rem;
				display: flex;
				flex-direction: column;
				justify-content: center;
				margin-top: 2rem;
			}
			&__title {
				padding: 0;
				margin-top: 0;
				margin-bottom: 0;
			}
			&__subtitle {
				margin-top: 2rem;
			}

			&-video {
				&-img_wrapper {
					width: var(--video-card-width);
					margin-left: auto;
					margin-right: auto;
					position: relative;
					&::after {
						content: '';
						position: absolute;
						background-color: rgba($color: $c-black, $alpha: 0.15);
						width: 100%;
						height: 100%;
						top: 0;
						left: 0;
						pointer-events: none;
					}
					:global(.play) {
						z-index: 1;
					}
				}
			}
		}
	}
</style>
