<script lang="ts">
	import { fly } from 'svelte/transition';

	export let projectId: number;
	export let index: number;
	export let title: string;
	export let slug: string;
	export let link: string;
	export let thumbnail: string = '';

	$: target = !slug ? '_blank' : '_self';

	$: href = !slug ? link : `/sanal-gezi/${slug}`;
</script>

<a
	class="card card-virtualtour"
	{target}
	{href}
	in:fly={{ y: 20, duration: 200, delay: 100 + (index % 12) * 50 }}
>
	<div class="card-image-wrapper">
		{#if projectId !== 5}
			<span class="card-image-wrapper__icon icon-font">
				<svg class="icon icon-font">
					<use xlink:href="/icons.svg#icon-virtual-trip" />
				</svg>
			</span>
		{/if}
		{#if thumbnail}
			<div class="card__img-bg" style="background-image: url(/img/dummy_sanal_gezi.jpg);">
				<img class="card__img" src={thumbnail} alt={title} />
			</div>
		{:else}
			<img class="card__img" src="/img/dummy_sanal_gezi.jpg" alt="Sanal Tur" />
		{/if}
	</div>
	<h6 class="card__title">{title}</h6>
</a>

<style lang="scss">
	@import '../../styles/component/card/index.scss';
	@import '../../styles/component/card/img.scss';

	.card-virtualtour {
		max-width: unset;
		width: 100%;

		.card {
			&-image-wrapper {
				position: relative;

				&__icon {
					position: absolute;
					font-size: 8rem;
					left: 50%;
					top: 50%;
					transform: translate(-50%, -50%);
					filter: drop-shadow(2px 4px 6px black);
				}
			}

			&__img {
				width: 100%;
				height: var(--big-card-image-height);
				box-shadow: none;
			}
			&__title {
				max-width: 80%;
				min-width: 28rem;
				@include bp(mobile-m-small) {
					max-width: unset;
				}
			}
		}
	}
</style>
