.box{
    &--article {
        min-height: 60vh;
    
        .box {
          &-content {
            padding: 0 2rem 4rem 2rem;
            max-height: 40vh;
            overflow-y: auto;
            margin: 3rem 2rem 0 2rem;
          }
        }
      }
}