.box{
    &-header {
        border-bottom: 1px solid $c-border;
        padding: 4rem 2rem 4rem 4rem;
        display: flex;
        align-items: center;
    
        &-left {
          display: flex;
          align-items: center;
        }
    
        .title {
          padding-right: 2rem;
          font-size: 2.8rem;
        }
      }
}