<script context="module" lang="ts">
	import { page } from '$app/stores';
	import BiographyCard from '$components/Cards/BiographyCard.svelte';
	import Meta from '$components/Common/Meta.svelte';
	import Readmore from '$components/Common/Readmore.svelte';
	import Tabbar from '$components/Common/Tabbar.svelte';
	import WorkPiece from '$components/Common/WorkPiece.svelte';
	import Seo from '$components/Global/Seo.svelte';
	import { socializer } from '$lib/helpers';
	import type { IBiographyResponse } from '$lib/response.type';
	import { getContent, getOthers } from '$lib/services';
	import type { IBiographyCard, IBiographyContent, ITabCustomEvent } from '$lib/types';
	import { headerStore } from '$stores/header.store';
	import { pageStore } from '$stores/page.store';
	import { shareStore } from '$stores/share.store';
	import type { LoadInput, LoadOutput } from '@sveltejs/kit/types/internal';
	import { beforeUpdate, onDestroy, onMount } from 'svelte';
	import { inview } from 'svelte-inview';
	import Scroller from '@sveltejs/svelte-scroller';

	export const prerender = true;

	export async function load({ params, url }: LoadInput): Promise<LoadOutput> {
		let others: IBiographyCard[];
		try {
			const { id, content } = await getContent<IBiographyResponse>('bios', params.slug);

			const bio: IBiographyContent = {
				id: id,
				title: content.title.rendered,
				arabicName: content.meta_data.arapca_isim,
				content: content.content.rendered,
				photo: content.meta_data.image_details.medium.url || '',
				sources: content.meta_data.kaynaklar,
				birth: content.meta_data.dogum_tarihi || content.meta_data.dogum_tarihi_yil__donem || '',
				death: content.meta_data.olum_tarihi || content.meta_data.olum_tarihi_yil__donem || '',
				seo: {
					title: content.yoast_head_json.title,
					description: content.yoast_head_json.og_description,
					image: content.yoast_head_json.og_image?.[0]?.url,
					type: content.yoast_head_json.og_type,
					ldJson: JSON.stringify(content.yoast_head_json.schema),
				},
				job: content.meta_data.meslek_unvan || content.meta_data.bio_categories?.[0]?.name || '',
				alive: content.meta_data['yasiyor-mu'],
			};

			try {
				const { items } = await getOthers<IBiographyResponse>('bios', id);

				others = items.map((i) => {
					let result: IBiographyCard = {
						id: i.id,
						slug: i.slug,
						title: i.title.rendered,
					};

					result.birth =
						i.meta_data.dogum_tarihi.split(' ').slice(-1).toString() ||
						i.meta_data.dogum_tarihi_yil__donem ||
						'';
					result.death =
						i.meta_data.olum_tarihi.split(' ').slice(-1).toString() ||
						i.meta_data.olum_tarihi_yil__donem ||
						'';
					result.thumbnail = i.meta_data.image_details.medium.url || '';
					result.subtitle = i.meta_data.meslek_unvan || i.meta_data.bio_categories[0].name || '';
					result.alive = i.meta_data['yasiyor-mu'];

					return result;
				});

				socializer(url, bio.seo.title);

				return {
					props: {
						bio,
						others,
					},
				};
			} catch (error) {
				return {
					error: `Bir hata oluştu ki sorma! \n${error}`,
				};
			}
		} catch (error) {
			return {
				error: `Hata oldu. \n${error}`,
			};
		}
	}
</script>

<script lang="ts">
	export let bio: IBiographyContent;
	export let others: IBiographyCard[];

	let currentTabId = 0;

	let count: number;
	let index: number;
	let offset: number;
	let progress: number;
	let top = 0.0;
	let threshold = 0.2;
	let bottom = 0.9;

	type Tab = {
		id: number;
		name: string;
	};

	let tabs: Tab[] = [
		{
			id: 0,
			name: 'Hepsi',
		},
	];

	const handleTabsList = () => {
		if (bio.content) {
			tabs.push({ id: 1, name: 'Hakkında' });
		}
		if (bio.works) {
			tabs.push({ id: 2, name: 'Eserler' });
		}
		if (bio.sources) {
			tabs.push({ id: 3, name: 'Kaynaklar' });
		}
		if (others.length > 0) {
			tabs.push({ id: 4, name: 'Benzer Biyografiler' });
		}
		tabs = [...tabs];
	};

	onMount(() => {
		handleTabsList();

		headerStore.setBack(true);
		headerStore.setShare(true);
		headerStore.setSearch(false);

		shareStore.setFacebook($page.url.toString());
		shareStore.setLinkedin($page.url.toString());
		shareStore.setTwitter($page.url.toString(), bio.seo.title);

		pageStore.setBackUrl('/biyografiler');
	});

	beforeUpdate(() => {
		headerStore.setTitle(bio.title);
	});

	onDestroy(() => {
		headerStore.setShare(false);
		headerStore.setBack(false);
	});

	const handleTabClick = (e: ITabCustomEvent) => {
		const el = document.querySelector(`[data-tabid='${e.detail}']`);
		const offset = 75;
		const bodyRect = document.body.getBoundingClientRect().top;
		const elementRect = el.getBoundingClientRect().top;
		const elementPosition = elementRect - bodyRect;
		const offsetPosition = e.detail !== 0 ? elementPosition - offset : elementPosition - offset * 2;
		window.scrollTo({
			top: offsetPosition,
			behavior: 'smooth',
		});
		currentTabId = e.detail;
	};
</script>

<Seo {...bio.seo} />

<div class="subpage bio-detail" id="Subpage">
	<Scroller {top} {threshold} {bottom} bind:count bind:index bind:offset bind:progress>
		<div slot="foreground">
			<header class="subpage-header" id="All" data-tabid="0">
				<picture class="image-bg" style="background-image: url(/img/dummy_bio.jpg);">
					{#if bio.photo}
						<img src={bio.photo} alt={bio.title} />
					{:else}
						<img src="/img/dummy_bio.jpg" alt={bio.title} />
					{/if}
				</picture>
				<section class="bioinfo">
					<h3 class="bioinfo-name title title--xs  title--second">{bio.title}</h3>
					<h4 class="title title--md">{bio.arabicName}</h4>
					<div class="bioinfo-meta">
						{#if bio.birth}<Meta title="Doğum Tarihi" text={bio.birth} />{/if}
						{#if bio.death && !bio.alive}<Meta title="Ölüm Tarihi" text={bio.death} />{/if}
						{#if bio.job}<Meta title="Meslek/Ünvan" text={bio.job} />{/if}
					</div>
				</section>
			</header>
			<div class="tab subpage-tabs" id="Tabs">
				<div class="tab-nav no-button">
					<div class="tab-nav-content">
						<Tabbar {tabs} on:tab-click={handleTabClick} activeIndex={index} />
					</div>
				</div>
			</div>
			<main class="subpage-content">
				<section class="section-wrapper content" id="About" data-tabid="1">
					<div class="section">
						<h4 class="section__title title title--sm">Hakkında</h4>
						<div class="section-content">
							{@html bio.content}
						</div>
					</div>
				</section>
				{#if bio.works}
					<section class="subpage-works section-wrapper" id="Works" data-tabid="2">
						<div class="section">
							<h4 class="section__title title title--sm">Eserler</h4>
							<div class="section-content">
								{#each bio.works as work, i}
									<WorkPiece number={i + 1} title={work.title} meaning={work.subtitle} />
								{/each}
							</div>
						</div>
					</section>
				{/if}
				{#if bio.sources}
					<section class="section-wrapper content" id="Sources" data-tabid="3">
						<div class="section">
							<h4 class="section__title title title--sm">Kaynaklar</h4>
							<Readmore>
								<div class="section-content">
									{@html bio.sources}
								</div>
							</Readmore>
						</div>
					</section>
				{/if}
				<section class="subpage-similar section-wrapper" id="Similar" data-tabid="4">
					<div class="section">
						<h4 class="section__title title title--sm">Benzer Biyografiler</h4>
						<div class="subpage-similar-list section-content">
							{#each others as bio}
								<BiographyCard {...bio} />
							{/each}
						</div>
					</div>
				</section>
			</main>
		</div>
	</Scroller>
</div>

<style lang="scss">
	@import '../../styles/component/tab/nav.scss';
	@import '../../styles/component/subpage/index.scss';
	@import '../../styles/component/subpage/header.scss';
	@import '../../styles/component/subpage/section-wrapper.scss';
	@import '../../styles/component/subpage/section.scss';
	@import '../../styles/component/subpage/similar-list.scss';
	@import '../../styles/component/subpage/picture.scss';
	.bio-detail {
		.subpage {
			.section-content {
				padding-right: var(--text-content-padding);
			}
			&-header {
				@include bp(tablet-small-under) {
					display: block;
				}
			}
			&-similar-list {
				:global(.card) {
					width: 40rem;
					min-height: 45rem;
				}

				@include bp(mobile) {
					:global(.card) {
						min-width: 36rem;
						min-height: 42rem;
					}
				}
				@include bp(mobile-m-small) {
					:global(.card) {
						min-width: 34rem;
					}
				}
			}
		}

		.subpage-header {
			picture {
				height: 36rem;
				width: 28rem;
				border: 1px solid $c-border;
				border-bottom: 0;
				img {
					object-fit: cover;
					object-position: top;
					width: 100%;
					height: 100%;
					@include bp(tablet-small-under) {
						max-width: 34rem;
						max-height: 46rem;
						margin-left: auto;
						margin-right: auto;
						display: block;
					}
				}
			}
		}

		.bioinfo {
			margin-left: 6rem;
			@include bp(tablet-small-under) {
				margin-left: 0;
				padding-top: 3rem;
				padding-bottom: 3rem;
				.title {
					text-align: center;
				}
			}
			&-name {
				font-size: 3.2rem;
			}
			&-meta {
				margin-top: 7rem;
				display: grid;
				justify-content: space-between;
				grid-template-columns: repeat(2, auto);
				grid-row-gap: 4rem;
				grid-column-gap: 5rem;
				max-width: 40rem;
				@include bp(mobile) {
					grid-column-gap: 3rem;
					margin-top: 4rem;
					:global(.meta) {
						min-width: 35vw;
					}
				}

				:global(.meta__title) {
					font-weight: 600;
					font-size: 1.4rem;
					color: $c-title;
				}

				:global(.meta__text) {
					font-size: 1.8rem;
					font-weight: 300;
					max-width: 25rem;
					@include bp(mobile) {
						max-width: unset;
					}
				}
			}
		}

		:global(.workpiece) {
			margin-bottom: 3rem;
		}
		.tab-nav-content {
			&::after {
				width: var(--page-padding-x);
				right: 0;
			}
		}
	}
</style>
