<script context="module" lang="ts">
	import { bioStore } from '$stores/bio.store';
	import { pageStore } from '$stores/page.store';
	import type { LoadOutput } from '@sveltejs/kit/types/internal';
	import { onMount, tick } from 'svelte';
	import { get } from 'svelte/store';

	export async function load(): Promise<LoadOutput> {
		const { activeCategoryId, categories, items } = get(bioStore);

		if (categories.length < 2) {
			await bioStore.setCategories();
		}

		if (items[activeCategoryId].hasNext && items[activeCategoryId].items.length === 0) {
			await bioStore.setItems(activeCategoryId, 1);
		}

		return {
			status: 200,
		};
	}
</script>

<script lang="ts">
	
	onMount(async () => {
		await tick();
		pageStore.setCurrentSection('bios');
	});
</script>

<slot />
