<script context="module" lang="ts">
	export async function load() {
		const content = await getSeoData('bios');
		seoStore.setSeoContent('bios', content);

		return {
			status: 200,
		};
	}
</script>

<script lang="ts">
	import BiographyCard from '$components/Cards/BiographyCard.svelte';
	import GhostLoader from '$components/Cards/GhostLoader.svelte';
	import NoResults from '$components/Common/NoResults.svelte';
	import SearchResults from '$components/Common/SearchResults.svelte';
	import Seo from '$components/Global/Seo.svelte';
	import { getSeoData } from '$lib/services/seo.service';
	import { bioStore } from '$stores/bio.store';
	import { headerStore } from '$stores/header.store';
	import { pageStore } from '$stores/page.store';
	import { searchStore } from '$stores/search.store';
	import { seoStore } from '$stores/seo.store';
	import { onMount } from 'svelte';

	onMount(() => {
		headerStore.setIcon('biyografiler');
		headerStore.setSearch(true);
		headerStore.setTitle('Biyografiler');

		pageStore.setTitle('Tarihte iz bırakanların öyküleri');
		pageStore.setText(
			'Biyografi ya da yaşam öyküsü, bir kişinin yaşamını ayrıntılı bir biçimde açıklayan bir edebiyat türüdür.'
		);
	});

	$: currentCategory = $bioStore.items[$bioStore.activeCategoryId];

	const handleLoadMore = () => {
		bioStore.setPage(currentCategory.page, $bioStore.activeCategoryId);
		bioStore.setItems($bioStore.activeCategoryId, currentCategory.page);
	};
</script>

<Seo {...$seoStore.bios} />

{#if $searchStore.visible && $searchStore.loaded}
	<SearchResults />
{:else if currentCategory && $searchStore.term.length < 2}
	<section class="bios list-grid">
		{#each currentCategory.items as bio}
			<BiographyCard {...bio} />
		{:else}
			<NoResults text="Henüz içerik yok!" />
		{/each}
	</section>
	{#if currentCategory.hasNext}
		<GhostLoader on:loading={handleLoadMore} />
	{/if}
{/if}

<style lang="scss">
	@import '../../styles/component/list-grid.scss';
</style>
