<script context="module" lang="ts">
	import { pageStore } from '$stores/page.store';
	import { virtualToursStore } from '$stores/virtualtour.store';
	import type { LoadOutput } from '@sveltejs/kit';
	import { onMount, tick } from 'svelte';
	import { get } from 'svelte/store';

	export async function load(): Promise<LoadOutput> {
		const { page, hasNext, items } = get(virtualToursStore);

		if (hasNext && items.length === 0) {
			await virtualToursStore.setList(page);
		}

		return {
			status: 200
		};
	}
</script>

<script lang="ts">
	onMount(async () => {
		await tick();
		pageStore.setCurrentSection('virtualTours');
	});
</script>

<slot />
