<script lang="ts">
	import GhostCard from '$components/Cards/GhostCard.svelte';
	import VirtualTourCard from '$components/Cards/VirtualTourCard.svelte';
	import SearchResults from '$components/Common/SearchResults.svelte';
	import Seo from '$components/Global/Seo.svelte';
	import { headerStore } from '$stores/header.store';
	import { pageStore } from '$stores/page.store';
	import { searchStore } from '$stores/search.store';
	import { virtualToursStore } from '$stores/virtualtour.store';
	import { onDestroy, onMount } from 'svelte';

	onMount(() => {
		headerStore.setTitle('Sanal Geziler');
		headerStore.setIcon('sanal_geziler');
		headerStore.setSearch(true);
	});

	onDestroy(() => {
		searchStore.setLoaded(false);
	});

	$: nextLoadable =
		$virtualToursStore.hasNext &&
		$virtualToursStore.isLoaded &&
		$virtualToursStore.items.length !== 0;

	const handleLoadMore = () => {
		virtualToursStore.setPage($virtualToursStore.page);
		virtualToursStore.setList($virtualToursStore.page);
	};
</script>

<Seo title={$pageStore.spots['virtualTours'].seoTitle} />

{#if $searchStore.visible}
	<SearchResults />
{:else}
	{#key $virtualToursStore.isLoaded}
		<section class="virtualTours list-grid">
			{#each $virtualToursStore.items as tour, index}
				<VirtualTourCard {...tour} {index} />
			{/each}
			{#if nextLoadable}
				{#each Array(2) as a}
					<GhostCard on:loading={handleLoadMore} />
				{/each}
			{/if}
		</section>

		{#if nextLoadable}
			<!-- <LoadMore on:loading={handleLoadMore} /> -->
		{/if}
	{/key}
{/if}

<style lang="scss">
	@import '../../styles/component/list-grid.scss';
</style>
