<script context="module" lang="ts">
	import GhostLoader from '$components/Cards/GhostLoader.svelte';
	import MapCard from '$components/Cards/MapCard.svelte';
	import SearchResults from '$components/Common/SearchResults.svelte';
	import { getMapCards } from '$lib/services/map.service';
	import type { MapTypes } from '$lib/types';
	import { headerStore } from '$stores/header.store';
	import { mapsStore } from '$stores/maps.store';
	import { pageStore } from '$stores/page.store';
	import { searchStore } from '$stores/search.store';
	import type { LoadInput, LoadOutput } from '@sveltejs/kit/types/internal';
	import { onDestroy, onMount } from 'svelte';
	import { get } from 'svelte/store';

	export async function load({ params }: LoadInput): Promise<LoadOutput> {
		const { categories, maps } = get(mapsStore);
		const categoryId = categories.find((c) => c.slug === params.slug).id;

		mapsStore.setActiveCategory(categoryId);
		const mapType: MapTypes = params.slug === 'sematik-haritalar' ? 'schematic' : 'interactive';

		const pageTitle = mapType === 'schematic' ? 'Şematik' : 'İnteraktif';
		headerStore.setTitle(`${pageTitle} Haritalar`);

		if (maps[mapType].list.length > 0) {
			return {
				props: {
					mapType,
					items: maps[mapType].list,
				},
			};
		} else {
			try {
				const { items, total, next } = await getMapCards(categoryId, 1);

				mapsStore.setTotal(mapType, total);
				mapsStore.setPage(mapType, 1);
				mapsStore.setItems(mapType, items);
				mapsStore.setNext(mapType, next);

				return {
					props: {
						mapType,
					},
				};
			} catch (error) {
				return {
					error: `Hata oldu: \n ${error}`,
				};
			}
		}
	}
</script>

<script lang="ts">
	export let mapType: MapTypes;

	onMount(() => {
		headerStore.setBack(true);
		headerStore.setSearch(true);

		pageStore.setCurrentSection('maps');
		pageStore.setBackUrl('/haritalar');
	});

	onDestroy(() => {
		headerStore.setBack(false);
		searchStore.setLoaded(false);
	});

	const handleLoadMore = async () => {
		let page = $mapsStore.maps[mapType].page + 1;
		const { items, next } = await getMapCards($mapsStore.activeCategoryId, page);
		mapsStore.setPage(mapType, page);
		mapsStore.setMoreItems(mapType, items);
		mapsStore.setNext(mapType, next);
	};
</script>

{#if $searchStore.visible && $searchStore.loaded}
	<SearchResults />
{:else}
	<section class="maps list-grid">
		{#each $mapsStore.maps[mapType].list as map}
			<MapCard type={mapType} {...map} />
		{/each}
	</section>
	{#if $mapsStore.maps.schematic.hasNext}
		<GhostLoader on:loading={handleLoadMore} />
	{/if}
{/if}

<style lang="scss">
	@import '../../../styles/component/list-grid.scss';
</style>
