<script context="module" lang="ts">
	import ArticleCard from '$components/Cards/ArticleCard.svelte';
	import Seo from '$components/Global/Seo.svelte';
	import { socializer } from '$lib/helpers';
	import type { IArticleResponse } from '$lib/response.type';
	import { getContent, getOthers } from '$lib/services';
	import type { IArticleCard, IArticleContent } from '$lib/types';
	import { headerStore } from '$stores/header.store';
	import { pageStore } from '$stores/page.store';
	import type { LoadInput, LoadOutput } from '@sveltejs/kit/types/internal';
	import { afterUpdate, onDestroy, onMount } from 'svelte';

	export async function load({ url, params }: LoadInput): Promise<LoadOutput> {
		let others: IArticleCard[];
		try {
			const { id, content } = await getContent<IArticleResponse>('articles', params.slug);

			const article: IArticleContent = {
				id: content.id,
				title: content.title.rendered,
				content: content.content.rendered,
				date: content.meta_data.yayinlanma_tarihi,
				summary: content.meta_data.kisa_aciklama,
				seo: {
					title: content.yoast_head_json.title,
					description: content.yoast_head_json.og_description,
					image: content.yoast_head_json.og_image?.[0]?.url,
					type: content.yoast_head_json.og_type,
					ldJson: JSON.stringify(content.yoast_head_json.schema),
				},
			};

			article.author =
				content.meta_data.yazar || content.meta_data.article_authors?.[0]?.name || '';

			if (content.meta_data.kaynaklar) {
				article.sources = content.meta_data.kaynaklar?.map((k) => {
					return {
						title: k.kaynak,
					};
				});
			}

			socializer(url, article.seo.title);

			try {
				const { items } = await getOthers<IArticleResponse>('articles', id);

				others = items.map((i) => {
					let result: IArticleCard = {
						id: i.id,
						slug: i.slug,
						title: i.title.rendered,
					};

					result.thumbnail = i.meta_data.image_details.medium.url || '';
					result.author = i.meta_data.yazar || i.meta_data.article_authors?.[0]?.name || '';
					result.date = i.meta_data.yayinlanma_tarihi || '';

					return result;
				});

				return {
					props: {
						article,
						others,
					},
				};
			} catch (error) {
				return {
					error: 'Bir hata oluştu ki sorma!',
				};
			}
		} catch (error) {
			return {
				error: `Hata oldu: \n ${error}`,
			};
		}
	}
</script>

<script lang="ts">
	export let article: IArticleContent;
	export let others: IArticleCard[];

	onMount(() => {
		headerStore.setBack(true);
		headerStore.setSearch(false);
		headerStore.setShare(true);

		pageStore.setBackUrl('/kose-yazilari');
	});

	afterUpdate(() => {
		headerStore.setTitle(article.title);
	});

	onDestroy(() => {
		headerStore.setBack(false);
		headerStore.setShare(false);
	});
</script>

<Seo {...article.seo} />

<article class="article">
	<header class="article-header">
		<h1 class="article__title title title--second title--xxl text-center">
			{@html article.title}
		</h1>
		<div class="article-info">
			{#if article.author}
				<span class="article-info__item">{article.author}</span>
			{/if}
			{#if article.date}
				<span class="article-info__item">
					<span class="icon-font mr-1">
						<svg class="icon icon-font">
							<use xlink:href="/icons.svg#icon-clock" />
						</svg>
					</span>
					{article.date}
				</span>
			{/if}
		</div>
	</header>
	<section class="article-summary">
		{article.summary}
	</section>
	<main class="article-content content">
		{@html article.content}
		<hr />
		{#if article.sources}
			<h5>Kaynakça</h5>
			<ol>
				{#each article.sources as source}
					<li>
						{@html source.title}
					</li>
				{/each}
			</ol>
		{/if}
	</main>
</article>

<div class="subpage">
	<section class="subpage-similar section-wrapper" id="Similar">
		<div class="section">
			<h3 class="section__title title title--sm">Yazarın Diğer Yazıları</h3>
			<div class="subpage-similar-list section-content" class:just-2={others.length < 3}>
				{#each others as item, index}
					<ArticleCard {...item} {index} size="small" />
				{/each}
			</div>
		</div>
	</section>
</div>

<style lang="scss">
	@import '../../styles/component/subpage/index.scss';
	@import '../../styles/component/subpage/section.scss';
	@import '../../styles/component/subpage/similar-list.scss';

	.article {
		max-width: 80rem;
		margin-left: auto;
		margin-right: auto;
		padding-top: var(--page-padding-y);
		@include bp(tablet-small-under) {
			padding: var(--page-padding-y) var(--page-padding-x);
		}

		&__title {
			line-height: 1.1;
			@include bp(mobile) {
				font-size: 3.8rem;
				line-height: 1.3;
			}
		}
		&-summary {
			margin-bottom: 4rem;
			font-size: 2.9rem;
			line-height: 1.55;
			font-weight: 400;
			margin-top: 8rem;
			color: $c-title;
			@include bp(laptop) {
				font-size: 2.4rem;
				margin-top: 6rem;
			}
		}
		li {
			word-wrap: break-word;
		}
		&-info {
			display: flex;
			align-items: center;
			margin-top: 4rem;
			justify-content: center;

			&__item + &__item {
				margin-left: 3rem;
			}

			&__item {
				display: flex;
				align-items: center;

				& + & {
					margin-left: 3rem;
				}
			}

			span {
				opacity: 0.7;
				color: $c-title;
				font-size: 2rem;
				font-weight: 300;
			}
		}
	}
	.subpage {
		&-similar-list {
			&.just-2 {
				justify-content: flex-start !important;
			}
			:global(.post) {
				width: 37rem;
			}
			@include bp(desktop) {
				:global(.post) {
					min-width: 39rem;
					max-width: 39rem;
				}
			}
			@include bp(mobile) {
				:global(.post) {
					min-width: 36rem;
					max-width: 36rem;
				}
			}
		}
	}
</style>
