<script context="module" lang="ts">
import { getFeaturedArticles } from '$lib/services/article.service';

	import { articleStore } from '$stores/article.store';
	import { pageStore } from '$stores/page.store';
	import type { LoadOutput } from '@sveltejs/kit/types/internal';
	import { onMount, tick } from 'svelte';
	import { get } from 'svelte/store';

	export async function load(): Promise<LoadOutput> {
		const { categories, items, featuredItemsLoaded } = get(articleStore);

		if (categories.length < 2) {
			await articleStore.setCategories();
		}

		const { activeCategoryId } = get(articleStore);

		if (items[activeCategoryId].hasNext && items[activeCategoryId].items.length === 0) {
			await articleStore.setItems(activeCategoryId, 1);
		}

		if (!featuredItemsLoaded) {
			const items = await getFeaturedArticles()
			articleStore.setFeaturedItems(items)
		}

		return {
			status: 200
		};
	}
</script>

<script lang="ts">
	onMount(async () => {
		await tick();
		pageStore.setCurrentSection('articles');
	});
</script>

<slot />
