<script context="module" lang="ts">
	export async function load() {
		const content = await getSeoData('articles');
		seoStore.setSeoContent('articles', content);

		return {
			status: 200,
		};
	}
</script>

<script lang="ts">
	import ArticleCard from '$components/Cards/ArticleCard.svelte';
	import GhostCard from '$components/Cards/GhostCard.svelte';
	import SearchResults from '$components/Common/SearchResults.svelte';
	import Tabbar from '$components/Common/Tabbar.svelte';
	import Seo from '$components/Global/Seo.svelte';
	import { getSeoData } from '$lib/services/seo.service';
	import type { ITabCustomEvent } from '$lib/types';
	import { articleStore } from '$stores/article.store';
	import { headerStore } from '$stores/header.store';
	import { searchStore } from '$stores/search.store';
	import { seoStore } from '$stores/seo.store';
	import { onDestroy, onMount } from 'svelte';
	import { Navigation, Pagination } from 'swiper';
	import 'swiper/css';
	import 'swiper/css/pagination';
	import { Swiper, SwiperSlide } from 'swiper/svelte';

	onMount(() => {
		headerStore.setTitle('Köşe Yazıları');
		headerStore.setIcon('kose_yazilari');
		headerStore.setSearch(true);
	});

	onDestroy(() => {
		headerStore.setBack(false);
		searchStore.setLoaded(false);
	});

	$: currentCategory = $articleStore.items[$articleStore.activeCategoryId];

	$: nextLoadable =
		currentCategory.hasNext && currentCategory.isLoaded && currentCategory.items.length !== 0;

	const setTab = async (e: ITabCustomEvent) => {
		const id = e.detail;

		articleStore.setActiveCategory(id);

		if ($articleStore.items[id].hasNext && $articleStore.items[id].items.length === 0) {
			await articleStore.setItems(id, 1);
		}
	};

	const handleLoadMore = () => {
		articleStore.setPage(currentCategory.page, $articleStore.activeCategoryId);
		articleStore.setItems($articleStore.activeCategoryId, currentCategory.page);
	};
</script>

<Seo {...$seoStore.articles} />

<div class="posts-wrapper">
	<div class="tab">
		{#if !$searchStore.visible}
			<div class="tab-nav">
				<div class="tab-nav-content">
					<Tabbar tabs={$articleStore.categories} on:tab-click={setTab} />
					<!-- <Filter filters={['release']} /> -->
				</div>
			</div>
		{/if}
	</div>
	<div class="tab-content">
		{#if $articleStore.featuredItems.length > 0 && $articleStore.activeCategoryId === 0 && !$searchStore.visible}
			<section class="posts-slider slider-section">
				<Swiper
					slidesPerView={1}
					pagination={{ el: '.swiper-pagination-custom', clickable: true }}
					spaceBetween={100}
					speed={500}
					navigation={{
						nextEl: '.next',
						prevEl: '.prev',
					}}
					modules={[Navigation, Pagination]}
				>
					{#each $articleStore.featuredItems as item, index}
						<SwiperSlide>
							<ArticleCard {...item} {index} size="large" />
						</SwiperSlide>
					{/each}
				</Swiper>
				<div class="slider-section-nav-wrapper">
					<div class="swiper-pagination swiper-pagination-custom" />
					<div class="slider-section-nav">
						<button class="prev btn btn--i btn--beige">
							<span class="btn__icon icon-font">
								<svg class="icon icon-font">
									<use xlink:href="/icons.svg#icon-arrow-left" />
								</svg>
							</span>
						</button>
						<button class="next btn btn--i btn--beige">
							<span class="btn__icon icon-font">
								<svg class="icon icon-font">
									<use xlink:href="/icons.svg#icon-arrow-right" />
								</svg>
							</span>
						</button>
					</div>
				</div>
			</section>
		{/if}

		{#if $searchStore.visible}
			<SearchResults />
		{:else}
			{#key $articleStore.activeCategoryId}
				<section class="posts list-grid">
					{#each currentCategory.items as article, index}
						<ArticleCard {...article} {index} />
					{:else}
						{#each Array(6) as a}
							<GhostCard />
						{/each}
					{/each}

					{#if nextLoadable}
						{#each Array(3) as a}
							<GhostCard on:loading={handleLoadMore} />
						{/each}
					{/if}
				</section>
			{/key}
		{/if}
	</div>
</div>

<style lang="scss">
	@import '../../styles/component/tab/index.scss';
	@import '../../styles/component/slider-section.scss';
	@import '../../styles/component/list-grid.scss';

	.posts {
		&-slider {
			max-width: var(--max-page-width, unset);

			:global(.swiper) {
				padding: var(--page-padding-y) var(--page-padding-x);
				padding-bottom: 0;
				// overflow: visible;
			}

			:global(.swiper-pagination) {
				position: static;
				width: auto;
			}
		}

		&-wrapper {
			:global(.slider-section-nav-wrapper) {
				position: relative;
				padding-bottom: var(--page-padding-y);
			}
		}
	}
</style>
