.meta{
    &__title {
        font-size: 1.6rem;
        color: rgba($c-title, .5);
        //margin-bottom: .5rem;
        font-weight: 500;
        display: block;
      }
    
      &__text {
        font-size: 2rem;
        line-height: 1.5;
        font-weight: 300;
        display: block;
        color: $c-title;
      }
}