.meta {
	&--piece {
		.meta {
			&__title {
				font-weight: 400;
				font-size: 1.8rem;
				color: $c-title;
				margin-bottom: 1rem;
				font-family: $font-family-second;
			}

			&__text {
				font-size: 1.8rem;
				font-weight: 400;
				font-family: $font-family-second;
			}
		}

		// a {
		// 	text-decoration: none;

		// 	&:hover {
		// 		color: initial;
		// 		text-decoration: underline;
		// 	}
		// }
	}
}
