<script lang="ts">
	import { pageStore } from '$stores/page.store';
	import { scale } from 'svelte/transition';

	export let visible: boolean;
	export let url: string;
</script>

{#if visible}
	<a href={url} class="headerbar-icon title__icon icon-font" in:scale sveltekit:noscroll>
		<svg class="icon icon-font">
			<use xlink:href="/icons.svg#icon-arrow-left" />
		</svg>
	</a>
{/if}

<style lang="scss">
	.headerbar-icon {
		font-size: 3rem;
		transition: 0.2s;
		display: inline-flex;
		height: 7rem;
		width: 7rem;
		justify-content: center;
		align-items: center;
		margin-left: -2rem;

		&:hover {
			color: $c-red;
		}
	}
</style>
