<script lang="ts">
	import { page } from '$app/stores';
	import { SEARCH_DELAY } from '$lib/constants';
	import { APP_SECTIONS } from '$lib/constants/urls';
	import { getSearches } from '$lib/services';
	import type { ScrollDirection } from '$lib/types';
	import { headerStore } from '$stores/header.store';
	import { pageStore } from '$stores/page.store';
	import { searchStore } from '$stores/search.store';
	import { fade, fly } from 'svelte/transition';
	import Back from './Back.svelte';
	import Icon from './Icon.svelte';
	import Search from './Search.svelte';
	import Share from './Share.svelte';

	let scrollY = 0;
	let lastScroll = 0;
	let searchTerm: string;
	let scrollDirection: ScrollDirection = 'top';
	let timer: ReturnType<typeof setTimeout>;

	$: hasButtons = $headerStore.search || $headerStore.share;

	$: $page.url.pathname, handleRouteChange();

	$: currentPage = $page.url.pathname.split('/')[1].toString();

	const handleRouteChange = () => {
		handleHeaderSize();
	};

	const handleHeaderSize = () => {
		if ($page.url.pathname === '/') {
			headerStore.setVisible(false);
		} else {
			if (scrollDirection === 'top') {
				headerStore.setVisible(true);
			}
			if (scrollDirection === 'down' && scrollY > 150) {
				headerStore.setVisible(false);
			}
		}
	};

	const handleScroll = () => {
		scrollDirection = scrollY !== 0 || scrollY > lastScroll ? 'down' : 'top';
		lastScroll = scrollY;
		handleHeaderSize();
	};

	const handleSearch = () => {
		searchStore.setTerm(searchTerm);
		if ($searchStore.term.length < 2) {
			return;
		}
		searchStore.setLoading(true);
		clearTimeout(timer);
		timer = setTimeout(async () => {
			const { items, hasNext } = await getSearches({
				section: $pageStore.currentSection,
				term: searchTerm,
			});
			searchStore.setLoading(false);
			searchStore.setLoaded(true);
			searchStore.setItems(items);
			searchStore.setNextPage(hasNext);
			searchStore.setVisible(true);
		}, SEARCH_DELAY);
	};

	const toggleSearch = (status: boolean) => {
		searchStore.setVisible(status);
		if (!status) {
			searchTerm = '';
			searchStore.setTerm('');
		}
	};
</script>

<svelte:window
	on:scroll={handleScroll}
	bind:scrollY
	on:sveltekit:navigation-end={() => (scrollY = 0)}
/>

<!-- svelte-ignore a11y-autofocus -->
<section
	class="headerbar"
	class:visible={scrollY < 101}
	class:headerbar-sticky={$headerStore.visible && scrollY > 100}
	class:hidden={$page.url.pathname === '/'}
>
	{#if $searchStore.visible}
		<div class="headerbar-search search" in:fade>
			<div class="search-content">
				<input
					class="input"
					type="text"
					bind:value={searchTerm}
					on:keyup={handleSearch}
					placeholder="Bir şeyler arayın"
					autofocus
				/>
				<button class="search-clear" on:click={() => toggleSearch(false)} />
			</div>
		</div>
	{:else}
		<div class="headerbar-content">
			<div
				class="headerbar-title title title--md title--page"
				class:no-icon={!$headerStore.back && !$headerStore.icon}
			>
				{#if !$pageStore.inDetail && !$pageStore.staticPages.includes($page.url.pathname)}
					<Icon icon={$pageStore.spots[APP_SECTIONS[currentPage]]?.icon.toString()} />
				{/if}
				<Back visible={$pageStore.inDetail} url={$pageStore.backUrl} />
				{#key $headerStore.title}
					<span
						class="headerbar-text"
						class:static={$pageStore.staticPages.includes($page.url.pathname)}
						in:fly={{ y: 20, opacity: 0, duration: 400 }}
						out:fly={{ y: -20, duration: 200 }}
					>
						{@html $headerStore.title}
					</span>
				{/key}
			</div>
			{#if hasButtons}
				<div class="headerbar-sidebuttons">
					<Share visible={$headerStore.share && $pageStore.inDetail} />
					<Search visible={$headerStore.search} on:click={() => toggleSearch(true)} />
					<!-- {#if !$pageStore.inDetail}
						<Filter filters={['name', 'birth']} on:filterClick />
					{/if} -->
				</div>
			{/if}
		</div>
	{/if}
</section>

<style lang="scss">
	@import '../../styles/component/search.scss';
	@import '../../styles/component/search-clear.scss';

	.headerbar {
		height: var(--header-height);
		background-color: $c-bg;
		border-bottom: $s-border;
		position: fixed !important;
		top: 0;
		width: calc(100% - var(--sidebar-width));
		z-index: 10;
		transition: transform 0.3s;
		transform: translateY(calc(var(--header-height) * -1));
		position: relative;

		@include bp(tablet) {
			width: 100%;
			border: 0;
			transform: translateY(calc(var(--header-height) + var(--selector-height)));
			border-bottom: $s-border;
			height: 10rem;
			position: absolute !important;
		}

		@include bp(r-tablet) {
			&.visible {
				transform: translateY(0);
			}
		}
		&.selector-active {
			@include bp(tablet) {
				position: fixed;
				top: 0;
				background: $c-bg;
			}
		}

		&-text {
			position: absolute;
			width: 100%;
			padding-left: 7rem;
			z-index: -1;
			transform: translateY(1px);
			display: -webkit-box;
			-webkit-line-clamp: 1;
			-webkit-box-orient: vertical;
			overflow: hidden;
			text-overflow: ellipsis;
			&.static {
				padding-left: 0 !important;
			}
			@include bp(tablet) {
				font-size: 2.6rem;
			}
			@include bp(tablet-small-under) {
				font-size: 2.6rem;

				padding-left: 6rem;
				padding-right: 1rem;
				line-height: 1.4;
			}
		}

		.search {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: var(--header-height);
			@include bp(tablet) {
				height: 10rem;
			}
			&-content {
				max-width: var(--max-page-width, unset);
				flex-direction: row-reverse;
				@include bp(tablet) {
					height: inherit;
				}
			}

			input {
				padding: 0 calc(var(--page-padding-x) * 2.2) 0 var(--page-padding-x);
				height: auto;
				border: 0;
				background-color: transparent;
				height: var(--header-height);
				font-size: 3.6rem;
				font-family: $font-family-second;
				@include bp(laptop) {
					padding-left: calc(var(--page-padding-x));
				}
				@include bp(tablet) {
					height: inherit;
				}
				@include bp(mobile-m-small) {
					padding-left: calc(var(--page-padding-x));
					font-size: 3.2rem;
				}
			}

			&-clear {
				top: 50%;
				right: var(--page-padding-x);
				color: $c-black;
				font-size: 3rem;
				pointer-events: all;
				transform: translateY(-50%);
				width: 4rem;
				height: 4rem;
				&::after,
				&::before {
					width: 4rem;
					height: 3px;
				}
				@include bp(mobile-m-small) {
					font-size: 2.4rem;
				}
			}
		}

		&-content {
			padding: 0 var(--page-padding-x);
			max-width: var(--max-page-width, unset);
			width: 100%;
			height: 100%;
			display: flex;
			align-items: center;
		}

		&-title {
			font-weight: 400;
			position: relative;
			flex: 1 1 auto;
			margin-right: 3rem;
			&.no-icon {
				:global(span) {
					padding-left: 0;
				}
			}
		}

		&-sidebuttons {
			margin-left: auto;
		}
	}
</style>
