<script lang="ts">
	import { scale } from 'svelte/transition';
	export let icon: string;
</script>

<span class="headerbar-icon" in:scale={{ duration: 500 }}>
	<img  src={icon} alt=" " />
</span>

<style lang="scss">
	.headerbar-icon {
		height: 4.2rem;
		display: flex;
		align-items: center;
		@include bp(tablet) {
			height: 3.2rem;
		}
		img{
			height: inherit;
		}
	}
</style>
