<script lang="ts">
	import { scale } from 'svelte/transition';

	export let visible: boolean;
</script>

{#if visible}
	<button class="search-button" in:scale on:click>
		<svg class="icon icon-font">
			<use xlink:href="/icons.svg#icon-search" />
		</svg>
	</button>
{/if}

<style lang="scss">
	.search-button {
		font-size: 3rem;
		color: $c-text;
		transition: $transition;
		height: 1em;
		padding: 0;
		@include bp(tablet) {
			font-size: 2.6rem;
		}
		&:hover {
			color: $c-red;
		}
	}
</style>
