<script lang="ts">
	import { fade, fly, slide } from 'svelte/transition';

	export let text: string;
</script>

{#key text}
	<span in:fly={{ y: 20, opacity: 0, duration: 400 }} out:fade={{ duration: 100 }}>
		{@html text}
	</span>
{/key}

<style lang="scss">
	span {
		position: absolute;
		width: 100%;
		padding-left: 7rem;
		z-index: -1;
		transform: translateY(1px);
		display: -webkit-box;
		-webkit-line-clamp: 1;
		-webkit-box-orient: vertical;
		overflow: hidden;
		text-overflow: ellipsis;
		@include bp(tablet) {
			font-size: 2.6rem;
		}
		@include bp(tablet-small-under) {
			font-size: 2.6rem;
			padding-left: 6rem;
			padding-right: 1rem;
			line-height: 1.4;
		}
	}
</style>
