<script context="module" lang="ts">
	import { page } from '$app/stores';
	import VideoCard from '$components/Cards/VideoCard.svelte';
	import Meta from '$components/Common/Meta.svelte';
	import NoResults from '$components/Common/NoResults.svelte';
	import Seo from '$components/Global/Seo.svelte';
	import { socializer } from '$lib/helpers';
	import type { IDocumentaryResponse } from '$lib/response.type';
	import { getContent, getOthers } from '$lib/services';
	import type { IDocumentaryCard, IDocumentaryContent } from '$lib/types';
	import { headerStore } from '$stores/header.store';
	import { pageStore } from '$stores/page.store';
	import { shareStore } from '$stores/share.store';
	import { beforeUpdate, onDestroy, onMount } from 'svelte';
	import type { LoadInput, LoadOutput } from '@sveltejs/kit/types/internal';

	export async function load({ params, url }: LoadInput): Promise<LoadOutput> {
		let others: IDocumentaryCard[];
		try {
			const { id, content } = await getContent<IDocumentaryResponse>('documentaries', params.slug);
			const documentary: IDocumentaryContent = {
				id: content.id,
				title: content.title.rendered,
				content: content.content.rendered,
				date: content.meta_data.yayin_tarihi,
				director: content.meta_data.yonetmen,
				producer: content.meta_data.yapimci,
				seo: {
					title: content.yoast_head_json.title,
					description: content.yoast_head_json.og_description,
					image: content.yoast_head_json.og_image?.[0]?.url,
					type: content.yoast_head_json.og_type,
					ldJson: JSON.stringify(content.yoast_head_json.schema),
				},
			};

			documentary.videoFile = content.meta_data.video_dosya
				? content.meta_data.video_dosya.url
				: '';

			documentary.videoEmbed = content.meta_data.video_id || '';

			socializer(url, documentary.seo.title);

			try {
				const { items } = await getOthers<IDocumentaryResponse>('documentaries', id);

				others = items.map((i) => {
					let result: IDocumentaryCard = {
						id: i.id,
						slug: i.slug,
						title: i.title.rendered,
						subtitle: i.meta_data.yapimci,
					};

					result.thumbnail = i.meta_data.image_details.medium.url || '';

					return result;
				});

				return {
					props: {
						documentary,
						others,
					},
				};
			} catch (error) {
				return {
					error: 'Bir hata oluştu ki sorma!',
				};
			}
		} catch (error) {
			return {
				error: `Hata oldu: \n ${error}`,
			};
		}
	}
</script>

<script lang="ts">
	export let documentary: IDocumentaryContent;
	export let others: IDocumentaryCard[];

	onMount(() => {
		headerStore.setBack(true);
		headerStore.setShare(true);

		pageStore.setBackUrl('/video-belgeseller');

		shareStore.setTwitter($page.url.toString(), documentary.seo.title);
	});

	beforeUpdate(() => {
		headerStore.setTitle(documentary.title);
	});

	onDestroy(() => {
		headerStore.setBack(false);
		headerStore.setShare(false);
	});
</script>


<Seo {...documentary.seo} />

<div class="subpage video-detail">
	{#if documentary.videoFile}
		<video controls class="subpage-video">
			<track kind="captions" />
			<source
				src="https://interactive-examples.mdn.mozilla.net/media/cc0-videos/flower.mp4"
				poster="img/dummy_video_belgesel_big.jpg"
				type="video/mp4"
			/>
			Tarayıcının gömülü videoları desteklemiyor.
		</video>
	{:else if documentary.videoEmbed.length > 0}
		<div class="embed-wrapper" style="background-image: url(/img/dummy_video_belgesel_big.jpg);">
			<embed
				src="https://www.youtube.com/embed/{documentary.videoEmbed}?showinfo=0"
				title={documentary.title}
				height="400"
			/>
		</div>
	{:else}
		<NoResults text="Video yok!" />
	{/if}
	<section class="video-detail-info">
		<h2 class="title title--second fw-400">{@html documentary.title}</h2>
		<h3 class="toptitle">{documentary.producer}</h3>
		<div class="video-detail-info-content">
			{#if documentary.views}
				<span>{documentary.views}</span>
				<span class="dot" />
			{/if}
			{#if documentary.date}
				<div class="f-inline">
					<span class="icon-font mr-1">
						<svg class="icon icon-font">
							<use xlink:href="/icons.svg#icon-clock" />
						</svg>
					</span>
					<span>{documentary.date}</span>
				</div>
			{/if}
		</div>
	</section>

	<section class="video-detail-about section">
		<div class="video-detail-meta">
			{#if documentary.director}
				<Meta small title="Yönetmen" text={documentary.director} />
			{/if}
			{#if documentary.producer}
				<Meta small title="Yapımcı" text={documentary.producer} />
			{/if}
		</div>
		<div class="content">
			{@html documentary.content}
		</div>
	</section>
	<section class="subpage-similar section">
		<h4 class="section__title title title--sm" id="Similar">Benzer Belgeseller</h4>
		<div class="subpage-similar-list section-content">
			{#each others as item, index}
				<VideoCard {index} {...item} />
			{/each}
		</div>
	</section>
</div>

<style lang="scss">
	@import '../../styles/component/dot.scss';
	@import '../../styles/component/subpage/index.scss';
	@import '../../styles/component/subpage/similar-list.scss';
	@import '../../styles/component/subpage/section.scss';

	.f-inline {
		display: inline-flex;
		align-items: center;
	}
	:global(.ytp-chrome-top-buttons) {
		display: none !important;
	}

	.video-detail {
		.embed-wrapper {
			overflow: hidden;
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center center;
			width: 100%;
			height: auto;
			max-width: calc(var(--max-page-width, unset) + 10rem);
			@include bp(r-desktop-xl) {
				width: calc(var(--container-width));
				margin-left: auto;
				margin-right: auto;
			}
		}
		video,
		embed {
			max-width: calc(var(--max-page-width, unset) + 10rem);
			height: 60vh;
			min-height: 70rem;
			width: 100%;
			@include bp(r-desktop-xl) {
				width: calc(var(--container-width));
				margin-left: auto;
				margin-right: auto;
			}
			@include bp(laptop) {
				min-height: unset;
			}
			@include bp(tablet) {
				height: 60vw;
			}
		}

		&-info {
			.title {
				font-size: calc(var(--font-size-title--md) * 1.1);
			}

			&-content {
				display: flex;
				align-items: center;
				margin-top: 1rem;

				.dot {
					margin: 0 2.5rem;
				}

				span:not(.dot) {
					color: rgba($c-title, 0.6);
					font-size: 2rem;
					font-weight: 400;
					display: flex;
					align-items: center;
				}
			}
		}

		&-meta {
			display: flex;
			align-items: center;
			flex-wrap: wrap;
			max-width: 60rem;

			:global(.meta) {
				margin-right: 6rem;
				margin-bottom: 4rem;
			}
		}
	}

	.video-detail {
		&-info {
			padding: 4rem var(--page-padding-x);
			border-bottom: $s-border;
		}
		.content {
			padding-right: var(--text-content-padding);
		}
		.subpage-similar-list {
			:global(.card-video) {
				width: 100%;
				max-width: 40rem;
			}
			@include bp(desktop) {
				:global(.card-video) {
					min-width: 36rem !important;
					max-width: 36rem !important;
				}
			}
			@include bp(tablet-small-under) {
				:global(.card-video .card__img) {
					height: 38rem;
				}
			}
		}
	}
</style>
