<script context="module" lang="ts">
	import { documentaryStore } from '$stores/documentary.store';
	import { pageStore } from '$stores/page.store';
	import type { LoadOutput } from '@sveltejs/kit/types/internal';
	import { onMount, tick } from 'svelte';
	import { get } from 'svelte/store';

	export async function load(): Promise<LoadOutput> {
		const { categories, items } = get(documentaryStore);

		if (categories.length < 2) {
			await documentaryStore.setCategories();
		}

		const { activeCategoryId } = get(documentaryStore);

		if (items[activeCategoryId].hasNext && items[activeCategoryId].items.length === 0) {
			await documentaryStore.setItems(activeCategoryId, 1);
		}

		return {
			status: 200
		};
	}
</script>

<script lang="ts">
	onMount(async () => {
		await tick();
		pageStore.setCurrentSection('documentaries');
	});
</script>

<slot />
