<script context="module" lang="ts">
	export async function load() {
		const content = await getSeoData('documentaries');
		seoStore.setSeoContent('documentaries', content);

		return {
			status: 200,
		};
	}
</script>

<script lang="ts">
	import GhostCard from '$components/Cards/GhostCard.svelte';
	import VideoCard from '$components/Cards/VideoCard.svelte';
	import LoadMore from '$components/Common/LoadMore.svelte';
	import SearchResults from '$components/Common/SearchResults.svelte';
	import Tabbar from '$components/Common/Tabbar.svelte';
	import Seo from '$components/Global/Seo.svelte';
	import { getSeoData } from '$lib/services/seo.service';
	import type { ITabCustomEvent } from '$lib/types';
	import { documentaryStore } from '$stores/documentary.store';
	import { headerStore } from '$stores/header.store';
	import { searchStore } from '$stores/search.store';
	import { seoStore } from '$stores/seo.store';
	import { onDestroy, onMount } from 'svelte';

	onMount(() => {
		headerStore.setTitle('Video & Belgeseller');
		headerStore.setIcon('video_belgesel');
		headerStore.setSearch(true);
	});

	onDestroy(() => {
		headerStore.setSearch(false);
		searchStore.setLoaded(false);
	});

	$: currentCategory = $documentaryStore.items[$documentaryStore.activeCategoryId];

	$: nextLoadable =
		currentCategory.hasNext && currentCategory.isLoaded && currentCategory.items.length !== 0;

	const setTab = async (e: ITabCustomEvent) => {
		const id = e.detail;

		documentaryStore.setActiveCategory(id);

		if ($documentaryStore.items[id].hasNext && $documentaryStore.items[id].items.length === 0) {
			await documentaryStore.setItems(id, 1);
		}
	};
	const handleLoadMore = () => {
		documentaryStore.setPage(currentCategory.page, $documentaryStore.activeCategoryId);
		documentaryStore.setItems($documentaryStore.activeCategoryId, currentCategory.page);
	};

	$: activeCategoryIndex = $documentaryStore.categories.findIndex(
		(e) => e.id === $documentaryStore.activeCategoryId
	);
</script>

<Seo {...$seoStore.documentaries} />

<div class="tab">
	{#if !$searchStore.visible}
		<div class="tab-nav">
			<div class="tab-nav-content">
				<Tabbar
					tabs={$documentaryStore.categories}
					on:tab-click={setTab}
					activeIndex={activeCategoryIndex}
				/>
			</div>
		</div>
	{/if}
</div>
<div class="tab-content">
	{#if $searchStore.visible && $searchStore.loaded}
		<SearchResults />
	{:else if currentCategory}
		{#key $documentaryStore.activeCategoryId}
			<section class="videos list-grid">
				{#each currentCategory.items as item, index}
					<VideoCard {...item} {index} />
				{:else}
					{#each Array(6) as a}
						<GhostCard />
					{/each}
				{/each}
			</section>
			{#if nextLoadable}
				<LoadMore on:loading={handleLoadMore} />
			{/if}
		{/key}
	{/if}
</div>

<style lang="scss">
	@import '../../styles/component/tab/index.scss';
	@import '../../styles/component/list-grid.scss';
	@include bp(desktop) {
		:global(::root) {
			--big-card-image-height: 40rem;
		}
	}
</style>
