<script lang="ts">
	import { page } from '$app/stores';
	import Info from '$components/Sidebar/Info.svelte';
	import Stats from '$components/Sidebar/Stats.svelte';
	import { pageStore } from '$stores/page.store';
	import { onMount } from 'svelte';
	import Share from './Share.svelte';

	let loaded = false;

	onMount(() => {
		loaded = true;
	});
</script>

<div class="sidebar-content">
	{#key $pageStore.title}
		{#if loaded}
			<Info />
		{/if}
	{/key}
	<Stats visible={$page.url.pathname === '/'} />
	<Share visible={$page.url.pathname !== '/'} />
</div>

<style lang="scss">
	.sidebar-content {
		display: flex;
		flex-direction: column;
		height: 100%;
		flex: 1 1 auto;
		max-height: calc(100vh - var(--header-height));
		@include bp(tablet) {
			max-height: unset;
			height: auto;
		}
	}
</style>
