<script lang="ts">
	import { navigating, page } from '$app/stores';

	import { menu } from '$stores/menu.store';
	import { pageStore } from '$stores/page.store';
	import { sidebarStore } from '$stores/sidebar.store';

	let innerWidth: number;

	const handleMenuClose = () => {
		menu.setPersist(false);
		menu.setActive(false);
		sidebarStore.setMenuVisible(false);
	};
</script>

<svelte:window bind:innerWidth />

<header
	class="header"
	class:active={$menu.active}
	class:selector-active={$sidebarStore.menuVisible}
>
	<!-- <p>{innerWidth} - {$pageStore.staticPages.includes($page.url.pathname)}</p> -->

	{#if $pageStore.staticPages.includes($page.url.pathname)}
		{#if innerWidth < 768}
			<button
				class="header-menu_open"
				class:active={$menu.active}
				on:click={() => menu.setActive(!$menu.active)}
			/>
		{/if}
		{#if innerWidth > 767}
			<a class="header__back" href="/">
				<svg class="icon icon-font">
					<use xlink:href="/icons.svg#icon-arrow-left" />
				</svg>
			</a>
		{/if}
	{:else}
		<button
			class="header-menu_open"
			class:active={$menu.active}
			on:click={() => menu.setActive(!$menu.active)}
		/>
	{/if}
	<a class="header-logo" href="/" on:click={handleMenuClose}>
		<img src="/img/logo.svg" alt="logo" />
	</a>
</header>

<style lang="scss">
	.header {
		position: relative;
		z-index: 100;

		&.selector-active {
			@include bp(tablet) {
				position: fixed;
				top: 0;
				background-color: $c-bg;
			}
		}
		&__back {
			display: block;
			margin-right: 5rem;
			font-size: 3rem;
			color: $c-title;
			transition: $transition;
			@include bp(tablet) {
				margin-right: 0;
			}
			&:hover {
				color: $c-red;
			}
		}
	}
</style>
