<script lang="ts">
import { beforeNavigate } from '$app/navigation';

	import { navigating, page } from '$app/stores';
	import { removeTags } from '$lib/helpers';
	import { pageStore } from '$stores/page.store';
	import { sidebarStore } from '$stores/sidebar.store';
import { onMount } from 'svelte';
	import { blur, fade, fly } from 'svelte/transition';

	$: spotsAvailable = Object.keys($pageStore.spots).length > 0;
	$: thisPage = $pageStore.currentSection;

	let baseDelay = 200;
	let innerWidth: number;

	onMount(() => {
		if (innerWidth < 768) {
			baseDelay = 1200
		}
	})

	beforeNavigate(() => {
		baseDelay = 200
	})
</script>

<svelte:window bind:innerWidth />

<!--TODO: Zaman Tüneli link kontrolü yapılacak.-->
<div>
	{#if spotsAvailable && innerWidth}
		{#key $pageStore.currentSection}
			<section
				class="sidebar-info"
				class:is-subpage={$page.url.pathname !== '/'}
				class:hidden-mobile={$page.url.pathname === '/zaman-tuneli'}
				class:is-slugpage={$pageStore.inDetail || $sidebarStore.infoVisible}
				in:fade={{ delay: 100, duration: 100 }}
			>
				<span class="sidebar-info-title title">
					{#each removeTags($pageStore.spots[thisPage].title) as char, i}
						<span in:fade={{ delay: baseDelay + i * 20, duration: 70 }}>{char}</span>
					{/each}
				</span>
				<p
					class="sidebar-info-text text"
					in:fly={{
						y: -50,
						duration: 600,
						delay: baseDelay + $pageStore.spots[thisPage].title.length * 20,
					}}
				>
					{@html $pageStore.spots[thisPage].description}
				</p>
			</section>
		{/key}
	{/if}
</div>

<style lang="scss">
	.sidebar-info {
		transition: margin-top 0.2s;
		padding: 3rem var(--padding-lr);
		max-width: 54rem;
		@include bp(r-tablet) {
			margin-top: calc((100vh - var(--selector-height) - var(--header-height) - 40rem) / 2);
			transform: translateY(-35%);
		}
		&-title {
			font-weight: 400;
			letter-spacing: 0.013rem;
			font-size: 6.8rem;
			line-height: 1.15;
			font-family: $font-family-second;
			display: block;

			@media (max-height: 700px) {
				font-size: 6rem;
			}
			@media (max-height: 650px) {
				font-size: 5.2rem;
			}
			@include bp(mobile) {
				font-size: 5rem;
			}
		}
		.text {
			line-height: 1.77;
			margin-top: 3rem;
		}
		@include bp(tablet) {
			margin-top: calc(var(--selector-height) * 1.2);
		}
		&.is-subpage {
			margin-top: 18rem;
			transform: none;
			@include bp(tablet) {
				margin-top: calc(var(--selector-height) * 2 + 1rem);
				// display: none;
			}
		}
		&.is-slugpage,
		&.hidden-mobile {
			@include bp(tablet) {
				display: none;
			}
		}
	}
</style>
