<script lang="ts">
	import Socials from '$components/Global/Socials.svelte';
	import { fade, fly } from 'svelte/transition';
	export let visible: boolean;
</script>

{#if visible}
	<div
		class="sidebar-content-share"
		in:fly={{ y: 300, duration: 300, delay: 300 }}
		out:fade={{ duration: 200 }}
	>
		<h6 class="toptitle mbi-2">Paylaş</h6>
		<Socials platforms={['facebook', 'twitter', 'linkedin']} />
	</div>
{/if}

<style lang="scss">
	.sidebar-content-share {
		position: absolute;
		bottom: 0;
		width: 100%;
		margin-top: auto;
		border-top: $s-border;
		padding: 4rem var(--padding-lr);
		@include bp(tablet) {
			display: none;
		}
	}
</style>
