<script lang="ts">
	import { navigating, page } from '$app/stores';
	import Menu from '$components/Global/Menu.svelte';
	import Selector from '$components/Global/Selector.svelte';
	import Content from '$components/Sidebar/Content.svelte';
	import Header from '$components/Sidebar/Header.svelte';
	import { pageStore } from '$stores/page.store';
	import { sidebarStore } from '$stores/sidebar.store';
	import Static from './Static.svelte';
</script>

<aside
	class="sidebar"
	class:selector-active={$sidebarStore.menuVisible}
	class:static-sidebar={$pageStore.staticPages.includes($page.url.pathname) ||
		$pageStore.staticPages.includes($navigating?.to?.pathname)}
>
	<Header />
	{#if $pageStore.staticPages.includes($page.url.pathname) || $pageStore.staticPages.includes($navigating?.to?.pathname)}
		<Selector />
		<Static />
	{:else}
		<Selector />
		<Content />
		<Selector />
	{/if}
	<Menu />
</aside>

<style lang="scss">
	@import '../../styles/component/sidebar.scss';
	.selector-active {
		:global(.selector) {
			@include bp(tablet) {
				position: fixed;
			}
		}
	}
	.static-sidebar {
		@include bp(r-tablet) {
			:global(.selector) {
				display: none;
			}
		}
	}
</style>
