<script lang="ts">
	import { page } from '$app/stores';
	import SocialPlatforms from '$components/Global/SocialPlatforms.svelte';
	import { menu } from '$stores/menu.store';
</script>

<section class="menu active static-menu">
	<nav class="menu-nav is-static">
		<a
			class="menu-nav__link"
			class:active={$page.url.pathname === '/hakkimizda'}
			href="/hakkimizda"
			on:click={() => menu.setActive(false)}
		>
			Hakkımızda
		</a>
		<a
			class="menu-nav__link"
			class:active={$page.url.pathname === '/projeler'}
			href="/projeler"
			on:click={() => menu.setActive(false)}
		>
			Projeler
		</a>
		<a
			class="menu-nav__link"
			class:active={$page.url.pathname === '/iletisim'}
			href="/iletisim"
			on:click={() => menu.setActive(false)}
		>
			İletişim
		</a>
	</nav>
	<footer class="menu-footer">
		<section class="menu-socials">
			<h6 class="toptitle mbi-2">Bizi Takip Edin</h6>
			<SocialPlatforms />
		</section>
		<!-- <LanguageSwitcher /> -->
	</footer>
</section>

<style lang="scss">
	@import '../../styles/component/menu.scss';
	.static-menu {
		background-color: $c-bg;
		@include bp(tablet) {
			display: none;
		}
	}
	.menu {
		z-index: 90;

		&.is-static {
			padding: 5.2rem;
			@include bp(tablet) {
				//display: none;
			}
		}

		&:hover {
			.menu-nav__link {
				opacity: 1;
			}
		}

		&.persist {
			background-color: $c-bg;
			border-right: $s-border;
		}

		&-nav {
			&__link {
				font-size: 4rem;
				display: block;
				margin-bottom: 2.5rem;
				color: $c-title;
				font-family: $font-family-second;
				font-weight: 400;
				padding: 1.7rem 0;
				position: relative;

				&:not(.active) {
					opacity: 0.5;

					&:hover {
						color: $c-red;
					}
				}

				&.active {
					padding-left: 2rem;

					&::before {
						content: '';
						width: 0.6rem;
						height: 100%;
						left: calc(-1 * var(--padding-lr));
						position: absolute;
						top: 0;
						background: $c-red;
					}
				}
			}
		}

		&-footer {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
		}
	}
</style>
