<script lang="ts">
	import { beforeNavigate } from '$app/navigation';

	import Statbox from '$components/Common/Statbox.svelte';
	import { pageStore } from '$stores/page.store';
	import { onMount } from 'svelte';
	import { fade, fly } from 'svelte/transition';
	export let visible: boolean;

	let stats = $pageStore.stats.sort(() => 0.5 - Math.random()).slice(0, 2);

	let loaded = false;
	let innerWidth: number;
	let baseDelay = 1000;

	onMount(() => {
		loaded = true;
	});

	beforeNavigate((nav) => {
		baseDelay = 500
	});
</script>

<svelte:window bind:innerWidth />

{#if visible && loaded}
	<section
		class="stats"
		id="SidebarStats"
		in:fly={{ y: 300, duration: 600, delay: innerWidth < 768 ? baseDelay * 2.1 : baseDelay * 1.5 }}
		out:fade={{ duration: 200 }}
	>
		{#each stats as stat}
			<Statbox
				count={stat.value}
				icon={stat.icon}
				content={stat.description}
				delay={innerWidth < 768 ? baseDelay * 3 : baseDelay * 2}
			/>
		{/each}
	</section>
{/if}

<style lang="scss">
	.stats {
		display: flex;
		justify-content: space-between;
		width: 100%;
		flex-wrap: nowrap;
		margin-top: auto;

		@include bp(tablet) {
			max-width: 60rem;
			margin-top: 0;
		}
		@include bp(tablet-small-under) {
			padding-bottom: 1rem;
		}

		:global(.count-item) {
			padding: 10rem 4rem 8rem;
			@include bp(tablet) {
				padding: 4rem 5rem 5rem 5rem;
			}
			@include bp(tablet-small-under) {
				padding: 4rem var(--page-padding-x) 4rem var(--page-padding-x);
			}
		}

		:global(.count-item:nth-child(1)) {
			border-right: 1px solid $c-border;
			padding-bottom: 3rem;
			@include bp(tablet) {
				border: 0;
			}
		}
	}
</style>
