<script lang="ts">
	import { page } from '$app/stores';
</script>

<nav class="menu-nav">
	<a class="menu-nav__link" class:active={$page.url.pathname === '/hakkimizda'} href="/hakkimizda">
		Hakkımızda
	</a>
	<a class="menu-nav__link" class:active={$page.url.pathname === '/projeler'} href="/projeler"
		>Projeler</a
	>
	<a class="menu-nav__link" class:active={$page.url.pathname === '/iletisim'} href="/iletisim"
		>İletişim</a
	>
</nav>

<style lang="scss">
	@import '../../styles/component/menu.scss';

	.menu {
		&-nav {
			@include bp(tablet) {
				display: none;
			}
			&__link {
				font-size: 4rem;
				display: block;
				margin-bottom: 2.5rem;
				color: $c-title;
				font-family: $font-family-second;
				font-weight: 400;
				padding: 1.7rem 0;
				position: relative;

				&:not(.active) {
					opacity: 0.5;

					&:hover {
						color: $c-red;
					}
				}

				&.active {
					padding-left: 2rem;

					&::before {
						content: '';
						width: 0.6rem;
						height: 100%;
						left: calc(-1 * var(--padding-lr));
						position: absolute;
						top: 0;
						background: $c-red;
					}
				}
			}
		}
	}
</style>
