.list-grid{
  padding: var(--page-padding-y) var(--page-padding-x);
  max-width: var(--max-page-width, unset);
  display: grid;
  justify-content: space-between;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: var(--list-row-gap);
  grid-column-gap: var(--list-column-gap);

  @include bp(desktop) {
    grid-template-columns: repeat(2, 1fr);
  }
  @include bp(mobile) {
    grid-template-columns: repeat(1, 1fr);
  }
}