.box {
  border: 1px solid $c-border;
  background-color: $c-bg-light;

  &-section {
    padding: 3rem 2.2rem;

    & + & {
      border-top: 1px solid $c-border;
    }
  }

  &-header {
    border-bottom: 1px solid $c-border;
    padding: 4rem 2rem 4rem 4rem;
    display: flex;
    align-items: center;

    &-left {
      display: flex;
      align-items: center;
    }

    .title {
      padding-right: 2rem;
      font-size: 2.8rem;
    }
  }

  &-close {
    margin-left: auto;
    flex-shrink: 0;
    width: 5rem;
    height: 5rem;

    .btn__icon {
      font-size: 1.5rem;
    }
  }


  &--article {
    min-height: 60vh;

    .box {
      &-content {
        padding: 0 2rem 4rem 2rem;
        max-height: 40vh;
        overflow-y: auto;
        margin: 3rem 2rem 0 2rem;
      }
    }
  }

  &--default {
    padding: 4rem 4.8rem;
  }
}