.category_menu {
  &.active {
    .category_menu-bar {
      border-left: 0;
      border-top: 0;
    }
  }

  &-bar {
    width: 100%;
    background: linear-gradient(to right, rgba(242, 238, 232, 1) 49.99%, #FFF 50%);
    height: 10rem;
    padding: 0 4rem 0 3rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
    background-size: 200%;
    transition: $transition-fast;
    background-position: left;
    box-shadow: 0 31px 30px -28px rgba($c-title, .3);
    border: 1px solid #D3CEC8;
    border-right: 0;

    &:hover {
      background-position: right;
    }

    &__img {
      height: 5rem;
      width: 5rem;
      object-fit: contain;
    }

    &__text {
      color: $c-title;
      margin-left: 4rem;
      font-weight: 600;
      font-size: 2rem;

      span {
        color: $c-red;
      }
    }

    &__arrow {
      color: $c-red;
      font-size: 1.8rem;
      margin-left: auto;
      display: block;
    }
  }

  &.active {

    .category_menu {
      &-bar {
        background: $c-bg-light;
        border-bottom: 1px solid $c-border;
        position: relative;
        box-shadow: none;

        &__arrow {
          display: none;
        }

        &::after {
          content: '×';
          font-size: 4rem;
          position: absolute;
          right: 3rem;
          top: 50%;
          transform: translateY(-50%);
          color: $c-title;
        }
      }
    }
  }

}
