.content {

  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-bottom: 2rem;
    line-height: 1.6em;
    color: $c-title;
    font-size: 2.2rem;
    font-weight: 600;
    @include bp(tablet) {
      margin-top: 0;
    }
  }

  hr {
    border-top: 0;
    border-color: $c-border;
    margin-top: 0;
    margin-bottom: 3rem;
    //
    //& + h2,
    //& + h3,
    //& + h4,
    //& + h5,
    //& + h6 {
    //  //margin-top: 4rem
    //}
  }

  blockquote {
    margin-bottom: 4rem;
  }

  p,
  dl,
  dt {
    margin-bottom: 4rem;
    font-weight: 400;
    color: $c-text;
    line-height: 1.88em;
    font-size: var(--font-size-text);

    &:last-child:last-of-type {
      margin-bottom: 0;
    }

    @include bp(mobile) {
      margin-bottom: 3rem;
    }

    a {
      text-decoration: underline;
      font-weight: 500;
      color: $c-title;
    }

    b {
      font-weight: 500;
      color: $c-title;
    }
  }
  dl{
    padding-left: 4rem;
    dl{
      padding-left: 0;
    }
  }
  dt {
    font-weight: 600;
    padding-left: 1.6rem;
    margin-bottom: 1rem;
    color: rgba($color: $c-title, $alpha: 0.7);
    position: relative;
    &::before {
      content: "";
      width: 1em;
      height: 1em;
      background-color: $c-title;
      font-size: 0.6rem;
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  ul {
    margin-bottom: 4rem;
    @include bp(tablet) {
      font-size: 1.8rem;
    }
    @include bp(mobile) {
      margin-bottom: 3rem;
    }
  }

  ol {
    margin-bottom: 4rem;
    padding-left: 2rem;
    @include bp(tablet) {
      font-size: 1.8rem;
    }
    @include bp(mobile) {
      margin-bottom: 3rem;
    }
  }

  li {
    padding-left: 0;
    font-weight: 400;
    color: $c-text;
    line-height: 1.88em;
    margin-bottom: .5rem;
    font-size: var(--font-size-text);

    &:last-child:last-of-type {
      margin-bottom: 0;
    }
  }

  iframe {
    width: 100%;
    height: 60rem;
    @include bp(tablet-small-under) {
      height: 55vw;
    }
  }

  img {
    max-width: 100%;
    height: auto;
    padding: 2rem;
    background: $c-bg-light;
  }

  .infobox {
    margin-bottom: 4rem;
  }

  a {
    transition: $transition-fast;

    &:hover {
      color: $c-red;
    }
  }
}
