.count-item {

  &-head {
    display: flex;
    align-items: center;
  }

  &__img {
    width: 3.6rem;
    object-fit: contain;
    margin-right: 1.5rem;
    @include bp(tablet-small-under) {
      width: 3.2rem;
    }
  }

  &__number {
    color: $c-title;
    font-size: 4.8rem;
    line-height: 1;
    font-family: $font-family-second;
    height: .9em;
    font-weight: 400;
    @include bp(tablet-small-under) {
      font-size: 3.6rem;
    }
  }

  &__plus {
    color: $c-green;
    font-size: 4.8rem;
    line-height: 1;
    font-family: $font-family-second;
    font-weight: 400;
    @include bp(tablet-small-under) {
      font-size: 4rem;
    }
  }

  &__text {
    font-weight: 300;
    margin-top: 2rem;
    font-size: 1.8rem;
    max-width: 25rem;
    line-height: 1.4;
    @include bp(tablet-small-under) {
      margin-top: 1.6rem;
    }
  }
}