.dictionary_search {
  border-bottom: 1px solid $c-border;

  &-content {
    position: relative;
  }

  input {
    background: transparent;
    width: 100%;
    height: 10rem;
    border: 0;
    font-size: 7.8rem;
    padding-right: 10rem;

    &:focus {
      border: 0;
      outline: 0;
    }

    &::placeholder {
      color: rgba($c-title, .4);
    }
  }

  &__icon {
    color: rgba($c-title, .4);
    font-size: 5rem;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
  }
}