.dictionary {
	&_nav {
		font-size: 1.8rem;

		&-content {
			display: flex;
			justify-content: space-between;
			padding: 4rem var(--page-padding-x);
			@include bp(tablet-small-under) {
				padding-top: 3rem;
				padding-bottom: 3rem;
			}
		}
	}
}
