.langs {
  position: relative;
  width: max-content;

  &-menu {
    display: flex;
    cursor: pointer;
    align-items: center;
    position: relative;
    background-color: $c-bg-light;
    padding: 2rem;
    padding-right: 4rem;
    border: 1px solid $c-border;
    width: 28rem;

    &::after {
      content: '';
      position: absolute;
      top: 50%;
      right: 2.6rem;
      width: 0;
      height: 0;
      border: 5px solid transparent;
      border-top-color: $c-title;
      transition: $transition-normal;
      transform: translateY(-3px);
    }

    &:hover, &.active {
      .header-langs {
        &-menu {
          &::after {
            border-top-color: $c-text;

          }

          &__code {
            opacity: 1;
          }
        }
      }
    }

    &.active {
      &::after {
        transform: translateY(-7px) rotate(-180deg);
      }

      & + .langs-menu-content {
        transform: translateY(-100%) translateZ(0) translateX(-50%) scale(1, 1);
        opacity: 1;
        pointer-events: all;
      }
    }

    &__img {
      width: 3rem;
      height: 3rem;
      border-radius: 50%;
      overflow: hidden;
      margin-right: 2.2rem;
      border: 1px solid $c-border;

      img {
        object-fit: cover;
        height: inherit;
        width: 100%;
      }
    }

    &__code {
      color: $c-title;
      font-weight: 400;
      font-size: 2rem;
      transition: $transition-normal;
    }

    &-content {
      background: $c-bg-light;
      border-radius: 0;
      padding: 2rem;
      top: -10px;
      position: absolute;
      width: 100%;
      //box-shadow: 0 0 10px rgba($c-text, .1), $box-shadow;
      transform: translateY(-100%) translateX(-50%);
      left: 50%;
      transition: $transition;
      opacity: 0;
      pointer-events: none;
      z-index: 3;
      border: 1px solid $c-border;

      &__item {
        display: flex;
        align-items: center;
        padding: 1.5rem 1.0rem;
        justify-content: flex-start;
        background: rgba($c-bg, .3);
        border: 1px solid transparent;
        &:hover {
          background: rgba($c-bg, .6);
        }

        & + & {
          margin-top: 5px;
        }

        &.active {
          //background: $c-bg;
          border-color: $c-border;
        }

        .langs-menu {
          &__img {
            flex-shrink: 0;
          }
        }
      }
    }
  }
}
