.mapbox {
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: $transition-fast;
  justify-content: center;
  cursor: pointer;

  &:hover {
    background-color: $c-bg-light;
  }
  &__icon {
    height: 11rem;
    display: block;
    margin-bottom: 10rem;
    @include bp(tablet) {
      height: 8rem;
      margin-bottom: 6rem;
    }
  }

  .title {
    margin-bottom: 3rem;
  }

  .text {
    max-width: 36rem;
    line-height: 1.66;
  }

  .btn {
    margin-top: 5rem;
  }
}
