.menu {
	position: absolute;
	left: 0;
	top: 0;
	height: 100vh;
	width: var(--sidebar-width);
	padding: calc(var(--header-height) + 8rem) var(--padding-lr) 7rem var(--padding-lr);
	transition: $transition;
	background-color: $c-bg-light;
	z-index: 1;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	transform: translateX(calc(-1 * var(--sidebar-width)));
	@include bp(tablet) {
		padding-top: calc(var(--header-height) + 6rem);
		position: fixed;
		height: var(--app-height)!important;
		&.active {
			height: var(--app-height)!important;
		}
	}
	&.active {
		transform: none;
	}
	@include bp(r-tablet) {
		&.active {
			border-right: $s-border;
		}
	}
}
