.meta {
  &-group {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 3rem;
    max-width: 60rem;

    .meta {
      width: 20rem;
    }
  }

  &__title {
    font-size: 1.6rem;
    color: rgba($c-title, .5);
    //margin-bottom: .5rem;
    font-weight: 500;
    display: block;
  }

  &__text {
    font-size: 2rem;
    line-height: 1.5;
    font-weight: 300;
    display: block;
    color: $c-title;
  }

  a {
    text-decoration: underline;

    &:hover {
      color: $c-red;
    }
  }

  &--small {
    .meta {
      &__title {
        font-weight: 500;
        font-size: 1.4rem;
        color: $c-title;
      }

      &__text {
        font-size: 1.8rem;
        font-weight: 300;
      }
    }
  }

  &--piece {

    .meta {
      &__title {
        font-weight: 400;
        font-size: 2.6rem;
        color: $c-title;
        letter-spacing: 0.052rem;
        font-family: $font-family-second;
        margin-bottom: 1rem;

        b {
          font-weight: 500;
        }
      }


      &__text {
        font-size: 1.8rem;
        font-weight: 300;
      }
    }

    a {
      text-decoration: none;

      &:hover {
        color: initial;
        text-decoration: underline;
      }
    }
  }


}