.modal {
  position: fixed;
  z-index: 251;
  pointer-events: none;
  transition: $transition;
  display: flex;
  flex-direction: column;
  opacity: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  top: 0;
  left: 0;

  &.active {
    opacity: 1;
    .modal{
      &-content{
        pointer-events: auto;
      }
      &-navigation{
        &-top,&-bottom,.btn{
          pointer-events: auto;
        }
      }
    }
  }

  &-navigation {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 6rem;
    pointer-events: none;


    &-top {
      display: flex;
      justify-content: flex-end;

      .btn__icon {
        font-size: 1.8rem;
      }
    }

    &-bottom {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;

      &-left {
        display: flex;

        .btn + .btn {
          margin-left: 1.8rem;
        }
      }

      &-right {
        display: flex;
        flex-direction: column;

        .btn + .btn {
          margin-top: 1.8rem;
        }
      }
    }
  }

  &-content {

  }


  &--text {
    max-height: 800px;
    @media (max-height: 860px) {
      max-height: calc(100vh - 10rem);
    }
    @include bp(tablet) {
      max-height: calc(100vw - 64px);
      min-width: calc(100vw - 16rem);
    }
    @include bp(mobile) {
      max-height: calc(var(--window-inner-height) - 84px);
    }
  }

  &--image {

    .modal {
      &-content {
        overflow: visible;
        padding: .8rem;
        display: block;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);

        @media (max-height: 860px) {
          max-height: calc(100vh - 10rem);
          max-width: calc(100vh - 10rem) !important;
        }
        @include bp(tablet) {
          max-width: calc(100vw - 64px) !important;
          max-height: calc(100vw - 64px);
          min-width: calc(100vw - 16rem);
        }

        @include bp(tablet-small) {
          max-width: calc(100vw - 32px) !important;
          max-height: calc(100vw - 32px);
          min-width: calc(100vw - 8rem);

        }
        @include bp(mobile-small) {
          max-width: calc(100vw - 16px) !important;
          max-height: calc(100vw - 16px);
          padding: 4px;
        }

        img {
          width: 100%;
          height: auto;
          object-fit: contain;
        }
      }
    }
  }

}

.js-open-modal {
  cursor: pointer;
}
