.number {
  width: 6.4rem;
  height: 6.4rem;
  border-radius: 50%;
  border: 1px solid $c-border;
  color: rgba($c-title, .85);
  font-weight: 600;
  font-size: 1.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $c-bg-light;
  line-height: 1;
}