.page {
  display: flex;

  &-header {
    height: var(--header-height);
    border-bottom: 1px solid $c-border;
    padding: 0 7.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    background: $c-bg;

    &-nav {
      &__btn {
        background: transparent;
        font-size: 3rem;
        display: block;
        color: $c-title;
        cursor: pointer;
        transition: $transition;
        padding: 0;
        height: 1em;

        &:hover {
          color: $c-first;
        }
      }
    }
  }

  &-area {
    width: calc(100vw - var(--sidebar-width));
    margin-left: var(--sidebar-width);
  }

  &-content {
    padding: 0 7.5rem;
  }
}

