.photobox {
  width: auto;
  position: relative;
  margin: 6rem 0 0 3rem;
  cursor: pointer;
  &:hover {
    .photobox {
      &-image_wrapper {
        box-shadow: 0 3rem 3rem -1rem rgba(black, 1);
      }
      &__img {
        transform: scale(1.05) translate3d(0, 0, 0);
      }
    }
  }
  &-image_wrapper {
    width: 100%;
    padding: 0 !important;
    border: 32px solid rgba($color: #000000, $alpha: 0.01);
    border-image: url("/img/cerveve-dikey.png") 30 stretch;
    box-shadow: 0 3rem 3rem -2rem rgba(black, 0.8);
    transition: $transition;
    overflow: hidden;
    @include bp(laptop) {
			border-width: 26px;
		}
  }

  &__img {
    height: auto;
    width: 100%;
    display: block;
    z-index: 1;
    position: relative;
    transition: 1s;
  }

  &__name {
    margin-top: 4rem;
    display: block;
    transition: $transition;
  }

  &__year {
    color: #fff;
    font-size: 2.1rem;
    display: block;
    transition: $transition;
  }
}
