.pin {
  width: 1em;
  height: 1em;
  font-size: 4.5rem;
  background: #FFF;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $c-title;
  position: relative;
  padding: 1rem;
  border: 1px solid #DFDCD7;
  transition: $transition;
  flex-shrink: 0;

  img {
    filter: brightness(0);
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  &::after {
    content: '';
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-top-color: #FFF;
    border-radius: 2px;
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    filter: drop-shadow(0 1px #DFDCD7);
    transition: $transition;
  }

  &:not(.pin--big) {
    &:hover {
      background: $c-red;

      &::after {
        border-top-color: $c-red;
      }

      img {
        filter: brightness(0) invert(1);
      }
    }
  }

  &--big {
    font-size: 6.2rem;
    padding: 1.5rem;

    &::after {
      border-width: 8px;
      bottom: -14px;
    }

    img {
      filter: none;
    }
  }
}