.play {
    width: 1em;
    height: 1em;
    position: absolute;
    left: 50%;
    top: 50%;
    border-radius: 50%;
    border: 1px solid #fff;
    transform: translate(-50%, -50%);
    transition: $transition;
    font-size: 10rem;
    @include bp(tablet) {
        font-size: 8rem;
    }
    @include bp(tablet-small-under) {
        font-size: 7rem;
    }
    &::after {
        content: "";
        position: absolute;
        left: 50%;
        top: 50%;
        width: 8px;
        height: 9px;
        clip-path: polygon(100% 50%, 0 0, 0 100%);
        transform: translate(-50%, -50%);
        background-color: #fff;
        transition: $transition;
        @include bp(tablet-small-under) {
            width: 6px;
            height: 7px;
        }
    }
}
