.post {
  border: 1px solid $c-border;
  background-color: $c-bg-light;
  display: block;
  box-shadow: 0 20px 15px -15px rgba($c-black, 0.05);
  &:hover {
    .post__title {
      color: $c-red;
    }
  }
  &-content {
    max-width: 65rem;
  }

  &__img {
    height: 22rem;
    width: 100%;
    object-fit: cover;
    &-bg {
      overflow: hidden;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
      width: 100%;
      height: auto;
    }
  }
  &__text {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  &__title {
    margin-bottom: 2rem;
    transition: $transition;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__author {
    font-weight: 600;
    font-size: 1.8rem;
    letter-spacing: 0.018rem;
    margin-top: 1rem;
    color: $c-title;
    display: block;
  }

  &-date {
    margin-top: auto;
    padding-top: 2rem;
    display: flex;
    align-items: center;
    font-size: 1.6rem;
    color: rgba($c-black, 0.6);

    &__icon {
      margin-right: 1rem;
      font-size: 1.3rem;
    }
  }

  &--small {
    max-width: 42rem;
    display: flex;
    flex-direction: column;
    @include bp(tablet) {
      margin-right: auto;
      margin-left: auto;
      width: 42rem;
    }
    @include bp(tablet-small-under) {
      margin-right: auto;
      margin-left: auto;
      width: 100%;
    }
    @include bp(mobile-l-small) {
      max-width: unset;
    }
    &:hover {
      box-shadow: 0 45px 30px -25px rgba($c-black, 0.15);
      transform: translateY(-2rem);
    }

    .post {
      &-content {
        display: flex;
        flex-direction: column;
        padding: 3.6rem;
        min-height: 30rem;
        flex-grow: 1;
        @include bp(mobile) {
          min-height: 25rem;
          padding: 2.4rem;
        }
      }

      &-date {
        padding-top: 0;
        margin-top: 0;
      }

      &__author {
        margin-top: auto;
        padding-top: 4rem;
      }
    }
  }

  &--large {
    width: 100%;
    display: flex;
    @include bp(mobile) {
      display: block;
    }
    .post {
      &__img {
        height: 40rem;
        width: 43rem;
        flex-shrink: 0;
        &-bg {
          width: 43rem;
        }
        @include bp(desktop) {
          width: 38rem;
          &-bg {
            width: 38rem;
          }
        }
        @include bp(tablet) {
          width: 40vw;
          &-bg {
            width: 40vw;
          }
        }
        @include bp(mobile) {
          width: 100%;
          height: 60vw;
          &-bg {
            width: 100%;
          }
        }
      }

      &-content {
        padding: 4rem 5rem;
        display: flex;
        flex-direction: column;
        @include bp(desktop) {
          padding: 3rem 4rem;
        }
        @include bp(mobile) {
          padding: 3rem;
        }
      }
    }
  }
}
