.post-timeline {
	display: flex;
	background-color: transparent;
	border: none;
	box-shadow: none;
	width: auto;

	@include bp(tablet-small-under) {
		display: block;
		max-width: 70vw;
		width: 100%;
	}

	&.active {
		.post {
			&__date {
				color: rgba($c-red, 0.7);
			}

			// &__text {
			// 	display: block;
			// }

			&__title {
				opacity: 1;
			}

			&-picture {
				margin-right: 0;
				opacity: 1;
				filter: grayscale(0%);

				// transform: scale(1);
				// // margin-right: 6.8rem;
				// margin-right: 0;
				// transition: 0.5s;

				// @include bp(laptop-s) {
				// 	// margin-right: 5rem;
				// }
				// @include bp(desktop) {
				// 	@include bp(r-tablet) {
				// 		// margin-right: 2rem;
				// 	}
				// }
				// @include bp(tablet) {
				// 	// margin-right: 3vw;
				// }
				// img {
				// 	object-position: center top;
				// }
			}
			&-content {
				// transform: translateX(0);
			}
		}
		&:hover {
			.post-picture__arrow {
				opacity: 1;
				transition-delay: 0.2s;
				transform: translate(-50%, -50%);
			}
		}
	}
	.post {
		&-content {
			margin-left: 6.8rem;
			@include bp(desktop) {
				@include bp(r-tablet) {
					margin-left: 5rem;
				}
			}
			@include bp(tablet) {
				margin-left: 5rem;
			}
			@include bp(tablet-small-under) {
				margin-left: 0;
			}
			&__title {
				max-width: 44rem;
				line-height: 1.2;
				letter-spacing: 0.046rem;
				margin-top: 1rem;
				opacity: 0.6;
				transition: $transition;
				margin-bottom: 1rem;
				display: -webkit-box;
				-webkit-line-clamp: 3;
				-webkit-box-orient: vertical;
				overflow: hidden;
				text-overflow: ellipsis;
				@include bp(desktop) {
					@include bp(r-tablet) {
						font-size: 3rem;
					}
				}
				@include bp(tablet-small-under) {
					margin-top: 5rem;
					font-size: 2.6rem;
					max-height: 10rem;
				}
				@include bp(mobile) {
					margin-top: 6.6rem;
				}
				@include bp(mobile-l-small) {
					margin-top: 13vw;
				}
				&:hover {
					.post__title {
						color: $c-red;
					}
					.post-picture__arrow {
						color: $c-red;
					}
				}
			}
		}
		&__date {
			font-weight: 500;
			color: rgba($color: $c-title, $alpha: 0.6);
			font-size: 1.8rem;
			@include bp(tablet-small-under) {
				display: none;
			}
		}

		&__title {
			max-width: 44rem;
			line-height: 1.2;
			letter-spacing: 0.046rem;
			margin-top: 1rem;
			opacity: 0.6;
			transition: $transition;
			margin-bottom: 1rem;
			display: -webkit-box;
			-webkit-line-clamp: 3;
			-webkit-box-orient: vertical;
			overflow: hidden;
			text-overflow: ellipsis;

			@include bp(desktop) {
				@include bp(r-tablet) {
					font-size: 3rem;
					max-width: 36rem;
				}
			}
			@include bp(tablet) {
				max-width: 35vw;
			}
			@include bp(tablet-small-under) {
				margin-top: 5rem;
				font-size: 2.6rem;
				max-width: 100%;
			}
			@include bp(mobile) {
				margin-top: 6.6rem;
			}
			@include bp(mobile-l-small) {
				margin-top: 13vw;
			}
		}

		&__text {
			display: none;
		}

		&__img {
			height: 100%;
			width: 100%;
			object-fit: cover;
			object-position: center 20%;
			transition: $transition;

			@include bp(tablet-small-under) {
				object-position: center top;
			}
		}

		&-picture {
			// width: 34rem;
			// height: 24rem;
			margin-top: 0;
			position: relative;
			// transition: $transition;
			opacity: 0.4;
			width: 44rem;
			height: 28rem;
			transition: 0.35s;
			transform-origin: left;
			overflow: hidden;
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center top;
			filter: grayscale(100%);
			will-change: width height;

			@include bp(laptop-s) {
				width: 35rem;
				height: 22.4rem;
			}
			@include bp(desktop) {
				@include bp(r-tablet) {
					width: 16vw;
					height: 10.4vw;
				}
			}
			@include bp(tablet) {
				width: 34vw;
				height: 19vw;
			}
			@include bp(tablet-small-under) {
				transform: none;
				width: 60vw;
				max-width: 100%;
				height: 28vw;
			}
			@include bp(mobile) {
				width: 100%;
				height: 36vw;
			}
			@include bp(mobile-l-small) {
				width: 100%;
				height: 40vw;
			}
			&__arrow {
				opacity: 0;
				width: 4.8em;
				height: 4.8em;
				border-radius: 50%;
				display: flex;
				justify-content: center;
				align-items: center;
				background-color: $c-bg-light;
				position: absolute;
				left: 50%;
				top: 50%;
				transform: translate(-50%, 0%);
				transition: $transition;
				color: $c-title;
				font-size: 1.8rem;
				@include bp(laptop-s) {
					font-size: 1.6rem;
				}
				@include bp(tablet) {
					font-size: 1.4rem;
				}
				@include bp(tablet-small-under) {
					display: none;
				}
			}
		}

		&-content {
			display: flex;
			justify-content: center;
			flex-direction: column;
			max-width: 65rem;
			// transform: translateX(-8rem);
			transition: $transition;

			@include bp(desktop) {
				@include bp(r-tablet) {
					max-width: 34rem;
				}
			}
			@include bp(tablet) {
				transform: none;
			}
			@include bp(tablet-small-under) {
				margin-top: 3rem;
				max-width: calc(100vw - var(--timeline-width) - 5vw);
			}
		}
	}
}
