.search {
  @include bp(tablet) {
    // border-top: 1px solid $c-border;
  }
  &-content {
    position: relative;
  }

  input {
    background: transparent;
    width: 100%;
    height: 10rem;
    border: 0;
    font-size: 7.8rem;
    padding-right: 10rem;
    @include bp(tablet) {
      font-size: 5rem;
      padding-right: 7rem;
    }
    @include bp(mobile) {
      font-size: 3rem;
    }
    &:focus {
      border: 0;
      outline: 0;
    }

    &::placeholder {
      color: rgba($c-title, 0.4);
    }
  }

  &__icon {
    color: #9c9992;
    font-size: 5rem;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    height: 1em;
    @include bp(tablet) {
      font-size: 4rem;
    }
    @include bp(mobile) {
      font-size: 3rem;
    }
  }
}
