.search {
    &-clear {
        font-size: 3.5rem;
        color: $c-black;
        position: absolute;
        right: calc(var(--page-padding-x) * 1);
        width: 6rem;
        height: 6rem;
        @include bp(tablet-small-under) {
            width: 4rem;
            height: 4rem;
        }
        &:hover {
            &::after,
            &::before {
                background-color: $c-black;
            }
        }
        &::after,
        &::before {
            content: "";
            width: 6rem;
            height: 5px;
            background-color: #8b8681;
            position: absolute;
            transition: 0.3s;
            @include bp(tablet-small-under) {
                width: 4rem;
                height: 3px;
            }
        }
        &::after {
            transform: rotate(-45deg) translateX(-2rem) translateY(-2rem);
            @include bp(tablet-small-under) {
                transform: rotate(-45deg) translateX(-1.5rem) translateY(-1.5rem);
            }
        }
        &::before {
            transform: rotate(45deg) translateX(-2rem) translateY(2rem);
            @include bp(tablet-small-under) {
                transform: rotate(45deg) translateX(-1.5rem) translateY(1.5rem);
            }
        }
    }
}
