.sidebar {
	width: var(--sidebar-width);
	border-right: 1px solid $c-border;
	display: flex;
	flex-direction: column;
	height: 100vh;
	position: fixed;
	top: 0;
	background: $c-bg;

	@include bp(tablet) {
		position: static;
		height: auto;
		border-right: 0;
		min-height: 32rem;
	}
}
