.slider-section {
  position: relative;

  &::before,
  &::after {
    content: "";
    left: 0;
    top: 0;
    background: linear-gradient(to right, $c-bg, rgba($c-bg,0));
    width: var(--page-padding-x);
    height: calc(100% - var(--page-padding-y) * 2);
    position: absolute;
    z-index: 2;
    pointer-events: none;
    @include bp(r-desktop-xl) {
      width: calc((100vw - var(--container-width) - var(--sidebar-width)) / 2);
      background: linear-gradient(to right, $c-bg 80%, rgba($c-bg,0));
    }
  }

  &::after {
    left: unset;
    right: 0;
    transform: rotate(180deg);
  }

  &-nav-wrapper {
    padding: var(--page-padding-y) var(--page-padding-x) 1rem var(--page-padding-x);
    max-width: var(--max-page-width, unset);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
  }
  
}
