.social {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 3.4rem;
  &__item {
    height: 1em;
    cursor: pointer;
    color: rgba($c-black, 1);
    opacity: 0.5;
    & + & {
      margin-left: 4.5rem;
    }

    &:hover {
      opacity: 1;
      color: $c-red;
    }
  }
}
