.subpage {
  display: flex;
  flex-direction: column;
  width: 100%;
  @include bp(tablet){
    min-height: calc(100vh - var(--header-height) - var(--selector-height)*2);

  }
  .section-wrapper + .section-wrapper {
    border-top: $s-border;
  }


  &-header {
    display: flex;
    padding: 4rem var(--page-padding-x) 0 var(--page-padding-x);
    border-bottom: $s-border;
  }

  .section {
    max-width: var(--max-page-width, unset);
    padding: var(--page-padding-y) var(--page-padding-x);


    &__title {
      margin-bottom: 3rem;
    }

    &-content {
      &--text{
        padding-right: var(--text-content-padding);
      }
    }
  }
  &-similar {
    .section__title {
      margin-bottom: 5.5rem;
    }

    &-list {
      display: grid;
      justify-content: space-between;
      grid-template-columns: repeat(3, 1fr);
      grid-row-gap: var(--list-row-gap);
      grid-column-gap: var(--list-column-gap);
    }
  }
}