[data-tooltip] {
    position: relative;
    &:hover {
        &::before,
        &::after {
            opacity: 1;
        }
    }
   
    &::before,
    &::after {
        bottom: 100%;
        left: 50%;
        opacity: 0;
        pointer-events: none;
        position: absolute;
        top: auto;
        transition: 0.2s;
        z-index: 1;
    }
    &::before {
        content: "";
        background-color: #191919;
        border-radius: 4px;
        color: #fff;
        content: attr(data-tooltip);
        font-size: 12px;
        line-height: 1.5;
        overflow: hidden;
        padding: 8px;
        text-overflow: ellipsis;
        white-space: nowrap;
        bottom: auto;
        top: 100%;
        transform: translate(-50%, 8px)
    }
    &::after {
        border: 5px solid transparent;
        border-top-color: #191919;
        bottom: auto;
        content: "";
        left: 50%;
        bottom: 0;
        top: auto;
        transform: translate(-50%, calc(100% - 2px)) rotate(180deg);
    }
}
