<script context="module" lang="ts">
	import Seo from '$components/Global/Seo.svelte';
	import Zoombox from '$components/Global/Zoombox.svelte';
	import { socializer } from '$lib/helpers';
	import type { IInfographicResponse } from '$lib/response.type';
	import { getContent } from '$lib/services';
	import type { IInfographic } from '$lib/types';
	import { headerStore } from '$stores/header.store';
	import { pageStore } from '$stores/page.store';
	import { zoombox } from '$stores/zoombox.store';
	import type { LoadInput, LoadOutput } from '@sveltejs/kit/types/internal';
	import { onDestroy, onMount } from 'svelte';

	export async function load({ url, params }: LoadInput): Promise<LoadOutput> {
		try {
			const { id, content } = await getContent<IInfographicResponse>('infographics', params.slug);

			const infographic: IInfographic = {
				id: id,
				title: content.title.rendered,
				slug: content.slug,
				fullImage: content.meta_data.image_details.full.url,
				seo: {
					title: content.yoast_head_json.title,
					description: content.yoast_head_json.og_description,
					image: content.yoast_head_json.og_image?.[0]?.url,
					type: content.yoast_head_json.og_type,
					ldJson: JSON.stringify(content.yoast_head_json.schema),
				},
			};

			headerStore.setTitle(infographic.title);

			socializer(url, infographic.seo.title);

			return {
				props: {
					infographic,
				},
			};
		} catch (error) {
			return {
				error: 'Hata oldu.',
			};
		}
	}
</script>

<script lang="ts">
	export let infographic: IInfographic;

	let imageEl: HTMLImageElement;

	onMount(() => {
		headerStore.setBack(true);
		headerStore.setShare(true);
		headerStore.setSearch(false);

		pageStore.setBackUrl('/infografikler');

		zoombox.setImage(imageEl.src);
	});

	onDestroy(() => {
		headerStore.setShare(false);
		headerStore.setBack(false);
	});
</script>

<Seo {...infographic.seo} />

<section class="subpage">
	<picture
		class="image-bg"
		style="background-image: url(/img/dummy_infografik.jpg); background-size: contain;"
	>
		<img
			src={infographic.fullImage}
			alt={infographic.title}
			bind:this={imageEl}
			on:click={() => zoombox.toggle(true)}
		/>
	</picture>
	<div class="subpage-buttons">
		<button
			class="btn btn--white btn--i mb-2"
			on:click={() => zoombox.toggle(true)}
			data-tooltip="Büyüt"
		>
			<span class="btn__icon icon-font">
				<svg class="icon icon-font">
					<use xlink:href="/icons.svg#icon-expand" />
				</svg>
			</span>
		</button>
		<a
			href={infographic.fullImage}
			class="btn btn--white btn--i btn--ellipse"
			target="_blank"
			download
			data-tooltip="İndir"
		>
			<span class="btn__icon icon-font">
				<svg class="icon icon-font">
					<use xlink:href="/icons.svg#icon-download" />
				</svg>
			</span>
		</a>
	</div>
</section>
<Zoombox />

<style lang="scss">
	@import '../../styles/component/tooltip.scss';

	.subpage {
		display: flex;
		max-width: var(--max-page-width);
		padding: var(--page-padding-y) var(--page-padding-x);
		justify-content: center;
		@include bp(tablet-small-under) {
			flex-direction: column;
			justify-content: center;
		}
		picture {
			width: auto;
			height: auto;
			cursor: pointer;
			max-height: calc(100vh - var(--header-height) - 10rem);
			min-height: calc(100vh - var(--header-height) - 10rem);
			min-width: 50rem;
			background-position: center;
			@include bp(tablet-small-under) {
				max-height: unset;
				min-height: unset;
				min-width: unset;
			}
			img {
				width: 100%;
				height: 100%;
				object-fit: contain;
				object-position: top;
				overflow: hidden;
				max-height: calc(100vh - var(--header-height) - 10rem);
				min-height: calc(100vh - var(--header-height) - 10rem);
				object-fit: cover;
				@include bp(tablet-small-under) {
					max-height: unset;
					min-height: unset;
				}
			}
		}

		&-buttons {
			margin-left: 2rem;
			@include bp(tablet-small-under) {
				margin-left: 0;
				display: flex;
				margin: 3rem auto 0 auto;
			}
			.btn {
				display: flex;
				@include bp(tablet-small-under) {
					margin-right: 2rem;
				}
			}
		}
	}
</style>
