<script context="module" lang="ts">
	export async function load() {
		const content = await getSeoData('infographics');
		seoStore.setSeoContent('infographics', content);

		return {
			status: 200,
		};
	}
</script>

<script lang="ts">
	import GhostCard from '$components/Cards/GhostCard.svelte';
	import GhostLoader from '$components/Cards/GhostLoader.svelte';
	import InfographicCard from '$components/Cards/InfographicCard.svelte';
	import SearchResults from '$components/Common/SearchResults.svelte';
	import Tabbar from '$components/Common/Tabbar.svelte';
	import Seo from '$components/Global/Seo.svelte';
	import { getSeoData } from '$lib/services/seo.service';
	import type { ITabCustomEvent } from '$lib/types';
	import { headerStore } from '$stores/header.store';
	import { infographicStore } from '$stores/infographic.store';
	import { searchStore } from '$stores/search.store';
	import { seoStore } from '$stores/seo.store';
	import { onDestroy, onMount } from 'svelte';
	import { fade } from 'svelte/transition';

	onMount(() => {
		headerStore.setTitle('İnfografikler');
		headerStore.setIcon('infografikler');
		headerStore.setSearch(true);
	});

	onDestroy(() => {
		headerStore.setSearch(false);
		searchStore.setLoaded(false);
	});

	$: currentCategory = $infographicStore.items[$infographicStore.activeCategoryId];

	$: nextLoadable =
		currentCategory.hasNext && currentCategory.isLoaded && currentCategory.items.length !== 0;

	const setTab = async (e: ITabCustomEvent) => {
		const id = e.detail;

		infographicStore.setActiveCategory(id);

		if ($infographicStore.items[id].hasNext && $infographicStore.items[id].items.length === 0) {
			await infographicStore.setItems(id, 1);
		}
	};

	const handleLoadMore = () => {
		infographicStore.setPage(currentCategory.page, $infographicStore.activeCategoryId);
		infographicStore.setItems($infographicStore.activeCategoryId, currentCategory.page);
	};
</script>

<Seo {...$seoStore.infographics} />

<div class="tab">
	{#if !$searchStore.visible}
		<div class="tab-nav">
			{#if $infographicStore.categories.length > 1}
				<div class="tab-nav-content" in:fade={{ duration: 200 }}>
					<Tabbar tabs={$infographicStore.categories} on:tab-click={setTab} />
				</div>
			{/if}
		</div>
	{/if}
</div>
<div class="tab-content">
	{#if $searchStore.visible}
		<SearchResults />
	{:else if currentCategory}
		{#key $infographicStore.activeCategoryId}
			<section class="infographics list-grid">
				{#each currentCategory.items as infographic, index}
					<InfographicCard {...infographic} {index} />
				{:else}
					{#each Array(6) as a}
						<GhostCard />
					{/each}
				{/each}
			</section>
			{#if nextLoadable}
				<GhostLoader on:loading={handleLoadMore} />
			{/if}
		{/key}
	{/if}
</div>

<style lang="scss">
	@import '../../styles/component/tab/index.scss';
	@import '../../styles/component/list-grid.scss';
</style>
