<script lang="ts">
	import { headerStore } from '$stores/header.store';
	import { pageStore } from '$stores/page.store';
	import { onDestroy, onMount } from 'svelte';

	onMount(() => {
		headerStore.setTitle('Interaktif Harita Detay');
		headerStore.setShare(true);
		headerStore.setSearch(false);

		pageStore.setBackUrl('/haritalar/interaktif');
	});

	onDestroy(() => {
		headerStore.setShare(false);
		headerStore.setBack(false);
	});
</script>

<div>Bu sayfa 3D harita destekleyecek</div>

<style lang="scss">
	//@import '../../styles/component/list-grid.scss';
</style>
