<script lang="ts">
	import MapCard from '$components/Cards/MapCard.svelte';
	import { MAPS } from '$lib/placeholders';
	import { headerStore } from '$stores/header.store';
	import { pageStore } from '$stores/page.store';
	import { onMount } from 'svelte';

	onMount(() => {
		headerStore.setTitle('İnteraktif Haritalar');
		headerStore.setBack(true);
		pageStore.setBackUrl('/haritalar');
	});
</script>

<!--<section class="maps list-grid">
	{#each MAPS as map}
		<MapCard link="{map.link}/interaktif" title={map.title} image={map.image} />
	{/each}
</section>-->
<div class="coming-soon">
	<img src="/img/yakinda.svg" alt="" />
</div>

<style lang="scss">
	@import '../../../styles/component/list-grid.scss';
	.coming-soon {
		padding: 10rem;
		display: flex;
		flex-direction: column;
		align-items: center;
		img {
			height: 12rem;
			display: block;
			margin-bottom: 2rem;
		}
	}
</style>
