<script lang="ts">
	import { fade } from 'svelte/transition';
  
  export let absolute: boolean;
</script>

<div class:absolute transition:fade={{ duration: 200 }}>
	<slot />
</div>

<style lang="scss">
  .absolute {
    position: absolute;
    width: 100%;
  }
</style>

