<script lang="ts">
	export let text: string;
	export let link: string;
	export let icon: string;
</script>

<a class="category-button" href={link}>
	<img class="category-button-icon" src="/img/{icon}.svg" alt="{text} ikonu" />
	<span class="category-button-title">{text}</span>
</a>

<style lang="scss">
	$this: '.category-button';

	#{$this} {
		display: flex;
		align-items: center;
		border: 1px solid $c-border;
		padding: 3rem;
		background-color: $c-bg-light;

		&-icon {
			height: 4rem;
			width: auto;
		}

		&-title {
			font-size: 2rem;
			font-weight: 600;
			color: $c-black;
			padding-left: 2rem;
			transition: 0.15s;
		}

		&:hover {
			box-shadow: 0 45px 30px -25px rgba($c-black, 0.15);
			transform: translateY(-1rem);

			#{$this}-title {
				color: $c-red;
			}
		}
	}
</style>
