<script lang="ts">
	import { fly } from 'svelte/transition';

	export let index: number;
	export let title: string;
	export let description: string;
</script>

<div class="meta meta--piece" in:fly={{ y: 20, duration: 200, delay: 100 + (index % 12) * 50 }}>
	<span class="meta__title">{@html title}</span>

	{#if description}
		<span class="meta__text">{@html description}</span>
	{/if}
</div>
<style lang="scss">
	@import '../../styles/component/meta/index.scss';
	@import '../../styles/component/meta/piece.scss';
</style>