<script lang="ts">
import type { TOrderType } from '$lib/types';
import { clickAway } from '$lib/utils/directives';
import { createEventDispatcher } from 'svelte';
import { fly } from 'svelte/transition';

	type TFilter = 'name' | 'release' | 'birth';

	export let filters: TFilter[] = [];

	let visible = false;

	let dispatch = createEventDispatcher();

	const toggle = (val: boolean) => (visible = val);

	const handleFilterClick = (val: TOrderType) => {
		dispatch('filterClick', val);
	};
</script>

<button class="tab-nav__btn" on:click={() => toggle(true)}>
	<svg class="icon icon-font">
		<use xlink:href="/icons.svg#icon-filter" />
	</svg>
</button>

{#if visible}
	<div
		class="filter"
		use:clickAway={() => toggle(!visible)}
		in:fly={{ y: -20 }}
		out:fly={{ y: 20 }}
	>
		<div class="filter-header">
			<span>Sırala Filtrele</span>
			<button on:click={() => toggle(false)}>
				<svg class="icon-font">
					<use xlink:href="/icons.svg#icon-close" />
				</svg>
			</button>
		</div>
		<div class="filter-content">
			<div class="filter__item active">Varsayılan</div>
			{#if filters.includes('name')}
				<div class="filter__item" on:click="{() => handleFilterClick('nameAsc')}" >A-Z’ye Göre Azalan</div>
				<div class="filter__item" on:click="{() => handleFilterClick('nameDesc')}" >A-Z’ye Göre Artan</div>
			{/if}
			{#if filters.includes('birth')}
				<div class="filter__item" on:click="{() => handleFilterClick('birthAsc')}" >Doğum Tarihi Artan</div>
				<div class="filter__item" on:click="{() => handleFilterClick('birthDesc')}" >Doğum Tarihi Azalan</div>
			{/if}
			<!-- {#if filters.includes('release')}
				<div class="filter__item" on:click="{() => handleFilterClick()}" >Yayınlanma Tarihine Göre Azalan</div>
				<div class="filter__item" on:click="{() => handleFilterClick()}" >Yayınlanma Tarihine Göre Artan</div>
			{/if} -->
		</div>
	</div>
{/if}

<style lang="scss">
	@import '../../styles/component/tab/index.scss';

	.filter {
		background-color: $c-bg;
		position: absolute;
		border: 1px solid $c-border;
		top: 0;
		z-index: 5;
		right: var(--page-padding-x);
		min-width: 36rem;
		&-header {
			padding: 0 3.6rem;
			height: 11rem;
			border-bottom: 1px solid $c-border;
			display: flex;
			align-items: center;
			justify-content: space-between;
			span {
				font-size: 2rem;
				font-weight: bold;
				color: $c-black;
			}
			button {
				font-size: 3rem;
				color: $c-black;
				height: 1em;
				transition: $transition;
				&:hover {
					color: $c-red;
				}
			}
		}
		&-content {
			padding: 2rem 2.4rem;
		}
		&__item {
			color: $c-text;
			font-weight: 500;
			height: 5.2rem;
			display: flex;
			align-items: center;
			background: url('/img/check.png');
			background-size: 0;
			background-position: calc(100% - 2rem) center;
			background-repeat: no-repeat;
			background-origin: center;
			width: 100%;
			transition: $transition;
			&.active {
				padding: 0 2.4rem;
				color: $c-black;
				position: relative;
				background-size: 2rem;
				&::after {
					content: '';
					position: absolute;
					left: 0;
					top: 0;
					height: 100%;
					background-color: $c-bg-light;
					border-radius: 2.4rem;
					z-index: -1;
					width: 100%;
				}
			}
		}
	}
</style>
