<script lang="ts">
	export let title: string = '';
	export let content: string;
</script>

<section class="infobox">
	{#if title}
		<h5 class="infobox-title title title--sm">{title}</h5>
	{/if}
	<div class="infobox-content content">{@html content}</div>
</section>

<style lang="scss">
	.infobox {
		border: 1px solid $c-border;
		background-color: $c-bg-light;
		padding: 4rem 4.8rem;
	}
</style>
