<script lang="ts">
	export let image: string;
</script>

<div class="lightbox">
	<div class="lightbox-content">
		<img src={image} alt="Lighbox" />
	</div>
</div>

<style lang="scss">
	.lightbox {
		position: fixed;
		z-index: 1000;
		width: 100%;
		height: 100%;

		&::before,
		&-content {
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
		}

		&::before {
			background-color: black;
			opacity: 0.8;
			z-index: 1010;
		}

		&-content {
			z-index: 1020;
		}
	}
</style>
