<script lang="ts">
	import { scale } from 'svelte/transition';
</script>

<div class="loading" out:scale={{ duration: 200, start: 0.5 }}>
	<img src="/img/loading-white.svg" alt="loading" />
</div>

<style lang="scss">
	.loading {
		position: fixed;
		z-index: 100000;
		top: 0;
		left: 0;
		font-size: 100px;
		display: flex;
		justify-content: center;
		align-items: center;
		transform-origin: center;
		height: 100vh;
		width: 100vw;
		background-color: $c-black;

		@include bp(mobile) {
			font-size: 80px;
		}
		img {
			height: 1em;
			animation: rotate 8s infinite linear;
		}
	}
	@keyframes rotate {
		0% {
			transform: rotate(0);
		}
		100% {
			transform: rotate(720deg);
		}
	}
</style>
