<script lang="ts">
	export let size = 80;
</script>

<span class="loading-icon" style="--loading-size: {size}px" />

<style lang="scss">
	:root {
		--loading-size: 6.4rem;
	}

	.loading-icon {
		display: inline-block;
		width: var(--loading-size);
		height: var(--loading-size);
		position: absolute;
		right: var(--page-padding-x);
		@include bp(tablet-small-under) {
			--loading-size: 5rem!important;
		}
		&::after {
			content: ' ';
			display: block;
			width: calc(var(--loading-size) - 1.6rem);
			height: calc(var(--loading-size) - 1.6rem);
			margin: 8px;
			border-radius: 50%;
			border: 6px solid #8b8681;
			border-color: #8b8681 transparent #8b8681 transparent;
			animation: dualRing 1.2s linear infinite;
			@include bp(tablet-small-under) {
				border-width: 3px!important;
			}
		}
	}
	@keyframes dualRing {
		0% {
			transform: rotate(0deg);
		}
		100% {
			transform: rotate(360deg);
		}
	}
</style>
