<script lang="ts">
	import { createEventDispatcher } from 'svelte';

	import { inview } from 'svelte-inview';

	let dispatch = createEventDispatcher();
	let isInView = false;

	const setInView = (e: CustomEvent) => {
		isInView = e.detail.inView;
	};

	$: {
		if (isInView) {
			dispatch('loading');
		}
	}
</script>

<div class="loading" use:inview on:change={setInView}>
	<img src="/img/loading.svg" alt="" />
</div>

<style lang="scss">
	.loading {
		font-size: 8rem;
		margin-left: auto;
		margin-right: auto;
		display: flex;
		justify-content: center;
		align-items: center;
		margin-top: 2rem;
		padding-bottom: 5rem;
		transform-origin: center;
		@include bp(mobile) {
			font-size: 8rem;
		}
		img {
			height: 1em;
		animation: rotate 8s infinite linear;
		}
	}
	@keyframes rotate {
		0% {
			transform: rotate(0)
		}
		100% {
			transform: rotate(720deg)
		}
	}
</style>
