<script lang="ts">
	export let title: string;
	export let text: string = '';
	export let small = false;
	export let piece = false;
	export let link = "";
	export let linkText = "";
</script>

<div class="meta" class:meta--small={small} class:meta--piece={piece}>
	<span class="meta__title">{title}:</span>
	{#if link}
		<a class="meta__text" href="{link}">{linkText}</a>
		{:else}
		<span class="meta__text">{text || 'Bilinmiyor'}</span>
	{/if}
</div>

<style lang="scss" >
	@import '../../styles/component/meta/index.scss';
</style>

{#if link}
<style lang="scss">
	@import '../../styles/component/meta/link.scss';
</style>
{/if}

{#if small}
<style lang="scss">
	@import '../../styles/component/meta/small.scss';
</style>
{/if}
{#if piece}
<style lang="scss">
	@import '../../styles/component/meta/piece.scss';
</style>
{/if}



