<script lang="ts">
	export let text: string = '';
	export let isWhite = false;
</script>

<div class="no-results" class:white={isWhite}>
    <img src="/img/icon_sonucyok.svg" alt="Sonuc yok." />
    <h1>{text}</h1>
</div>
<style lang="scss">
	.no-results {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		padding: 4rem;
		width: 100%;
		color: rgba($c-title, 0.4);
		&.white{
			color: rgba($color: #FFF, $alpha: .6);
		}
		img {
			font-size: 12rem;
			margin-bottom: 3rem;
			opacity: 0.8;
			height: 1em;
			@include bp(mobile){
				font-size: 20vw;
			}
		}

		h1 {
			font-size: 3.2rem;
			font-weight: 300;
			text-align: center;
			@include bp(mobile){
				font-size: 2.6rem;
			}
		}
	}
</style>

