<script lang="ts">
	export let index: number | string;
</script>

<template>
	<div class="number">{index}</div>
</template>

<style lang='scss'>
  @import '../../styles/component/number.scss';
</style>
