<script lang="ts">
	import Bounty from 'bounty';

	type Options = {
		initialValue?: string | number;
		lineHeight?: number;
		letterSpacing?: number;
		animationDelay?: number;
		letterAnimationDelay?: number;
		duration?: number;
	};

	let klass = '';

	export let initialValue: string | number | undefined = '' as string | number;
	export let lineHeight: number | undefined = NaN as number;
	export let letterSpacing: number | undefined = NaN as number;
	export let animationDelay: number | undefined = NaN as number;
	export let letterAnimationDelay: number | undefined = NaN as number;
	export let duration: number = 5000;
	export let value: number | undefined = NaN as number;
	export { klass as class };

	let options: Options = {
		initialValue,
		lineHeight,
		letterSpacing,
		animationDelay,
		letterAnimationDelay,
		duration
	};

	const normalizeOptions = (obj: object) => {
		for (let k in obj) {
			if (obj.hasOwnProperty(k) && !obj[k]) {
				delete obj[k];
			}
		}
		return obj;
	};

	const bounty = (node: HTMLElement) => {
		options = normalizeOptions(options);
		Bounty({ el: node, value, ...options });
	};
</script>

<span use:bounty style:user-select="none" class={klass} />
