<script lang="ts">
	import { createEventDispatcher } from 'svelte';
	import { scale } from 'svelte/transition';
	import PhotoFrame from './PhotoFrame.svelte';

	const dispatch = createEventDispatcher();

	export let name: string;
	export let year: string = '';
	export let thumbnail: string = '';
	export let originalImage: string = '';
	export let width: number;
	export let height: number;

	const handleClick = () => {
		dispatch('click', { image: originalImage, name, year });
	};
</script>

<div class="photobox-wrapper" on:click={handleClick} in:scale={{ delay: 200, start: 0.35, duration: 600 }}>
	<div class="photobox">
		<PhotoFrame width={width} height={height} src={thumbnail} alt={name} />
		<span class="photobox__name title title--white title--second title--mlg">{name}</span>
		{#if year}
			<span class="photobox__year">{year}</span>
		{/if}
	</div>
</div>

<style lang="scss">
	.photobox {
		width: auto;
		position: relative;
		margin: 6rem 0 0 3rem;
		cursor: pointer;
		@include bp(tablet) {
			margin-left: 0;
		}
		&:hover {
			:global(.photoframe) {
				box-shadow: 0 3rem 3rem -1rem rgba(black, 1);
			}

			:global(.photoframe-image) {
				transform: scale(1.05) translate3d(0, 0, 0);
			}
		}

		&__name {
			margin-top: 4rem;
			display: block;
			transition: $transition;
		}

		&__year {
			color: #fff;
			font-size: 2.1rem;
			display: block;
			transition: $transition;
		}
	}
</style>
