<script lang="ts">
	export let src: string;
	export let alt: string;
	export let width: number;
	export let height: number;
	let w: number;
</script>

<picture
	class="photoframe"
	bind:clientWidth={w}
	style="background-image: url(/img/dummy_sergi_detay.jpg); --w:{w}; --height:{height}; --width:{width}; --ratio:{width /
		height}"
	><img class="photoframe-image" {src} {alt} loading="lazy" />
</picture>

<style lang="scss">
	.photoframe {
		--newHeight: calc((var(--width)/ var(--height)) / var(--w));
		width: 100%;
		padding: 0 !important;
		border: 32px solid rgba($color: #000000, $alpha: 0.01);
		border-image: url('/img/cerveve-dikey.png') 30 stretch;
		box-shadow: 0 3rem 3rem -2rem rgba(black, 0.8);
		transition: $transition;
		overflow: hidden;
		display: block;
		overflow: hidden;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center center;
		max-height: 80vh;
		// height: calc(var(--newHeight));
		@include bp(laptop) {
			border-width: 26px;
		}
		&-image {
			// height: auto;
			width: 100%;
			display: block;
			transition: 1s;

			aspect-ratio: var(--ratio);
			object-position: top;
			object-fit: cover;
		}
	}
</style>
