<script lang="ts">
	export let content: string;
</script>

<blockquote class="quote">
	{@html content}
</blockquote>

<style lang="scss">
	.quote {
		padding: 2rem;
		border: $s-border;
		background: $c-bg-light;
		font-size: 2rem;
	}
</style>
