<script lang="ts">
	const MIN_HEIGHT = 200;

	let visible = false;
	let expandable = false;
	let height = MIN_HEIGHT;
	let maxHeight = height;

	$: buttonText = visible ? 'Gizle' : 'Tamamını Gör';

	const toggle = (status: boolean) => {
		visible = status;
		maxHeight = !visible ? MIN_HEIGHT : height;
	};

	const readmore = (node: HTMLElement) => {
		height = node.offsetHeight;
		expandable = node.offsetHeight > MIN_HEIGHT;
	};
</script>

<div
	class="readmore"
	class:expandable
	class:expanded={expandable && visible}
	style="--rm-height: {maxHeight}"
	use:readmore
>
	<slot />
	{#if expandable}
		<button class="btn btn--sm btn--black readmore-button" on:click={() => toggle(!visible)}
			>{buttonText}</button
		>
	{/if}
</div>

<style lang="scss">
	.readmore {
		position: relative;

		&.expandable {
			overflow: hidden;
			transition: 0.3s;
			max-height: calc(calc(var(--rm-height) + 100) * 1px);
			padding-bottom: 15rem;
		}

		&.expandable:not(.expanded):after {
			position: absolute;
			z-index: 0;
			content: '';
			width: 100%;
			height: 35rem;
			bottom: 0;
			left: 0;
			background: linear-gradient(to top, $c-bg, rgba($c-bg, 0));
		}

		&-button {
			position: absolute;
			left: 0;
			bottom: 3rem;
			z-index: 1;
			height: 5rem;
			padding: 2rem 5rem;
			min-width: unset;
		}
	}
</style>
