<script lang="ts">
	// @ts-nocheck
	import ArticleCard from '$components/Cards/ArticleCard.svelte';
	import BiographyCard from '$components/Cards/BiographyCard.svelte';
	import Card from '$components/Cards/Card.svelte';
	import DictionaryCard from '$components/Cards/DictionaryCard.svelte';
	import DocumentCard from '$components/Cards/DocumentCard.svelte';
	import ExhibitCard from '$components/Cards/ExhibitCard.svelte';
	import GhostCard from '$components/Cards/GhostCard.svelte';
	import InfographicCard from '$components/Cards/InfographicCard.svelte';
	import LibraryCard from '$components/Cards/LibraryCard.svelte';
	import MapCard from '$components/Cards/MapCard.svelte';
	import VideoCard from '$components/Cards/VideoCard.svelte';
	import VirtualTourCard from '$components/Cards/VirtualTourCard.svelte';
	import type { SectionType } from '$lib/types';
	import { pageStore } from '$stores/page.store';
	import { searchStore } from '$stores/search.store';
	import type { SvelteComponent } from 'svelte';
	import NoResults from './NoResults.svelte';

	$: component = (el: SectionType) => {
		let comp: SvelteComponent;
		switch (el) {
			case 'bios':
				comp = BiographyCard;
				break;
			case 'exhibitions':
				comp = ExhibitCard;
				break;
			case 'articles':
				comp = ArticleCard;
				break;
			case 'dictionary_posts':
				comp = DictionaryCard;
				break;
			case 'documentaries':
				comp = VideoCard;
				break;
			case 'historical_documents':
				comp = DocumentCard;
				break;
			case 'maps':
				comp = MapCard;
				break;
			case 'library':
				comp = LibraryCard;
				break;
			case 'infographics':
				comp = InfographicCard;
				break;
			case 'virtualTours':
				comp = VirtualTourCard;
				break;
			case 'historicals':
				comp = DocumentCard;
				break;
			default:
				comp = Card;
		}
		return comp;
	};
</script>

{#if $searchStore.loading}
	<section class="list-grid {$pageStore.currentSection}">
		{#each Array(9) as a}
			<GhostCard />
		{/each}
	</section>
{:else if $searchStore.items.length > 0}
	<section
		class="list-grid {$pageStore.currentSection}"
		class:no-result={!$searchStore.items.length > 0}
	>
		{#each $searchStore.items as item, index}
			<svelte:component this={component($pageStore.currentSection)} {...item} {index} />
		{/each}
	</section>
{:else}
	<NoResults text="Aradığınız kriterlere uygun sonuç bulunamadı!" />
{/if}

<style lang="scss">
	@import '../../styles/component/list-grid.scss';
	.list-grid.no-result {
		display: block;
	}
</style>
