<script lang="ts">
	import { pageStore } from '$stores/page.store';
	export let isWhite = false; 
	$: accent = isWhite ? 'btn--white' : 'btn--beige btn--md'


</script>

<button
	class="headerbar-share btn btn--i {accent}"
	on:click={() => pageStore.setVisibleShareBox(true)}
	data-tooltip="Paylaş"

>
	<svg class="btn__icon icon icon-font">
		<use xlink:href="/icons.svg#icon-share" />
	</svg>
</button>
<style lang="scss">
	@import '../../styles/component/tooltip.scss';
	.headerbar-share{
		flex-shrink: 0;
	}
</style>
