<script lang="ts">
	import { page } from '$app/stores';
	import Modal from '$components/Common/Modal.svelte';
	import Socials from '$components/Global/Socials.svelte';
	import { textCopier } from '$lib/helpers';
	import { pageStore } from '$stores/page.store';
	import { shareStore } from '$stores/share.store';
	import { createEventDispatcher } from 'svelte';

	const copy = () => {
		textCopier($page.url.toString());
		pageStore.setVisibleCopyText(true);
		setTimeout(() => {
			pageStore.setVisibleCopyText(false);
		}, 3000);
	};

	const dispatch = createEventDispatcher();

	$: {
		if (!$pageStore.visibleShareBox) {
			dispatch('modal-close');
		}
	}
</script>

{#if $pageStore.visibleShareBox}
	<Modal>
		<div class="sharebox">
			<div class="sharebox__title">PAYLAŞ</div>
			<div class="sharebox-content">
				<Socials platforms={['facebook', 'twitter', 'linkedin']} />
				<div class="sharebox-copy">
					<input class="input" readonly value={$page.url} type="text" />
					<button
						class="btn btn--sm btn--i btn--beige icon-font"
						data-tooltip="Kopyala"
						on:click={copy}
					>
						<svg class="btn__icon icon-font">
							<use xlink:href="/icons.svg#icon-link" />
						</svg>
					</button>
				</div>
			</div>
		</div>
		<span class="copied" class:active={$pageStore.visibleCopyText}>Kopyalandı</span>
	</Modal>
{/if}

<style lang="scss">
	@import '../../styles/component/tooltip.scss';

	.sharebox {
		background: $c-bg;
		z-index: 15;
		transition: $transition;
		display: flex;
		flex-direction: column;
		width: 60rem;
		max-width: calc(100vw - 3.6rem);
		border: 1px solid $c-border;

		&__title {
			padding: 2rem 3rem;
			text-align: center;
			font-weight: 600;
			font-size: 2rem;
			color: $c-title;
			border-bottom: 1px solid $c-border;
		}

		:global(.social) {
			width: 100%;
			display: flex;
			justify-content: center;
			padding: 3rem;
			border-bottom: 1px solid $c-border;
		}

		//:global(.social__item) {
		//  height: 1em;
		//}

		&-copy {
			display: flex;
			align-items: center;
			padding: 2rem 2rem;

			.btn {
				flex-shrink: 0;
				margin-left: 1rem;
				width: 5rem;
				height: 5rem;
				font-size: 2rem;
			}
		}

		.input {
			height: 5rem;
			width: 100%;
			border: 0;
			background: rgba($color: #fff, $alpha: 0.3);
			padding: 0 2rem;
			color: $c-text;
			border-radius: 1.5rem;

			&:focus {
				outline: 0;
			}
		}
	}
	.copied {
		transition: $transition;
		background-color: $c-bg;
		padding: 1rem;
		border-radius: 1rem;
		color: $c-black;
		position: absolute;
		font-weight: 400;
		line-height: 1;
		left: 50%;
		transform: translateX(-50%) translateY(2rem);
		opacity: 0;
		&.active {
			transform: translateX(-50%) translateY(1rem);
			opacity: 1;
		}
	}
</style>
