<div class="slider-section-nav">
	<button class="prev btn btn--i btn--beige">
		<span class="btn__icon icon-font">
			<svg class="icon icon-font">
				<use xlink:href="/icons.svg#icon-arrow-left" />
			</svg>
		</span>
	</button>
	<button class="next btn btn--i btn--beige">
		<span class="btn__icon icon-font">
			<svg class="icon icon-font">
				<use xlink:href="/icons.svg#icon-arrow-right" />
			</svg>
		</span>
	</button>
</div>

<style type="scss">
	.slider-section-nav {
      flex-shrink: 0; 
      padding-left: 2rem;
		.btn:last-child {
			margin-left: 1rem;
		}

		.btn {
			width: 5.4rem;
			height: 5.4rem;

			&:global([disabled]) {
				opacity: 0.5;
				pointer-events: none;
				filter: grayscale(0.8);
			}

			&__icon {
				font-size: 2.2rem;
			}
		}
	}
</style>
