<script lang="ts">
	import { CountUp } from '$lib/utils/countUp';

	// import Odometer from './Odometer.svelte';
	import { fade } from 'svelte/transition';

	export let icon: string;
	export let count: string;
	export let content: string;
	export let delay = 0;

	const countup = (node: HTMLElement) => {
		const countUp = new CountUp(node, parseInt(count), {
			duration: 3,
			useGrouping: false,
		});
		setTimeout(() => {
			countUp.start();
		}, delay);
	};
</script>

<div class="count-item" in:fade={{ delay: 0, duration: 100 }}>
	<div class="count-item-head">
		<img class="count-item__img" src={icon} alt={content} />
		<span class="count-item__number" use:countup>{count}</span>
		<!-- <Odometer
			value={parseInt(count)}
			duration={3000}
			lineHeight={1}
			letterSpacing={-2}
			class="count-number"
		/> -->
		<span class="count-item__plus">+</span>
	</div>
	<p class="count-item__text text">{content}</p>
</div>

<style lang="scss">
	@import '../../styles/component/count-item.scss';

	:global(.count-number) {
		color: $c-title;
		font-size: 4.8rem;
		line-height: 1;
		font-family: $font-family-second;
		height: 1em;
		font-weight: 400;
		@include bp(tablet-small-under) {
			font-size: 3.6rem;
		}
	}
</style>
