<script lang="ts">
	import { createEventDispatcher } from 'svelte';

	export let active: boolean;
	export let name: string;

	const dispatch = createEventDispatcher();

	const handleOver = (el: MouseEvent) => {
		dispatch('mouseOver', { el });
	};

	const handleOut = (el: MouseEvent) => {
		dispatch('mouseOut', { el });
	};
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<button
	class="tab-item"
	class:active
	on:click
	on:mouseover|self={handleOver}
	on:mouseout|self={handleOut}
>
	{name}
</button>

<style lang="scss">
	.tab-item {
		padding: 0 1.25rem;
		height: 4.4rem;
		color: $c-text;
		font-size: 1.8rem;
		cursor: pointer;
		transition: $transition;
		font-weight: 500;
		line-height: 1.4em;
		text-align: center;
		border-radius: 3.2rem;
		display: flex;
		align-items: center;
		margin-right: 1rem;

		@include bp(laptop) {
			padding: 0 1rem;
			flex-shrink: unset;
		}
		@include bp(desktop) {
			flex-shrink: 0;
			position: relative;
			z-index: 1;
			@include bp(r-tablet) {
				padding: 0 0.5rem;
				font-size: 1.5rem;
			}
		}
		&:not(.active) {
			&:hover {
				color: $c-title;
			}
		}

		&.active {
			color: $c-title;
			background: $c-bg-light;
			border-color: $c-border;
		}
	}
</style>
