<script lang="ts">
	import Tab from './Tab.svelte';
	import { createEventDispatcher } from 'svelte';

	type TTab = {
		id: number;
		name: string;
	};

	const dispatch = createEventDispatcher();
	let tabbarEl: HTMLElement;
	let posX: number;
	let tabWidth: number;
	let tabHeight: number;

	export let activeIndex = 0;
	export let tabs: TTab[] = [];

	$: {
		if (tabbarEl) {
			positioner(tabbarEl.querySelectorAll('.tab-item')[activeIndex]);
		}
	}

	const positioner = (el: Element) => {
		if (!el) return;
		let rect = el.getBoundingClientRect();
		tabWidth = rect.width;
		tabHeight = rect.height;
		posX = (el as HTMLElement).offsetLeft;
	};

	const tabbar = (node: HTMLElement) => {
		positioner(node.querySelectorAll('.tab-item')[activeIndex]);
	};

	const handleMouseover = (e: CustomEvent) => {
		positioner(e.detail.el.target);
	};

	const handleMouseout = () => {
		positioner(tabbarEl.querySelectorAll('.tab-item')[activeIndex]);
	};

	export const handleClick = (i: number) => (activeIndex = i);

	const handleTabClick = (id: number, index: number) => {
		activeIndex = index;
		dispatch('tab-click', id);
	};
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<div class="tabbar" use:tabbar bind:this={tabbarEl} on:mouseout={handleMouseout}>
	{#each tabs as tab, i}
		<Tab
			on:click={() => handleTabClick(tab.id, i)}
			name={tab.name}
			active={activeIndex === i}
			on:clicked={() => handleClick(i)}
			on:mouseOver={handleMouseover}
		/>
	{/each}
	<div
		style="width: {tabWidth}px; height: {tabHeight}px; transform: translateX({posX}px)"
		class="mobilebar"
	/>
</div>

<style lang="scss">
	.tabbar {
		display: inline-flex;
		align-items: center;
		position: relative;
		&::after {
			content: '';
			display: block;
			width: 4rem;
			height: 1px;
			background-color: $c-bg;
			flex-shrink: 0;
		}
	}

	.mobilebar {
		position: absolute;
		background: transparentize($color: $c-bg-light, $amount: 0.25);
		transition: 0.2s;
		top: 0;
		left: 0;
		pointer-events: none;
		z-index: -1;
		border-radius: 24px;
	}
</style>
