<script lang="ts">
	export let number = 0;
	export let title: string;
	export let meaning: string;
</script>

<div class="workpiece">
	<div class="workpiece__title">
		{#if number > 0}
			<b>
				{number}.
			</b>
		{/if}
		<span>&nbsp;{title}</span>
	</div>
	{#if meaning}
	<span class="workpiece__text">{meaning}</span>
	{/if}
</div>

<style lang="scss">
	.workpiece {
		&__title {
			font-weight: 400;
			font-size: 2.6rem;
			color: $c-title;
			letter-spacing: 0.052rem;
			font-family: $font-family-second;
			margin-bottom: 0.5rem;
			b {
				font-weight: 500;
			}
		}

		&__text {
			font-size: 1.8rem;
			font-weight: 300;
			line-height: 1.5;
			display: block;
			color: $c-title;
		}
	}
</style>
