<script context="module" lang="ts">
	import { page } from '$app/stores';
	import ShareBox from '$components/Common/ShareBox.svelte';
	import ShareButton from '$components/Common/ShareButton.svelte';
	import type { ExhibitionResponse } from '$lib/response.type';
	import { urlify } from '$lib/utils';
	import { exhibitionStore } from '$stores/exhibition.store';
	import { pageStore } from '$stores/page.store';
	import { shareStore } from '$stores/share.store';
	import type { LoadInput, LoadOutput } from '@sveltejs/kit/types/internal';
	import { onMount } from 'svelte';

	export async function load({ fetch, params }: LoadInput): Promise<LoadOutput> {
		let { slug } = params;

		const request = await fetch(
			urlify({ section: 'artists', fields: 'title,meta_data', perPage: 10, page: 1, slug })
		);

		const response: ExhibitionResponse[] = await request.json();

		return {
			status: 200,
		};
	}
</script>

<script lang="ts">
	onMount(() => {
		setOriginalShareTexts();
		pageStore.setLoading(false);
		document.querySelector('html').classList.remove('scroll-disabled');
		document.querySelector('body').classList.remove('scroll-disabled');
	});

	const setOriginalShareTexts = () => {
		shareStore.setFacebook($page.url.toString());
		shareStore.setLinkedin($page.url.toString());
		shareStore.setTwitter($page.url.toString(), ' Dijital Hafiza Merkezi');
	};

	const handleShareboxClose = () => {
		setOriginalShareTexts();
	};
</script>

<main>
	<header>
		<h1 class="title title--page title--second title--md title--white">
			<a href="/sergiler" class="title__icon icon-font">
				<svg class="icon icon-font">
					<use xlink:href="/icons.svg#icon-arrow-left" />
				</svg>
			</a>
			{$exhibitionStore.detailHeader}
		</h1>
		<ShareButton />
	</header>
	<slot />
</main>
<ShareBox on:modal-close={handleShareboxClose} />

<style lang="scss">
	main {
		background: url('/img/bg4.jpg');
		background-size: cover;
		background-repeat: repeat;
		background-attachment: fixed;
		width: 100%;
		color: #fff;
		min-height: 100vh;
		overflow-y: auto;
		box-shadow: inset 0 0 250px 100px rgba(#1e1c1b, 1);
		@include bp(tablet) {
			padding-bottom: 8rem;
		}
		header {
			height: 20rem;
			padding: 5rem var(--page-padding-x);
			display: flex;
			justify-content: space-between;
			align-items: center;
			position: relative;
			@include bp(tablet) {
				padding: 2rem var(--page-padding-x);
				height: 14rem;
			}
		}
	}
</style>
