.tab-nav {
	&__btn {
		font-size: 3rem;
		margin-left: auto;
		display: block;
		color: $c-title;
		cursor: pointer;
		transition: $transition;
		height: 1em;
		padding: 0;
		@include bp(desktop) {
			position: absolute;
			right: var(--page-padding-x);
			z-index: 3;
			left: unset;
			margin-left: 0;
		}
		&:hover {
			color: $c-first;
		}
	}
}
