@include bp(r-tablet) {
	.headerbar.headerbar-sticky + .subpage .tab {
		top: calc(var(--header-height)) !important;
	}
}
.tab {
	position: sticky;
	top: 0;
	z-index: 2;
	background-color: $c-bg;
	transition: 0.3s;

	&-nav {
		width: 100%;
		border-bottom: 1px solid $c-border;
		height: calc(var(--selector-height));
		position: relative;
		@include bp(desktop) {
			&:not(.no-button) {
				padding-right: 9rem;
			}
		}
		
		@include bp(tablet) {
			border-top: 1px solid $c-border;
		}
		@include bp(mobile) {
			&:not(.no-button) {
				padding-right: 7rem;
			}
		}
		&.no-button {
			.tab-nav-content{
				&::after{
					width: var(--page-padding-x);
					right: 0;
				}
			}
		}
		&-content {
			display: flex;
			justify-content: flex-start;
			align-items: center;
			height: 100%;
			width: 100%;
			max-width: var(--max-page-width, unset);
			padding: 3.5rem var(--page-padding-x);
			&::-webkit-scrollbar {
				display: none; // Safari and Chrome
			}
			@include bp(desktop) {
				overflow-x: auto;
				overflow-y: hidden;
				max-width: calc(var(--max-page-width) - 8rem);
				&::before,
				&::after {
					content: "";
					left: 0;
					top: 0;
					background: linear-gradient(to right, $c-bg, rgba($c-bg, 0));
					width: var(--page-padding-x);
					height: calc(var(--selector-height) - 2px);
					position: absolute;
					z-index: 2;
					pointer-events: none;
				}
				&::after {
					left: unset;
					right: calc(var(--page-padding-x) * 2);
					transform: rotate(180deg);
					width: calc(var(--page-padding-x) * 3);
				}
			}
		}
	}
}
