<script context="module" lang="ts">
	import { page } from '$app/stores';
	import MapDetailCard from '$components/Cards/MapDetailCard.svelte';
	import Seo from '$components/Global/Seo.svelte';
	import type { IStaticMapResponse } from '$lib/response.type';
	import { getContent } from '$lib/services';
	import type { IStaticMapContent } from '$lib/types';
	import { headerStore } from '$stores/header.store';
	import { pageStore } from '$stores/page.store';
	import { shareStore } from '$stores/share.store';
	import { zoombox } from '$stores/zoombox.store';
	import type { LoadInput, LoadOutput } from '@sveltejs/kit';
	import { onDestroy, onMount } from 'svelte';

	export async function load({ params }: LoadInput): Promise<LoadOutput> {
		const { content } = await getContent<IStaticMapResponse>('maps', params.slug);

		const map: IStaticMapContent = {
			id: content.id,
			title: content.title.rendered,
			content: content.content.rendered,
			originalImage:
				content.meta_data.buyuk_gorsel?.url || content.meta_data.image_details?.full?.url || '',
			thumbnail:
				content.meta_data.kucuk_gorsel?.url || content.meta_data.image_details?.medium?.url || '',
			seo: {
				title: content.yoast_head_json.title
			}
		};
		return {
			props: {
				map
			}
		};
	}
</script>

<script lang="ts">
	import Zoombox from '$components/Global/Zoombox.svelte';

	export let map: IStaticMapContent;

	onMount(() => {
		headerStore.setTitle(map.title);
		headerStore.setBack(true);
		headerStore.setShare(true);
		headerStore.setSearch(false);

		pageStore.setBackUrl('/haritalar/sematik');

		zoombox.setImage(map.originalImage);

		shareStore.setTwitter($page.url.toString(), map.seo.title);
	});

	onDestroy(() => {
		headerStore.setShare(false);
		headerStore.setBack(false);
	});
</script>

<Seo title={map.seo.title} />

<div class="subpage map-detail">
	<section class="subpage-content ">
		<h2 class="title title--second title--lg">{@html map.title}</h2>
		<article class="content">
			{@html map.content}
		</article>
	</section>
	<aside class="subpage-aside">
		<MapDetailCard
			title="Tam Ekranda Görüntüle"
			image={map.thumbnail}
			original={map.originalImage}
			on:click={() => zoombox.toggle(true)}
		/>
	</aside>
</div>

<Zoombox />

<style lang="scss">
	@import '../../../styles/component/subpage/index.scss';
	@include bp(r-tablet) {
		.headerbar:not(.headerbar-sticky) + .subpage .subpage-aside{
			top: 50% !important;
			transform: translateY(-50%);
		}
		.headerbar.visible + .subpage .subpage-aside {
			top: calc(var(--page-padding-y) + var(--header-height))!important;
			transform: none;
		}
	}
	.map-detail {
		flex-direction: row;
		padding: var(--page-padding-y) var(--page-padding-x);
		max-width: var(--max-page-width, unset);
		align-items: flex-start;
		@include bp(tablet-small-under) {
			flex-direction: column-reverse;
			padding: 0;
		}
		:global(.card) {
			max-height: calc(100vh - var(--header-height) - 10rem);
		}
		:global(.card__img) {
			max-height: calc(100vh - var(--header-height) - 26rem);
		}

		:global(.meta ~ .meta) {
			margin-top: 4rem;
		}
		:global(.subpage-content) {
			padding-right: 13rem;
			@include bp(laptop) {
				padding-right: 4vw;
			}
		}
	}

	.subpage-aside {
		position: sticky;
		top: calc(var(--page-padding-y) + var(--header-height));
		height: auto;
		max-width: 56rem;
		width: 100%;
		flex-shrink: 0;
		transition: 0.3s;
		@include bp(laptop) {
			max-width: 30vw;
		}
		@include bp(desktop) {
			max-width: 28vw;
		}
		@include bp(tablet) {
			max-width: 50vw;
		}
		@include bp(tablet-small-under) {
			max-width: 100vw;
			width: 100vw;
			margin-bottom: 3rem;
			position: static;
		}

		:global(.card) {
			max-height: calc(100vh - var(--header-height) - 12rem);
			@include bp(mobile) {
				max-height: unset;
			}
		}

		:global(.swiper-pagination) {
			position: static;
			width: auto;
		}

		:global(.slider-section-nav-wrapper) {
			position: relative;
			padding: 2rem 0 0 0;
		}
	}

	.subpage {
		&-content {
			flex: 1 1 auto;
			margin-top: 0;
			@include bp(tablet-small-under) {
				padding: 0 var(--page-padding-x) var(--page-padding-y) var(--page-padding-x);
			}
			.title {
				line-height: 1.3;
				margin-bottom: 3rem;
			}
		}
	}
</style>
