<script context="module" lang="ts">
	import GhostLoader from '$components/Cards/GhostLoader.svelte';
	import MapCard from '$components/Cards/MapCard.svelte';
	import SearchResults from '$components/Common/SearchResults.svelte';
	import { headerStore } from '$stores/header.store';
	import { mapsStore } from '$stores/maps.store';
	import { pageStore } from '$stores/page.store';
	import { searchStore } from '$stores/search.store';
	import type { LoadOutput } from '@sveltejs/kit';
	import { onDestroy,onMount } from 'svelte';

	export async function load(): Promise<LoadOutput> {
		try {
			await mapsStore.setMaps('schematic');

			return {
				props: {
					hi: 'hello'
				}
			};
		} catch (error) {
			return {
				error: 'Haritalara erisilemiyor.'
			};
		}
	}
</script>

<script lang="ts">
	
	onMount(() => {
		headerStore.setTitle('Şematik Haritalar');
		headerStore.setBack(true);
		headerStore.setSearch(true);
		pageStore.setBackUrl('/haritalar');
	});

	onDestroy(() => {
		headerStore.setBack(false);
		searchStore.setLoaded(false);
	});

	const handleLoadMore = () => {
		mapsStore.setNextPage('schematic');
		mapsStore.setMaps('schematic');
	};
</script>

{#if $searchStore.visible && $searchStore.loaded}
	<SearchResults />
{:else}
	<section class="maps list-grid">
		{#each $mapsStore.maps.schematic.list as map}
			<MapCard type="schematic" {...map} />
		{/each}
	</section>
	{#if $mapsStore.maps.schematic.hasNext}
		<GhostLoader on:loading={handleLoadMore} />
	{/if}
	{#if $mapsStore.maps.schematic.hasNext}
		<!-- <LoadMore on:loading={handleLoadMore} /> -->
	{/if}
{/if}

<style lang="scss">
	@import '../../../styles/component/list-grid.scss';
</style>
