<script context="module" lang="ts">
	import { afterNavigate } from '$app/navigation';
	import Seo from '$components/Global/Seo.svelte';
	import Zoombox from '$components/Global/Zoombox.svelte';
	import { socializer } from '$lib/helpers';
	import { getTimelineContent } from '$lib/services/timeline.service';
	import type { ITimelineContent } from '$lib/types';
	import { headerStore } from '$stores/header.store';
	import { navigationStore } from '$stores/navigation.store';
	import { pageStore } from '$stores/page.store';
	import { timelineStore } from '$stores/timeline.store';
	import { zoombox } from '$stores/zoombox.store';
	import type { LoadInput, LoadOutput } from '@sveltejs/kit/types/internal';
	import { afterUpdate, onDestroy, onMount } from 'svelte';

	export async function load({ params, fetch, url }: LoadInput): Promise<LoadOutput> {

		const event = await getTimelineContent({ fetch, slug: params.slug });

		timelineStore.setCurrentEvent(event);

		socializer(url, event.seo.title);

		navigationStore.set('loaded');

		return {
			props: {
				event,
			},
		};
	}
</script>

<script lang="ts">
	export let event: ITimelineContent;

	let imageEl: HTMLImageElement;

	onMount(async () => {
		headerStore.setTitle(event.title);
		headerStore.setBack(true);
		headerStore.setShare(true);
		headerStore.setSearch(false);

		timelineStore.setInDetail(true);

		pageStore.setBackUrl('/zaman-tuneli');

		if (imageEl) {
			zoombox.setImage(imageEl.src);
		}
	});

	afterUpdate(() => {
		headerStore.setTitle(event.title);
	});

	onDestroy(() => {
		headerStore.setShare(false);
		headerStore.setBack(false);

		if ($timelineStore.activeIndex === -1) {
			timelineStore.setActiveIndex(0)
		}
	});

	const handleCardClick = () => {
		zoombox.setImage(event.fullImage);
		zoombox.toggle(true);
	};
</script>

<Seo {...event.seo} />

<div class="detail">
	<article class="detail-article content">
		<span class="detail__year">{event.dateUnknown ? event.year : event.date}</span>
		<h1 class="title title--xxl title--second" style="--length:{1 / event.title.length}">
			{@html event.title}
		</h1>
		<main class="detail-article-content">
			{@html event.content}
		</main>
	</article>
	{#if event.videoImage}
		<picture class="detail-picture video" style="background-image: url(/img/dummy_timeline.jpg);">
			<img src={event.fullImage} alt={event.title} bind:this={imageEl} />
			<button class="play" />
		</picture>
	{:else if event.fullImage}
		<picture class="detail-picture" style="background-image: url(/img/dummy_timeline.jpg);">
			<img src={event.fullImage} alt={event.title} bind:this={imageEl} on:click={handleCardClick} />
			<button class="btn btn--i btn--beige btn--sm" on:click={handleCardClick}>
				<span class="btn__icon icon-font">
					<svg class="icon icon-font">
						<use xlink:href="/icons.svg#icon-expand" />
					</svg>
				</span>
			</button>
		</picture>
	{:else}
		<picture class="detail-picture">
			<img class="fit-contain" src="/img/dummy_timeline.jpg" alt={event.title} />
		</picture>
	{/if}
</div>
<Zoombox />

<style lang="scss">
	@import '../../styles/component/play.scss';

	.detail {
		display: flex;
		width: 100%;
		height: auto;
		padding: var(--page-padding-y) 0;
		max-width: calc(var(--max-page-width) - 13rem);
		margin-left: 5rem;
		padding-left: var(--timeline-width);
		@include bp(desktop-xl) {
			max-width: calc(100vw - var(--sidebar-width) - 5rem - var(--page-padding-x));
		}
		@include bp(desktop-m) {
			max-width: calc(100vw - var(--sidebar-width) - 5rem - var(--page-padding-x));
		}
		@include bp(laptop) {
			margin-left: 2rem;
			max-width: calc(100vw - var(--sidebar-width) - 2rem - var(--page-padding-x));
		}

		@include bp(desktop) {
			display: block;
			max-width: calc(100vw - var(--sidebar-width) - 6rem);
		}
		@include bp(tablet) {
			display: block;
			max-width: calc(100vw - 6rem);
		}
		@include bp(tablet-small-under) {
			display: flex;
			flex-direction: column-reverse;
			max-width: unset;
			width: 100vw;
			margin-left: 0;
			padding-top: 0;
			padding-left: 0;
		}
		.title {
			margin-bottom: 3rem;
			// Clamp fault
			font-size: calc(var(--font-size-title--lg) * 0.8);
			font-size: clamp(
				var(--font-size-title--lg) * 0.8,
				calc(var(--font-size-title--xl) * var(--length) * 80),
				var(--font-size-title--xl)
			);
			@include bp(laptop) {
				font-size: calc(var(--font-size-title--lg) * 1.2);
			}
			@include bp(mobile) {
				font-size: calc(var(--font-size-title--lg) * 1);
				margin-bottom: 2rem;
			}
		}

		&__year {
			color: $c-red;
			display: block;
			margin-bottom: 1rem;
		}

		// &-content {
		// 	max-width: var(--max-page-width, unset);
		// }

		&-article {
			flex: 0 0 auto;
			max-width: 55%;
			min-width: 55%;
			padding-right: 9rem;
			@include bp(desktop-m) {
				padding-right: 5rem;
				// flex: 0 0 calc(60% - 5rem);
			}
			@include bp(laptop) {
				// flex: 0 0 calc(55% - 5rem);
			}
			@include bp(desktop) {
				// flex: 0 0 100%;
				max-width: 100%;
			}
			@include bp(tablet-small-under) {
				padding: 0 var(--page-padding-x);
			}
		}

		&-picture {
			flex: 0 0 auto;
			max-width: 45%;
			position: sticky;
			height: calc(100vh - 15rem - var(--header-height));
			top: calc(5rem + var(--header-height));
			width: 100%;
			background-color: #d1cac2;
			overflow: hidden;
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center center;
			@include bp(desktop-xl) {
				max-width: 45%;
			}
			@include bp(desktop-m) {
				max-width: 45%;
			}
			@include bp(desktop) {
				width: 100%;
				height: 60rem;
				position: relative;
				top: unset;
				margin-top: 5rem;
				display: block;
				max-width: calc(var(--max-page-width) - var(--timeline-width) - var(--sidebar-width));
			}
			@include bp(tablet) {
				margin-top: 4rem;
				max-width: calc(100vw - var(--timeline-width) - 5rem);
			}
			@include bp(tablet-small-under) {
				margin-top: 0;
				margin-bottom: 4rem;
				max-width: unset;
			}
			@include bp(mobile) {
				width: 100vw;
				height: auto;
			}
			&.video {
				cursor: pointer;
				&:hover {
					.play {
						background-color: #fff;
						box-shadow: 0 4px 10px -3px rgba($color: black, $alpha: 0.3);
						&::after {
							background-color: $c-red;
							transform: translate(-50%, -50%) scale(1.5);
						}
					}
				}
			}
			.btn {
				position: absolute;
				top: 3rem;
				right: 3rem;
			}
			& img {
				cursor: pointer;
				width: 100%;
				max-width: 100%;
				height: 100%;
				object-fit: cover;
				// object-fit: contain;
				// height: auto;
				@include bp(mobile) {
					object-fit: contain;
					height: auto;
				}
			}
		}
	}
	.fit-contain {
		object-fit: contain !important;
	}
</style>
