<script context="module" lang="ts">
	import { page } from '$app/stores';
	import Timeline from '$components/Global/Timeline.svelte';
	import { getTimelineItems } from '$lib/services/timeline.service';
	import { pageStore } from '$stores/page.store';
	import { timelineStore } from '$stores/timeline.store';
	import type { LoadInput, LoadOutput } from '@sveltejs/kit/types/internal';
	import { onMount, tick } from 'svelte';
	import { get } from 'svelte/store';

	export async function load({ url }: LoadInput): Promise<LoadOutput> {
		const { events, timeline, items, activeIndex } = get(timelineStore);

		if (items.length > 0) {
			return {
				status: 200,
			};
		}

		try {
			const { next, items, page } = await getTimelineItems(1);

			timelineStore.setItems(items);
			timelineStore.setPage(1);
			timelineStore.setNext(next);
			timelineStore.setLoading(false);

			return {
				status: 200,
			};
		} catch (error) {
			return {
				error: `Hata oldu: \n${error}`,
			};
		}
	}
</script>

<script lang="ts">
	onMount(async () => {
		await tick();
		pageStore.setCurrentSection('timeline');
	});
</script>

<div class="timeline-page" class:index={$page.url.pathname.split('/').length === 2}>
	<Timeline />
	<slot />
</div>

<style lang="scss">
	.timeline-page {
		display: flex;
		max-width: var(--max-page-width);
		@include bp(r-desktop-xl) {
			padding: 0 var(--page-padding-x);
		}
		@include bp(tablet) {
		}
		&:not(.index) {
			:global(.timeline) {
				position: fixed;
				top: var(--header-height);
				@include bp(tablet) {
					top: calc(var(--header-height) + var(--selector-height) * 2);
					overflow: hidden;
				}
			}
		}
		@include bp(tablet-small-under) {
			position: relative;
			display: block;
			max-width: 100vw;
			&.index {
				overflow: hidden;
				max-height: calc(100vh - var(--header-height) - var(--selector-height) * 2 - 5rem);
			}
			&:not(.index) {
				:global(.timeline) {
					display: none;
				}
			}
		}
	}
</style>
