<script context="module" lang="ts">
	export async function load() {
		const content = await getSeoData('timeline');
		seoStore.setSeoContent('timeline', content);

		return {
			status: 200,
		};
	}
</script>

<script lang="ts">
	import TimelineCard from '$components/Cards/TimelineCard.svelte';
	import LoadMore from '$components/Common/LoadMore.svelte';
	import Seo from '$components/Global/Seo.svelte';
	import { getSeoData } from '$lib/services/seo.service';
	import { getTimelineItems } from '$lib/services/timeline.service';
	import { headerStore } from '$stores/header.store';
	import { seoStore } from '$stores/seo.store';
	import { timelineStore } from '$stores/timeline.store';
	import '@splidejs/splide/dist/css/splide.min.css';
	import { Splide, SplideSlide } from '@splidejs/svelte-splide';
	import type { EventDetail, MoveEventDetail } from '@splidejs/svelte-splide/types';
	import { onDestroy, onMount } from 'svelte';

	let eventsSlider: Splide;
	let targetIndex = $timelineStore.activeIndex;

	onMount(() => {
		headerStore.setTitle('Zaman Tüneli');
		headerStore.setIcon('icon_zaman_tuneli');
		headerStore.setSearch(false);

		timelineStore.setInDetail(false);

		timelineStore.setMounted(true);
	});

	onDestroy(() => {
		timelineStore.setMounted(false);
	});

	// const handleLoadMore = async () => {
	// 	let page = $timelineStore.page + 1;
	// 	timelineStore.setLoading(true);
	// 	const { items, next } = await getTimelineItems(page);
	// 	timelineStore.setPage(page);
	// 	timelineStore.setItemsMore(items);
	// 	timelineStore.setNext(next);
	// 	timelineStore.setLoading(false);
	// };

	const handleMoved = (e: CustomEvent<MoveEventDetail>) => {
		eventsSlider.go($timelineStore.activeIndex);
		timelineStore.setActiveIndex(e.detail.index);
	};

	const handleDragged = (e: CustomEvent<EventDetail>) => {
		targetIndex = e.detail.splide.index;
		timelineStore.setActiveIndex(e.detail.splide.index);
	};

	$: {
		if (eventsSlider) {
			setTimeout(() => {
				eventsSlider.go($timelineStore.activeIndex);
			}, 10);
		}
	}
</script>

<Seo {...$seoStore.timeline} />

<div class="listpage" class:first={$timelineStore.activeIndex === 0}>
	<Splide
		bind:this={eventsSlider}
		on:move={handleMoved}
		on:scrolled={handleDragged}
		id="TimelineEventsSlider"
		options={{
			wheel: true,
			arrows: false,
			pagination: false,
			waitForTransition: true,
			drag: 'free',
			height: '50vh',
			easing: 'linear',
			speed: 200,
			focus: 'center',
			breakpoints: {
				320: {
					direction: 'ltr',
					perPage: 1,
					gap: '-4rem',
					padding: '2rem',
					autoHeight: false,
					autoWidth: false,
					focus: targetIndex,
				},
				429: {
					direction: 'ltr',
					perPage: 1,
					gap: '-4rem',
					padding: '2rem',
					autoHeight: false,
					autoWidth: false,
					focus: targetIndex,
				},
				480: {
					direction: 'ltr',
					perPage: 1,
					gap: '-4rem',
					padding: '2rem',
					autoHeight: false,
					autoWidth: false,
					focus: targetIndex,
				},
				520: {
					direction: 'ltr',
					perPage: 1,
					gap: '-4rem',
					padding: '2rem',
					autoHeight: false,
					autoWidth: false,
					focus: targetIndex,
				},
				767: {
					direction: 'ltr',
					perPage: 1,
					gap: '-4rem',
					padding: '2rem',
					autoHeight: false,
					autoWidth: false,
					focus: targetIndex,
				},
				768: {
					direction: 'ttb',
					focus: 'center',
					gap: '5rem',
					padding: '0',
					autoHeight: true,
				},
				2560: {
					direction: 'ttb',
					focus: 'center',
					gap: '5rem',
					padding: '0',
					autoHeight: true,
				},
			},
		}}
	>
		{#each $timelineStore.items as event, index}
			<SplideSlide>
				<TimelineCard {...event} active={index === $timelineStore.activeIndex} />
			</SplideSlide>
		{/each}
		{#if $timelineStore.hasNext}
			<SplideSlide>
				<LoadMore />
			</SplideSlide>
		{/if}
	</Splide>
</div>

<style lang="scss">
	.listpage {
		&.first {
			padding-top: 7rem;
			@include bp(tablet-small-under) {
				padding-top: var(--page-padding-y);
			}
		}
		:global(.loading) {
			transform: translateY(8rem);
		}
		@include bp(tablet-small-under) {
			// padding:  var(--page-padding-x);
			padding-top: var(--page-padding-y);
			padding-bottom: var(--page-padding-y);
		}
	}
	:global(#TimelineEventsSlider) {
		height: calc(100vh - var(--header-height));
		cursor: grab;

		// :global(.swiper-slide:not(.swiper-slide-active)) {
		// 	pointer-events: none;
		// 	//TODO: Active olmayan elemanın tıklanabilirliği kaldırıldı!
		// }
		@include bp(tablet-small-under) {
			overflow-x: visible;
		}
	}

	:global(#TimelineEventsSlider .splide__track) {
		height: 100% !important;
		@include bp(tablet-small-under) {
			overflow-x: visible;
		}
	}
	:global(#TimelineEventsSlider .splide__list) {
		@include bp(tablet-small-under) {
			padding-left: var(--page-padding-x) !important;
		}
	}
</style>
