<script context="module" lang="ts">
	import { page } from '$app/stores';
	import Loading from '$components/Common/Loading.svelte';
	import ShareBox from '$components/Common/ShareBox.svelte';
	import ShareButton from '$components/Common/ShareButton.svelte';
	import type { ExhibitionResponse } from '$lib/response.type';
	import { urlify } from '$lib/utils';
	import { exhibitionStore } from '$stores/exhibition.store';
	import { pageStore } from '$stores/page.store';
	import { shareStore } from '$stores/share.store';
	import { worksStore } from '$stores/works.store';
	import type { LoadInput, LoadOutput } from '@sveltejs/kit/types/internal';
	import { onDestroy, onMount } from 'svelte';
	import { fade } from 'svelte/transition';

	export async function load({ fetch, params }: LoadInput): Promise<LoadOutput> {
		let { slug } = params;

		const request = await fetch(
			urlify({ section: 'exhibitions', fields: 'title,meta_data', perPage: 10, page: 1, slug })
		);

		const response: ExhibitionResponse[] = await request.json();

		const title = response[0].title.rendered;

		worksStore.setList(response[0]);

		return {
			props: {
				title,
			},
		};
	}
</script>

<script lang="ts">
	export let title: string;

	onMount(() => {
		setOriginalShareTexts();
		pageStore.setLoading(false);
		document.querySelector('html').classList.remove('scroll-disabled');
		document.querySelector('body').classList.remove('scroll-disabled');
	});

	onDestroy(() => {
		pageStore.setLoading(true);
	});

	const setOriginalShareTexts = () => {
		shareStore.setFacebook($page.url.toString());
		shareStore.setLinkedin($page.url.toString());
		shareStore.setTwitter($page.url.toString(), title);
	};

	const handleShareboxClose = () => {
		setOriginalShareTexts();
	};

	const handleNavigationStart = () => {
		if (Object.keys($exhibitionStore.items).length === 0) pageStore.setLoading(true);
	};

	const handleNavigationEnd = () => {
		pageStore.setLoading(false);
	};
</script>

<svelte:window
	on:sveltekit:navigation-start={handleNavigationStart}
	on:sveltekit:navigation-end={handleNavigationEnd}
/>
{#if $pageStore.isLoading}
	<Loading />
{:else}
	<main in:fade={{ duration: 100, delay: 300 }}>
		<header>
			<h1 class="title title--page title--second title--md title--white">
				<a href="/sergiler" class="title__icon icon-font">
					<svg class="icon icon-font">
						<use xlink:href="/icons.svg#icon-arrow-left" />
					</svg>
				</a>
				{$exhibitionStore.detailHeader}
			</h1>
			<ShareButton isWhite={false} />
		</header>
		<slot />
		<ShareBox on:modal-close={handleShareboxClose} />
	</main>
{/if}

<style lang="scss">
	main {
		background: url('/img/bg4.jpg');
		background-size: cover;
		background-repeat: repeat;
		background-attachment: fixed;
		background-color: #1e1c1b;
		width: 100%;
		color: #fff;
		min-height: 100vh;
		overflow-y: auto;
		box-shadow: inset 0 0 250px 100px rgba(#1e1c1b, 1);
		@include bp(tablet) {
			padding-bottom: 8rem;
		}
		header {
			height: 20rem;
			padding: 5rem var(--page-padding-x);
			display: flex;
			justify-content: space-between;
			align-items: center;
			position: relative;
			@include bp(tablet) {
				padding: 2rem var(--page-padding-x);
				height: 14rem;
			}
		}
	}
</style>
