<script context="module" lang="ts">
	import Meta from '$components/Common/Meta.svelte';
	import NoResults from '$components/Common/NoResults.svelte';
	import Photobox from '$components/Common/Photobox.svelte';
	import PhotoFrame from '$components/Common/PhotoFrame.svelte';
	import ShareButton from '$components/Common/ShareButton.svelte';
	import Seo from '$components/Global/Seo.svelte';
	import type { IExhibitionResponse } from '$lib/response.type';
	import { getContent } from '$lib/services';
	import type { IArtwork, ISeo } from '$lib/types';
	import { exhibitionStore } from '$stores/exhibition.store';
	import type { LoadInput, LoadOutput } from '@sveltejs/kit/types/internal';
	import { fade } from 'svelte/transition';

	export async function load({ params }: LoadInput): Promise<LoadOutput> {
		try {
			const { content } = await getContent<IExhibitionResponse>('exhibitions', params.slug);

			exhibitionStore.setDetailHeader(content.title.rendered);

			const seo = {
				title: content.yoast_head_json?.title,
				description: content.yoast_head_json.og_description,
				image: content.yoast_head_json.og_image?.[0]?.url,
				type: content.yoast_head_json.og_type,
				ldJson: JSON.stringify(content.yoast_head_json.schema),
			};

			if (typeof content.meta_data.secili_eserler === 'string') {
				return {
					props: {
						seo,
						artworks: [],
					},
				};
			}

			const artworks: IArtwork[] = content.meta_data.secili_eserler?.map((c) => {
				return {
					id: c.ID,
					name: c.meta_data?.eser_sahibi?.[0]?.post_title,
					year: c.meta_data?.yapim_yili,
					language: c.meta_data?.dil,
					publisher: c.meta_data?.yayinci,
					thumbnail: c.meta_data?.image_details?.full.url || '',
					originalImage: c.meta_data?.image_details?.full.url || '',
					width: c.meta_data?.image_details?.full.width,
					height: c.meta_data?.image_details?.full.height,
				};
			});

			return {
				props: {
					seo,
					artworks,
				},
			};
		} catch (error) {
			return {
				error: `Hata oldu. \n ${error}`,
			};
		}
	}
</script>

<script lang="ts">
	export let artworks: IArtwork[];
	export let seo: ISeo;

	let modalVisible = false;
	let currentArtwork: IArtwork;

	const showModal = (status: boolean) => (modalVisible = status);

	const handleKeydown = (e: KeyboardEvent) => {
		if (e.key === 'Escape' && modalVisible) {
			showModal(false);
		}
	};

	const selectedArtwork = (id: number) => {
		currentArtwork = artworks.find((a) => a.id === id);
		showModal(true);
	};
</script>

<Seo {...seo} />

<svelte:window on:keydown={handleKeydown} />
<div>
	{#if artworks.length}
		<div class="container grid" in:fade={{ delay: 400, duration: 400 }}>
			{#each artworks as artwork}
				<Photobox
					on:click={() => selectedArtwork(artwork.id)}
					originalImage={artwork.originalImage}
					thumbnail={artwork.thumbnail}
					name={artwork.name}
					year={artwork.year}
					height={artwork.height}
					width={artwork.width}
				/>
			{/each}
		</div>
	{:else}
		<div class="container">
			<NoResults text="Bu sergide henüz eser yok!" isWhite />
		</div>
	{/if}
	{#if modalVisible}
		<div id={currentArtwork.id.toString()} class="modal" transition:fade>
			<div class="modal-overlay" on:click={() => showModal(false)} />
			<div class="modal-content">
				<PhotoFrame
					width={currentArtwork.width}
					height={currentArtwork.height}
					src={currentArtwork.originalImage}
					alt={currentArtwork.name}
				/>
				<aside class="modal-content-info">
					<span class="modal__name title title--white title--second title--xxl">
						{currentArtwork.name}
					</span>
					{#if currentArtwork.year}
						<span class="modal__year">{currentArtwork.year}</span>
					{/if}
					{#if currentArtwork.language || currentArtwork.publisher}
						<div class="modal-content-info-meta">
							{#if currentArtwork.language}
								<Meta title="Dil" text={currentArtwork.language} />
							{/if}
							{#if currentArtwork.publisher}
								<Meta title="Publisher" text={currentArtwork.publisher} />
							{/if}
						</div>
					{/if}
				</aside>
			</div>
			<button class="modal-close btn btn--i btn--beige btn--md" on:click={() => showModal(false)}>
				<svg class="btn__icon icon-font">
					<use xlink:href="/icons.svg#icon-close" />
				</svg>
			</button>
			<ShareButton isWhite={false} />
		</div>
	{/if}
</div>

<style lang="scss">
	$gutter: 8rem;
	$gutter-top: $gutter * 3;
	$gutter-bottom: $gutter * 2;
	$gutter-left: $gutter * 1;
	$gutter-right: $gutter * 1;

	$gutter-tablet: 4rem;
	$gutter-top-tablet: $gutter-tablet;
	$gutter-bottom-tablet: $gutter-tablet;
	$gutter-left-tablet: $gutter-tablet * 2;
	$gutter-right-tablet: $gutter-tablet * 2;

	.modal {
		display: flex;
		position: fixed;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		background-color: rgba($color: #000000, $alpha: 0.9);
		color: #fff;
		@include bp(tablet) {
			justify-content: center;
			align-items: center;
		}
		@include bp(mobile) {
			justify-content: center;
			align-items: flex-start;
		}

		&-overlay {
			position: fixed;
			z-index: 990;
			width: 100%;
			height: 100%;
		}
		&-close {
			flex-shrink: 0;
			position: absolute;
			left: var(--page-padding-x);
			top: 6.6rem;
			pointer-events: all;
			z-index: 1000;
			@include bp(tablet) {
				top: 4.4rem;
			}
		}
		&-content {
			position: relative;
			z-index: 1000;
			color: #fff;
			display: flex;
			align-items: center;
			padding: 0 14rem;
			margin-top: auto;
			margin-bottom: auto;
			width: auto;
			margin-left: auto;
			margin-right: auto;
			pointer-events: none;
			@include bp(tablet) {
				display: block;
			}
			@include bp(mobile) {
				padding: calc(var(--page-padding-x) * 1.5);
				padding-top: 15rem;
				max-height: calc(100vh - 16rem);
				overflow-y: auto;
				overflow-x: hidden;
				pointer-events: all;
				padding-bottom: 10rem;
			}
			&-info {
				margin-left: 9rem;
				min-width: 30rem;
				pointer-events: all;

				@include bp(tablet) {
					margin-left: 0;
					margin-top: 5rem;
				}
				&-meta {
					padding-top: 6rem;
					border-top: 1px solid rgba($color: #fff, $alpha: 0.1);
					margin-top: 6rem;
					max-width: 60rem;
					line-height: 1.6rem;
					@include bp(tablet) {
						padding-top: 4rem;
						margin-top: 4rem;
					}
				}
			}
		}
		&__year {
			font-size: 2.5rem;
			display: block;
			margin-top: 2rem;
		}
		:global(.headerbar-share) {
			position: absolute;
			top: 6.6rem;
			right: var(--page-padding-x);
			pointer-events: all;
			z-index: 1000;
			@include bp(tablet) {
				top: 4.4rem;
			}
		}
		:global(.sharebox) {
			z-index: 1001;
		}
		:global(.photoframe) {
			width: auto !important;
			@include bp(tablet) {
				max-width: calc(80vw - 14rem);
				max-height: calc(100vh - 60rem);
			}
			@include bp(mobile) {
				max-height: unset;
				max-width: calc(100vw - var(--page-padding-x) * 1.5);
				width: 100% !important;
			}
		}
		:global(.photoframe img) {
			max-height: calc(100vh - 32rem);
			max-width: calc(50vw - 14rem);
			object-fit: contain;
			width: auto;
			object-fit: contain;
			@include bp(mobile) {
				max-width: unset;
				max-height: unset;
				width: 100%;
			}
		}
		:global(.meta:first-child) {
			margin-bottom: 2rem;
		}
		:global(.meta__title) {
			color: #fff;
		}
		:global(.meta__text) {
			color: #fff;
			opacity: 0.5;
		}
	}

	.container {
		max-width: 140rem;
		width: 100%;
		margin: 0 auto;
		padding-bottom: 10rem;
	}

	.grid {
		width: 100%;
		margin-top: -10rem;

		@include bp(tablet) {
			margin-top: -7rem;
		}
		@include bp(mobile) {
			padding: 4rem var(--page-padding-x);
		}

		:global(.photobox-wrapper) {
			float: left;
			//max-width: 50%;
			width: 50%;
			padding: $gutter * 0.5;
			@include bp(tablet) {
				padding: var(--page-padding-x);
			}
			@include bp(mobile) {
				width: 100%;
				padding: 0 !important;
			}
			&:first-child {
				padding-top: $gutter-top;
				@include bp(tablet) {
					padding-top: 12rem;
				}
			}
			// &:nth-child(3n + 1) {
			// 	padding-top: $gutter-top;
			// 	@include bp(tablet) {
			// 		padding-top: 12rem;
			// 	}
			// }

			&:nth-child(3n + 3) {
				//padding-left: $gutter-left;
			}

			&:nth-child(3n + 4) {
				padding-right: $gutter-right;
				margin-top: -7rem;
				/* 				padding-top: 0;
 */
				@include bp(tablet) {
					margin-top: 0;
				}
			}

			&:nth-child(4n + 5) {
				padding-bottom: $gutter-bottom;
			}
		}
		:global(.no-results) {
			color: rgba($color: #fff, $alpha: 0.6);
		}
	}
</style>
