/* Write your global styles here, in SCSS syntax. Variables and mixins from the src/variables.scss file are available here without importing */
// *,
// *::after,
// *::before {
//   box-sizing: border-box;
// }

// html {
//   font-size: 10px;
// }

// body {
//   min-height: 100vh;
// }

// body, p, h1, h2, h3, h4, h5, h6 {
//   margin: 0;
// }

// a {
//   text-decoration: none;
//   transition: 0.15s;
// }

// button{
//   &:focus{
//     outline: 0;
//   }
// }