<script lang="ts">
	export let icon: string;
	export let title: string;
	export let text: string;
	export let link: string;
	export let linkText: string;
	export let disabled: boolean;
</script>

<a class="mapbox" href={link} class:disabled>
	<img class="mapbox__icon" src={icon} alt={title} />
	<h4 class="title title--md text-center">{title}</h4>
	<p class="text text-center">{text}</p>
	<div class="btn btn--black btn--md">
		<div class="btn__text">{linkText}</div>
	</div>
</a>

<style lang="scss">
	@import '../../styles/component/mapbox.scss';
</style>
