.card {
  &__img {
    height: auto;
    width: auto;
    max-width: 100%;
    object-fit: cover;
    display: block;
    margin-left: auto;
    margin-right: auto;
    //box-shadow: 0 -22px 15px -15px rgba($c-black,.2), 0 20px 15px -15px rgba($c-black,.2);
    &-bg {
      overflow: hidden;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
      width: 100%;
      height: auto;
      margin: 0 auto;
    }
  }
}