.card {
  display: block;
  border: 1px solid $c-border;
  padding: 3rem;
  transition: $transition;
  // max-width: 34rem;
  text-align: center;
  background-color: $c-bg-light;
  position: relative;

  @include bp(desktop) {
    max-width: 39rem;
    margin-left: auto;
    margin-right: auto;
    min-width: 37rem;
  }
  @include bp(tablet-small-under) {
    min-width: 43vw;
    padding: 2.4rem;
  }
  @include bp(mobile) {
    min-width: 37rem;
  }
  @include bp(mobile-l-small) {
    min-width: 100%;
  }
  &::after {
    content: "";
    height: 1.5rem;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    background: transparent;
  }

  &:hover {
    box-shadow: 0 45px 30px -25px rgba($c-black, 0.15);
    transform: translateY(-2rem);
    background: rgb(252, 249, 243);
    .card__title {
      color: $c-red;
    }
    &::after {
      bottom: -1.5rem;
    }
  }
  &__title {
    font-size: 2.2rem;
    font-family: $font-family-second;
    margin-top: 2.6rem;
    letter-spacing: -0.022rem;
    font-weight: 400;
    color: $c-title;
    padding: 0 3rem;
    line-height: 1.4;
    transition: $transition;
    margin-bottom: 0.5rem;
    max-width: 28rem;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    @include bp(laptop) {
      font-size: 2.6rem;
    }
    @include bp(tablet) {
      font-size: 2.4rem;
    }
  }
}
