.card-video {
    &:hover {
        .play {
            background-color: #fff;
            box-shadow: 0 4px 10px -3px rgba($color: black, $alpha: 0.3);
            &::after {
                background-color: $c-red;
                transform: translate(-50%, -50%) scale(1.5);
            }
        }
    }
}
