.card {
  &__subtitle {
    font-weight: 600;
    font-size: 1.8rem;
    margin-top: 1.5rem;
    color: $c-title;
    display: block;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;  
  }
}