<script lang="ts">
	import { goto } from '$app/navigation';
	import { page } from '$app/stores';
	import Tabbar from '$components/Common/Tabbar.svelte';
	import type { ITabCustomEvent } from '$lib/types';
	import { dictionaryStore } from '$stores/dictionary.store';
	import { searchStore } from '$stores/search.store';
	import { fade } from 'svelte/transition';

	const setTab = async (e: ITabCustomEvent) => {
		const id = e.detail;

		if (id === 0) {
			if ($page.url.pathname !== '/kavramlar-sozlugu') {
				goto('/kavramlar-sozlugu');
			}
			dictionaryStore.setSearchActive(false);
			searchStore.setTerm('');

			return dictionaryStore.setLetterSelected(false);
		} else {
			let letter = $dictionaryStore.categories.find((e) => e.id === id).slug;
			dictionaryStore.setActiveCategory(id);
			goto('/kavramlar-sozlugu/harf/' + letter);
		}
	};
</script>

<nav class="dictionary_nav">
	{#if $dictionaryStore.lettersVisible}
		<div class="dictionary_nav-content">
			<Tabbar tabs={$dictionaryStore.categories} on:tab-click={setTab} />
		</div>
	{/if}
</nav>

<style lang="scss">
	@import '../../styles/component/dictionary-nav.scss';

	.dictionary_nav {
		position: sticky;
		top: 0;
		background: $c-bg;
		z-index: 10;
		transition: 0.3s;
		&::-webkit-scrollbar {
			display: none; // Safari and Chrome
		}
		@include bp(laptop) {
			overflow-x: auto;
			overflow-y: hidden;
			max-width: var(--max-page-width);
			position: relative;

			&::before,
			&::after {
				content: '';
				left: 0;
				top: 1px;
				background: linear-gradient(to right, $c-bg, rgba($c-bg, 0));
				width: var(--page-padding-x);
				height: calc(var(--selector-height) - 2px);
				position: absolute;
				z-index: 2;
				pointer-events: none;
			}
			&::after {
				left: unset;
				right: 0;
				transform: rotate(180deg);
				width: calc(var(--page-padding-x) * 1.5);
			}
		}
		&-content {
			max-width: var(--max-page-width, unset);
			border-top: 1px solid $c-border;
			border-bottom: 1px solid $c-border;
			&::-webkit-scrollbar {
				display: none; // Safari and Chrome
			}
			:global(.tabbar){
				width: 100%;
			}
			:global(.tab-item) {
				margin-right: 0;
				padding: 0 1.65rem;
				width: 100%;
				display: flex;
				justify-content: center;
				border-radius: 0;
				&::after{
					content: '';
					width: 100%;
					height: 100%;
					position:absolute;
					left: 0;
					top: 0;
					z-index: -1;
				}
				@include bp(desktop-l) {
					padding: 0 1.4rem;
				}
				@include bp(desktop-m) {
					padding: 0 1.6rem;
				}
				@include bp(laptop) {
					padding: 0 1.4rem;
				}
				@include bp(laptop-s) {
					padding: 0 1.3rem;
				}
				@include bp(desktop) {
					padding: 0 .8rem;
				}
				@include bp(tablet) {
					padding: 0 1.5rem;
					margin-right: 0.5rem;
					width: auto;
				}
			}
			:global(.tab-item.active) {
				border-radius: 3.2rem;

			}
			@include bp(laptop) {
				overflow-x: auto;
				overflow-y: hidden;
				max-width: var(--max-page-width);
			}
		}
		// &.invisible {
		// 	visibility: hidden;
		// 	height: 0;
		// }
		:global(.tabbar) {
			@include bp(r-tablet) {
				max-width: var(--max-page-width);
				overflow-x: hidden;

				&::after {
					display: none;
				}
			}
		}
	}
</style>
