<script lang="ts">
	import { goto } from '$app/navigation';
	import LoadingIcon from '$components/Common/LoadingIcon.svelte';
	import { SEARCH_DELAY } from '$lib/constants';
	import { getSearches } from '$lib/services';
	import { dictionaryStore } from '$stores/dictionary.store';
	import { pageStore } from '$stores/page.store';
	import { searchStore, searchTerm } from '$stores/search.store';
	import { fade } from 'svelte/transition';

	let timer: ReturnType<typeof setTimeout>;

	const handleSearch = () => {
		clearTimeout(timer);
		if ($searchTerm.length === 0) {
			dictionaryStore.setSearchActive(false);
		}
		timer = setTimeout(async () => {
			if ($searchTerm.length < 2) {
				return;
			}
			goto('/kavramlar-sozlugu', {
				keepfocus: true
			});
			dictionaryStore.setSearchActive(true);
			searchStore.setLoading(true);
			const { items, hasNext } = await getSearches({
				section: $pageStore.currentSection,
				term: $searchTerm
			});
			searchStore.setItems(items);
			searchStore.setNextPage(hasNext);
			searchStore.setLoading(false);
		}, SEARCH_DELAY);
	};

	const handleCloseSearch = () => {
		searchStore.setLoaded(false);
		searchStore.setItems([]);
		$searchTerm = '';
		dictionaryStore.setSearchActive(false);
	};
</script>

<div class="search">
	<div class="search-content">
		<input
			bind:value={$searchTerm}
			type="text"
			placeholder="Bir şeyler arayın"
			on:keyup={handleSearch}
		/>
		{#if $searchStore.loading}
			<LoadingIcon size={60} />
		{:else if $searchTerm.length > 0}
			<button class="search-clear" on:click={handleCloseSearch} />
		{:else}
		
			<span class="search__icon">
				<svg class="icon-font">
					<use xlink:href="/icons.svg#icon-search" />
				</svg>
			</span>
		{/if}
	</div>
</div>

<style lang="scss">
	@import '../../styles/component/search.scss';
	@import '../../styles/component/search-clear.scss';

	.search {
		display: flex;
		align-items: center;

		

		&-content {
			max-width: var(--max-page-width, unset);
			display: flex;
			align-items: center;
			flex-grow: 1;
		}

		input {
			padding: 5rem calc(var(--page-padding-x) * 2.7) 5rem var(--page-padding-x);
			height: auto;
			font-weight: 300;
			@include bp(tablet) {
				padding-top: 3rem;
				padding-bottom: 3rem;
			}
		}

		&__icon {
			right: var(--page-padding-x);
		}

		// &.invisible {
		// 	visibility: hidden;
		// 	height: 0;
		// }
	}
</style>
