<script lang="ts">
import { timelineStore } from "$stores/timeline.store";


	const handleSlideChange = (e: CustomEvent) => {
		const swiper: SwiperObject = e.detail[0][0];
		timelineStore.setActiveIndex(swiper.activeIndex);

		if (swiperEl) {
			swiperEl.slideTo($timelineStore.activeIndex);
		}
	};

	const handleReachEnd = () => {
		loadMore();
	};
	
	$: {
		if (swiperEl) {
			swiperEl.slideTo($timelineStore.activeIndex);
		}
	}

	const loadMore = async () => {
		timelineStore.setLoading(true);
		const page = $timelineStore.page + 1;
		const { items, next } = await getTimelineEvents(page);
		timelineStore.setMoreItems(items);
		timelineStore.setMoreYears(items);
		timelineStore.setPage(page);
		timelineStore.setNext(next);
		timelineStore.setLoading(false);
		timelineStore.setDateIndexes();
		swiperEl.update();
	};

	const handleSwiper = (e: CustomEvent) => {
		const [swiper] = e.detail;
		swiperEl = swiper;
		timelineStore.setEventsSlider(swiperEl);
	};
</script>

<Swiper
	on:swiper={handleSwiper}
	id="TimelineEventsSlider"
	direction="vertical"
	slidesPerView="auto"
	autoHeight={true}
	mousewheel={true}
	freeMode={true}
	centeredSlides={true}
	breakpoints={{
		320: {
			slidesPerView: 1.3,
			direction: 'horizontal',
			spaceBetween: 25,
			centeredSlides: false,
		},
		429: {
			slidesPerView: 1.8,
			direction: 'horizontal',
			spaceBetween: 25,
			centeredSlides: false,
		},
		520: {
			direction: 'horizontal',
			slidesPerView: 2.2,
			spaceBetween: 25,
			centeredSlides: false,
		},
		768: {
			direction: 'vertical',
		},
	}}
	on:slideChange={handleSlideChange}
	modules={[Mousewheel, FreeMode, Thumbs]}
>
	{#each $timelineStore.items as event, index}
		<SwiperSlide>
			<TimelineCard {...event} active={index === $timelineStore.activeIndex} />
		</SwiperSlide>
	{/each}
	{#if $timelineStore.hasNext}
		<SwiperSlide>
			<LoadMore on:loading={handleLoadMore} />
		</SwiperSlide>
	{/if}
</Swiper>
