<script lang="ts">
	import { browser } from '$app/env';
	import Loading from '$components/Common/Loading.svelte';
	import { pageStore } from '$stores/page.store';
	import IntroTexts from './IntroTexts.svelte';
	import IntroVideo from './IntroVideo.svelte';

	const handleCloseIntro = () => {
		pageStore.setIntroEnabled(false);
		localStorage.setItem('intro-enabled', '0');
		localStorage.setItem('dhm-intro-interval', '0');
	};

	$: {
		if (browser && !$pageStore.isLoading && !$pageStore.introEnabled) {
			document.querySelector('html').classList.remove('scroll-disabled');
			document.querySelector('body').classList.remove('scroll-disabled');
		}
	}
</script>

<div
	class="intro"
	class:dark={$pageStore.introEnabled}
	class:active={$pageStore.isWindowLoaded && $pageStore.introEnabled}
	class:remove={!$pageStore.introEnabled}
>
	{#if $pageStore.isLoading && !$pageStore.fonstsLoaded}
		<span class="hidetext title--second">&</span>
		<Loading />
	{/if}
	{#if $pageStore.fonstsLoaded && $pageStore.introTextsVisible}
		<IntroTexts />
	{/if}
	<IntroVideo />
	<div class="pass" on:click={handleCloseIntro}>ATLA</div>
</div>

<style lang="scss">
	.intro {
		width: 100vw;
		height: 100vh;
		position: fixed;
		top: 0;
		left: 0;
		z-index: 999999;
		background-color: $c-bg;

		&.dark {
			background-color: $c-black;
		}

		:global(.loading) {
			background-color: $c-black;
			opacity: 1 !important;
		}
		.hidetext {
			opacity: 0;
			position: absolute;
		}
		.pass {
			position: absolute;
			left: 50%;
			bottom: 8rem;
			transform: translate(-50%, 8rem);
			font-size: 1.7rem;
			color: #fff;
			font-weight: 500;
			cursor: pointer;
			transition: transform 2s, opacity 2s, background-color 0.3s;
			border-radius: 4rem;
			padding: 0 6rem;
			height: 6rem;
			display: flex;
			align-items: center;
			justify-self: center;
			border: 1px solid rgba($color: #fff, $alpha: 0.2);
			background-color: rgba($color: #fff, $alpha: 0.13);
			opacity: 0;
			z-index: 500;
			&:hover {
				background-color: rgba($color: #fff, $alpha: 0.26);
			}
			@include bp(mobile) {
				bottom: 3rem;
				position: fixed;
			}
		}

		video {
			object-fit: cover;
			width: 100vw;
			height: 100vh;
			position: fixed;
			top: 0;
			left: 0;
			opacity: 0;
			transition: 1s;
		}

		&.remove {
			opacity: 0;
			transition-delay: 2s;
			pointer-events: none;
			transition: 2s;

			:global(.loading) {
				opacity: 0 !important;
			}

			.pass {
				transition: transform 1s, opacity 1s, background-color 0.3s;
			}
		}

		&.active {
			:global(.loading) {
				opacity: 0 !important;
			}

			.pass {
				opacity: 1;
				transform: translate(-50%, 0);
			}
		}
	}
</style>
