<script lang="ts">
	import { INTRO_FADE_DURATION } from '$lib/constants';

	import { pageStore } from '$stores/page.store';
	import { onDestroy, onMount } from 'svelte';
	import { fade } from 'svelte/transition';

	export let visible = true;

	let phase = 0;
	let toRed = false;

	let timerIntro: ReturnType<typeof setTimeout>;
	let timerRed: ReturnType<typeof setTimeout>;

	onMount(() => {
		phase = 1;

		timerIntro = setTimeout(() => {
			phase = 2;
		}, INTRO_FADE_DURATION * 8);

		timerRed = setTimeout(() => {
			toRed = true;
		}, INTRO_FADE_DURATION * 12);
	});

	onDestroy(() => {
		clearTimeout(timerIntro);
		clearTimeout(timerRed);
	});
</script>

<div transition:fade={{ duration: INTRO_FADE_DURATION, delay: INTRO_FADE_DURATION }}>
	<!-- <h1 style="color: white">{visible}</h1> -->
	{#if phase === 1}
		<h6
			class="title title--md title--second title--white title-one"
			transition:fade={{ duration: INTRO_FADE_DURATION * 1.5 }}
		>
			<span class="color-red">Hafızasını&nbsp;</span> kaybeden kimliğini, varlığını kaybeder.
		</h6>
	{:else if phase === 2}
		<h6
			class="title title--md title--second title--white title-two"
			in:fade={{ duration: INTRO_FADE_DURATION * 1.5, delay: INTRO_FADE_DURATION * 2 }}
		>
			Filistin'de unutulmaması gereken
			<span class="title-moments" class:active={toRed}>&nbsp;anlar&nbsp;</span>
			var!
		</h6>
	{/if}
</div>

<style lang="scss">
	.title {
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		font-size: calc(var(--font-size-title--md) * 1.2);
		width: 100%;
		text-align: center;
		padding: 0 var(--page-padding-x);

		&-moments {
			color: #fff;
			transition: all 1.5s;

			&.active {
				color: $c-red;
			}
		}
	}
</style>
