<script lang="ts">
	import { browser } from '$app/env';

	import { page } from '$app/stores';
	import { INTRO_FADE_DURATION } from '$lib/constants';

	import { pageStore } from '$stores/page.store';
	import { onDestroy, onMount, tick } from 'svelte';

	let videoElement: HTMLVideoElement;
	let paused = true;
	let ended: boolean;
	let innerWidth: number;
	let innerHeight: number;
	let buffered: any;
	let videoVisible = false;

	let timerAll: ReturnType<typeof setTimeout>;
	let timerVideo: ReturnType<typeof setTimeout>;

	onMount(() => {
		videoReady().then(() => {
			pageStore.setIntroVideoLoaded(true);

			timerVideo = setTimeout(() => {
				videoVisible = true;
				paused = false;
			}, INTRO_FADE_DURATION * 18);

			timerAll = setTimeout(() => {
				pageStore.setIntroTextsVisible(false);
				paused = false;
			}, INTRO_FADE_DURATION * 18);
		});
	});
	$: {
		if (ended) {
			pageStore.setIntroEnabled(false);
			localStorage.setItem('intro-enabled', '0');
			localStorage.setItem('dhm-intro-interval', '0');
			document.querySelector('html').classList.remove('scroll-disabled');
			document.querySelector('body').classList.remove('scroll-disabled');
			console.log('Hoşgeldiniz!');
		}
	}
	const videoReady = async () => {
		videoElement.addEventListener('canplay', (e) => {
			return e;
		});
	};

	onDestroy(() => {
		clearTimeout(timerAll);
		clearTimeout(timerVideo);
	});
</script>

<svelte:window bind:innerWidth bind:innerHeight />

<video
	class="intro-video"
	class:visible={$pageStore.introVideoLoaded && videoVisible}
	bind:this={videoElement}
	bind:ended
	bind:paused
	muted
	playsinline
	data-wf-ignore="true"
	data-object-fit="cover"
	preload="auto"
>
	<track kind="captions" />
	{#if innerWidth < 768}
		<source
			src="/dhm-intro-bg-mobile.mp4"
			poster="img/dummy_video_belgesel_big.jpg"
			type="video/mp4"
		/>
	{:else}
		<source src="/dhm-intro.mp4" poster="img/dummy_video_belgesel_big.jpg" type="video/mp4" />
	{/if}
	Tarayıcınız gömülü videoları desteklemiyor.
</video>

<!-- <h1 class="asd">{JSON.stringify(buffered)} - {ended}</h1> -->
<style lang="scss">
	.asd {
		position: fixed;
		top: 0;
		right: 0;
		color: #fff;
		z-index: 999999;
	}
	.intro-video {
		object-fit: cover;
		width: 100vw;
		height: 100vh;
		position: fixed;
		top: 0;
		left: 0;
		opacity: 0;
		transition: 1s;
		z-index: 200;

		&.visible {
			opacity: 1;
		}
	}
</style>
