<script lang='ts'>
	import { clickAway } from '$lib/utils/directives';
	import { fade } from 'svelte/transition';

	let switcherVisible = false;
	let onlyOneLang = true;
	let selectedLang = 'tr';
	const toggler = (status: boolean) => {
		switcherVisible = status;
	};
</script>

<div class='langs' class:only-one-lang='{onlyOneLang}' on:click='{() => toggler(!switcherVisible)}'>
	<div class='langs-menu' class:active='{switcherVisible}'>
		<div class='langs-menu__img'><img src='/img/langs/en.svg' alt='icon'></div>
		<span class='langs-menu__code'> Just English</span>
	</div>
	<div class='langs-menu-content' use:clickAway='{() => toggler(false)}'>
		<a class='langs-menu-content__item active' href='/'>
			<div class='langs-menu__img'><img src='/img/langs/en.svg' alt='icon'></div>
			<span class='langs-menu__code'>English</span>
		</a>
		<a class='langs-menu-content__item' href='/'>
			<div class='langs-menu__img'><img src='/img/langs/tr.svg' alt='icon'></div>
			<span class='langs-menu__code'>Türkçe</span>
		</a>
	</div>
</div>

<style lang='scss'>
  @import '../../styles/component/langs.scss';
</style>
