<script lang="ts">
	import { browser } from '$app/env';

	import { page } from '$app/stores';
	import { menu } from '$stores/menu.store';
	import LanguageSwitcher from './LanguageSwitcher.svelte';
	import SocialPlatforms from './SocialPlatforms.svelte';

	let innerWidth: number;

	$: {
		if (browser) {
			if (innerWidth < 1025 && $menu.active) {
				document.querySelector('html').classList.add('scroll-disabled');
				document.querySelector('body').classList.add('scroll-disabled');
			} else {
				document.querySelector('html').classList.remove('scroll-disabled');
				document.querySelector('body').classList.remove('scroll-disabled');
			}
		}
	}
</script>

<svelte:window bind:innerWidth />

<section class="menu" class:active={$menu.active}>
	<nav class="menu-nav">
		<a
			class="menu-nav__link"
			class:active={$page.url.pathname === '/hakkimizda'}
			href="/hakkimizda"
			on:click={() => menu.setActive(false)}
		>
			Hakkımızda
		</a>
		<a
			class="menu-nav__link"
			class:active={$page.url.pathname === '/projeler'}
			href="/projeler"
			on:click={() => menu.setActive(false)}>Projeler</a
		>
		<a
			class="menu-nav__link"
			class:active={$page.url.pathname === '/iletisim'}
			href="/iletisim"
			on:click={() => menu.setActive(false)}>İletişim</a
		>
	</nav>
	<footer class="menu-footer">
		<section class="menu-socials">
			<h6 class="toptitle mbi-2">Bizi Takip Edin</h6>
			<SocialPlatforms />
		</section>
		<!-- <LanguageSwitcher /> -->
	</footer>
</section>

<style lang="scss">
	@import '../../styles/component/menu.scss';

	.menu {
		z-index: 90;
		height: 100vh;

		&:hover {
			.menu-nav__link {
				opacity: 1;
			}
		}

		&.persist {
			background-color: $c-bg;
			border-right: $s-border;
		}

		&-nav {
			&__link {
				font-size: 4rem;
				display: block;
				margin-bottom: 2.5rem;
				color: $c-title;
				font-family: $font-family-second;
				font-weight: 400;
				padding: 1.7rem 0;
				position: relative;

				&:not(.active) {
					opacity: 0.5;

					&:hover {
						color: $c-red;
					}
				}

				&.active {
					padding-left: 2rem;

					@include bp(tablet-small-under) {
						padding-left: 0;
					}

					&::before {
						content: '';
						width: 0.6rem;
						height: 100%;
						left: calc(-1 * var(--padding-lr));
						position: absolute;
						top: 0;
						background: $c-red;
					}
				}
				@include bp(tablet-small-under) {
					text-align: center;
				}
			}
		}
		&-socials {
			@include bp(tablet-small-under) {
				width: 100%;
				.toptitle {
					display: none;
				}
				:global(.social) {
					width: 100%;
					justify-content: center !important;
				}
			}
		}
		&-footer {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
		}
	}

	:global(.langs) {
		margin-top: 4rem;
	}
</style>
