<script lang="ts">
	import { navigationStore } from '$stores/navigation.store';
	import { onDestroy,onMount } from 'svelte';
	import { quartOut, sineOut } from 'svelte/easing';
	import { tweened } from 'svelte/motion';

	export let height = '0.5rem';
	export let opacity = 1;
	export let color = '#be3e3e';

	const progress = tweened(0, {
		duration: 2500,
		easing: quartOut
	});

	const unsubscribe = navigationStore.subscribe((state) => {
		if (state === 'loaded') {
			progress.set(1, { duration: 10 });
		}
	});

	// $: {
	// 	if ($navigationStore === 'loaded') {
	// 		progress.set(1)
	// 	}

	// 	if ($navigationStore === 'loading') {
	// 		progress.set(0.85, {
	// 			duration: 5000
	// 		})
	// 	}
	// }

	onMount(() => {
		progress.set(0.9);
	});

	onDestroy(() => {
		unsubscribe();
	});
</script>

<div class="progress-bar" style="height: {height};">
	<div
		class="progress-sliver"
		style={`--width: ${$progress * 100}%; opacity: ${opacity}; background-color: ${color}`}
	/>
</div>

<style lang="scss">
	.progress-bar {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		z-index: 100;
	}
	.progress-sliver {
		width: var(--width);
		height: 100%;
		z-index: 110;
	}
</style>
