<script lang="ts">
	import { pageStore } from '$stores/page.store';

	const handleClick = () => {
		pageStore.setScrollY(0)
		document.body.scrollIntoView();
	};
</script>

<button class:visible={$pageStore.scrollY > 500} class="btn-totop" on:click={handleClick}>
	Yukarı Çık
</button>

<style lang="scss">
	.btn-totop {
		background: $c-black;
		color: $c-bg;
		border-radius: 20rem;
		padding: 2rem 4rem;
		font-size: 2.2rem;
		display: inline-flex;
		align-items: center;
		justify-content: center;
		position: fixed;
		bottom: 2rem;
		right: 3rem;
		z-index: 1000;
		opacity: 0;
		transition: 0.5s;
		pointer-events: none;

		&.visible {
			opacity: 1;
			pointer-events: all;
		}
	}
</style>
