<script lang="ts">
	import { page } from '$app/stores';
	import { SELECTOR_ITEMS } from '$lib/constants/pages';
	import type { SelectorItem } from '$lib/types';
	import { navigationStore } from '$stores/navigation.store';
	import { pageStore } from '$stores/page.store';
	import { sidebarStore } from '$stores/sidebar.store';
	import { onDestroy, onMount, tick } from 'svelte';
	import { cubicOut } from 'svelte/easing';
	import { tweened } from 'svelte/motion';
	import { blur, fade, fly } from 'svelte/transition';
	import PageLoader from './PageLoader.svelte';

	/** Reactive assignments */
	let selectorVisible = false;
	let innerWidth: number;

	$: sectionNamer($page.url.pathname);

	/** onMount lifecycle */
	onMount(async () => {
		progress.set(1.5, { duration: 0 });
		await tick();
		let timer = setTimeout(() => {
			selectorVisible = true;
		}, 500);
		return () => {
			clearTimeout(timer);
		};
	});

	const progress = tweened(0, {
		duration: 3500,
		easing: cubicOut,
	});
	const unsubscribe = navigationStore.subscribe((state) => {
		if (state === 'loaded' || state === null) {
			progress.set(1.2, { duration: 1000 });
		}

		if (state === 'loading') {
			progress.set(0, { duration: 0 });
		}
	});

	onDestroy(() => {
		unsubscribe();
	});

	const sectionNamer = (urlPath: string) => {
		let section: SelectorItem;
		if (urlPath !== '/') {
			const part = urlPath.split('/')[1];
			section = SELECTOR_ITEMS.find((el) => el.link === '/' + part);
			if (!section) {
				section = SELECTOR_ITEMS.find((el) => el.link === '/');
			}
		} else {
			section = SELECTOR_ITEMS.find((el) => el.link === '/');
		}
		sidebarStore.setFocusText(section.text);
	};

	const handleItemClick = () => {
		pageStore.setScrollY(0);
		sidebarStore.setMenuVisible(false);
		localStorage.setItem('scroll-pos', '0');
	};

	const handleSelectorClick = () => {
		sidebarStore.setMenuVisible(!$sidebarStore.menuVisible);
		pageStore.setScrollY(0);
		localStorage.setItem('scroll-pos', '0');
	};
</script>

<svelte:window bind:innerWidth />

{#key selectorVisible && innerWidth}
	<div
		class="selector"
		class:active={$sidebarStore.menuVisible}
		class:visible={selectorVisible}
		class:home={$page.url.pathname === '/'}
		class:detail={$page.url.pathname !== '/'}
		in:blur={{ delay: innerWidth < 768 ? 100 : 700, duration: 500 }}
	>
		{#if $navigationStore === 'loading'}
			<PageLoader height="var(--selector-height)" opacity={1} color="#fff" />
		{/if}
		<div
			class="selector-button"
			class:active={$sidebarStore.menuVisible}
			on:click={handleSelectorClick}
		>
			<img class="selector-button__img" src="/img/parmak_izi.svg" alt="icon" />
			{#key $sidebarStore.focusText}
				<div
					class="selector-button__text"
					in:fade={{ duration: 400, delay: 200 }}
					out:fade={{ duration: 100 }}
				>
					Filistin hakkında&nbsp;<span class="color-red">{@html $sidebarStore.focusText}</span>
				</div>
			{/key}
			<span class="selector-button__arrow icon-font">
				<svg class="icon icon-font">
					<use xlink:href="/icons.svg#icon-angle-down" />
				</svg></span
			>
		</div>
		{#if $sidebarStore.menuVisible}
			<div class="selector-list">
				{#each SELECTOR_ITEMS as navItem, index}
					<a
						sveltekit:prefetch
						class="selector-list-item"
						class:disabled={navItem.text === 'sanal gezi'}
						href={navItem.link}
						on:click={handleItemClick}
						in:fly={{ y: 50 + 5 * index, duration: 400 + 10 * index, delay: 250 + 20 * index }}
					>
						Filistin hakkında<b>&nbsp;{@html navItem.text}</b>
					</a>
				{/each}
			</div>
		{/if}
	</div>
{/key}

<style lang="scss">
	.selector {
		--home: calc(100vh - var(--statbox-height) - var(--selector-height));
		--detail: calc(var(--header-height) + 5rem);
		--active: calc(var(--header-height));
		@include bp(tablet) {
			--home: calc(var(--header-height));
			--detail: calc(var(--header-height));
			--active: calc(var(--header-height));
		}
		position: absolute;
		width: calc(var(--sidebar-width) - var(--padding-lr));
		right: 0;
		top: 0;
		z-index: 80;
		transition: transform 0.4s, width 0.2s;
		opacity: 0;
		background-color: $c-bg-light;
		@include bp(tablet) {
			width: 100%;
		}

		// &-loader {
		// 	position: absolute;
		// 	top: 0;
		// 	left: 0;
		// 	width: calc(var(--sidebar-width) - var(--padding-lr));
		// 	height: var(--selector-height);
		// 	z-index: 10;
		// 	pointer-events: none;
		// }

		// &-sliver {
		// 	position: relative;
		// 	height: 100%;
		// 	background-color: $c-red;
		// }

		&.home {
			transform: translateY(var(--home)) !important;
		}

		&.detail {
			transform: translateY(var(--detail)) !important;
		}

		&.active {
			transform: translateY(var(--active)) !important;
		}

		&.visible {
			opacity: 1;
		}

		&-button {
			width: 100%;
			// background: linear-gradient(to right, rgba(242, 238, 232, 1) 49.99%, #fff 50%);
			height: var(--selector-height);
			display: flex;
			justify-content: flex-start;
			align-items: center;
			cursor: pointer;
			background-size: 200%;
			transition: $transition-fast;
			background-position: left;
			box-shadow: 0 31px 30px -28px rgba($c-title, 0.3);
			border: 1px solid #d3cec8;
			border-right: 0;
			padding: 0 3rem;
			z-index: 120;
			user-select: none;
			position: relative;
			@include bp(tablet) {
				border: 0;
				border-bottom: 1px solid #d3cec8;
				box-shadow: none;
				padding: var(--padding-lr);
			}
			&.active {
				padding: 0 5rem;
				border-top: 0;
				box-shadow: none;
				@include bp(tablet) {
					padding: 0 var(--container-gutter);
				}
			}
			@include bp(r-tablet) {
				&:hover {
					background-position: right;
				}
			}

			&__img {
				height: 5rem;
				width: 5rem;
				object-fit: contain;
				@include bp(mobile) {
					display: none;
				}
			}

			&__text {
				position: absolute;
				color: $c-title;
				padding-right: 6rem;
				margin-left: 6rem;
				font-weight: 600;
				font-size: 2rem;

				@include bp(mobile) {
					margin-left: 0;
				}
				span {
					color: $c-red;
				}
			}

			&__arrow {
				color: $c-red;
				font-size: 1.8rem;
				margin-left: auto;
				display: block;
			}
		}

		&.active {
			width: 100%;
			height: 100%;
			z-index: 2;
			right: 0;
			@include bp(tablet) {
				z-index: 11;
			}
		}

		&-list {
			background: $c-bg-light;
			padding: 2rem 0;
			height: 0;
			height: 100%;
			z-index: 130;
			@include bp(tablet-small-under) {
				max-height: calc(100vh - var(--selector-height) - var(--header-height));
				overflow-y: auto;
			}
			&-item {
				font-size: 2rem;
				font-weight: 400;
				display: block;
				padding: 1.5vh 5rem;
				color: rgba($c-title, 0.4);
				user-select: none;
				@include bp(tablet-small-under) {
					padding: 1.5vh 3rem;
				}
				@media (max-height: 700px) {
					font-size: 1.8rem;
					padding: 1.35vh 3rem;
				}
				&.disabled {
					pointer-events: none;
					filter: grayscale(10deg);
					opacity: 0.3;
				}

				& * {
					pointer-events: none;
				}

				&:hover {
					color: $c-title;

					b {
						color: $c-red;
					}
				}

				b {
					font-weight: 600;
					color: $c-title;
				}
			}
		}
	}
</style>
