<script lang="ts">
	import { page } from '$app/stores';

	export let title: string;
	export let appLanguage = import.meta.env.VITE_APP_LOCALE;
	export let ldJson: string;
	export let description: string;
	export let image: string;

	let processedSchema = JSON.stringify(ldJson);

	let jsonScript = `<script type="application/ld+json">
		${processedSchema + '<'}/script>`;
</script>

<svelte:head>
	<html lang={appLanguage} />
	<title>{title || 'Yükleniyor...'}</title>
	<meta name="description" content={description} />

	<!-- Facebook Meta Tags -->
	<meta property="og:url" content={$page.url.toString()} />
	<meta property="og:type" content="website" />
	<meta property="og:title" content="Dijital Hafıza Merkezi" />
	<meta property="og:description" content={description} />
	<meta property="og:image" content={image} />

	<!-- Twitter Meta Tags -->
	<meta name="twitter:card" content="summary_large_image" />
	<meta property="twitter:domain" content={$page.url.hostname} />
	<meta property="twitter:url" content={$page.url.toString()} />
	<meta name="twitter:title" content={title} />
	<meta name="twitter:description" content={description} />
	<meta name="twitter:image" content={image} />
	{#if ldJson}
		{@html jsonScript}
	{/if}
</svelte:head>
