<script lang="ts">
	import type { TPlatform } from '$lib/types';
	import { shareStore } from '$stores/share.store';

	export let platforms: TPlatform[];
</script>

<div class="social">
	{#if platforms?.includes('facebook')}
		<a class="social__item" href={$shareStore.facebook} target="_blank">
			<svg class="icon-font">
				<use xlink:href="/icons.svg#icon-facebook" />
			</svg>
		</a>
	{/if}
	{#if platforms?.includes('twitter')}
		<a class="social__item" href={$shareStore.twitter} target="_blank">
			<svg class="icon-font">
				<use xlink:href="/icons.svg#icon-twitter" />
			</svg>
		</a>
	{/if}
	{#if platforms?.includes('linkedin')}
		<a class="social__item" href={$shareStore.linkedin} target="_blank">
			<svg class="icon-font">
				<use xlink:href="/icons.svg#icon-linkedin" />
			</svg>
		</a>
	{/if}
</div>

<style lang="scss">
	.social {
		display: flex;
		align-items: center;
		justify-content: flex-start;
		font-size: 3.4rem;
		&__item {
			height: 1em;
			cursor: pointer;
			color: rgba($c-black, 1);
			opacity: 0.5;
			& + & {
				margin-left: 4.5rem;
			}

			&:hover {
				opacity: 1;
				color: $c-red;
			}
		}
	}
</style>
