<script lang="ts">
	import { pageStore } from '$stores/page.store';

	$: platforms = Object.keys($pageStore.socials);
	$: hasLinks = platforms.length > 0;
</script>

{#if hasLinks}
	<div class="social">
		{#each platforms as platform}
			{#if $pageStore.socials[platform].url.length > 0}
				<a
					class="social__item"
					href={$pageStore.socials[platform].url}
					target={$pageStore.socials[platform].target}
					aria-label={$pageStore.socials[platform].title}
				>
					<svg class="icon-font">
						<use xlink:href="/icons.svg#icon-{platform}" />
					</svg>
				</a>
			{/if}
		{/each}
	</div>
{/if}

<style lang="scss">
	.social {
		display: flex;
		align-items: center;
		justify-content: flex-start;
		font-size: 3.4rem;
		&__item {
			height: 1em;
			cursor: pointer;
			color: rgba($c-black, 1);
			opacity: 0.5;
			& + & {
				margin-left: 4.5rem;
			}

			&:hover {
				opacity: 1;
				color: $c-red;
			}
		}
	}
</style>
