<script lang="ts">
	import { goto } from '$app/navigation';
	import { page } from '$app/stores';
	import { handleSameYear } from '$lib/helpers/timeline.helper';
	import { getTimelineItems } from '$lib/services/timeline.service';
	import { timelineStore } from '$stores/timeline.store';
	import '@splidejs/splide/dist/css/splide.min.css';
	import { Splide, SplideSlide } from '@splidejs/svelte-splide';
	import type { EventDetail, MoveEventDetail } from '@splidejs/svelte-splide/types';
	import { onMount } from 'svelte';

	let datesSlider: Splide;
	let timer: ReturnType<typeof setTimeout>;
	let innerWidth: number;
	let targetIndex = $timelineStore.activeIndex;

	onMount(() => {
		const { pathname } = $page.url;

		if (pathname === '/zaman-tuneli' && $timelineStore.activeIndex === null) {
			timelineStore.setActiveIndex(0);
		}

		if (pathname !== '/zaman-tuneli') {
			const slug = pathname.split('/')[2];
			const index = $timelineStore.items.findIndex((e) => e.slug === slug);
			timelineStore.setActiveIndex(index);
		}
	});

	const goDelay = (str: string) => {
		clearTimeout(timer);
		timer = setTimeout(() => {
			goto(`/zaman-tuneli/${str}`);
		}, 750);
	};

	const handleEventClick = (index: number) => {
		timelineStore.setActiveIndex(index);
		datesSlider.go(index);
	};

	const handleActive = async (e: CustomEvent) => {
		timelineStore.setActiveIndex(e.detail.Slide.index);
		if (e.detail.Slide.index === $timelineStore.items.length - 1 && $timelineStore.hasNext) {
			await handleMore();
		}
	};

	const handleMoved = (e: CustomEvent<MoveEventDetail>) => {
		const { index } = e.detail;
		if ($timelineStore.inDetail) {
			const event = $timelineStore.items.find((e, i) => i === index);
			goDelay(event.slug);
		}
	};

	const handleDragged = (e: CustomEvent<EventDetail>) => {
		targetIndex = e.detail.splide.index;
		timelineStore.setActiveIndex(e.detail.splide.index);
	};

	const handleMore = async () => {
		let page = $timelineStore.page + 1;
		timelineStore.setLoading(true);
		const { items, next } = await getTimelineItems(page);
		timelineStore.setPage(page);
		timelineStore.setItemsMore(items);
		timelineStore.setNext(next);
		timelineStore.setLoading(false);
	};

	$: {
		if (datesSlider) {
			datesSlider.go($timelineStore.activeIndex);
		}
	}
</script>

<svelte:window bind:innerWidth />

<div
	class="timeline"
	class:first={$timelineStore.activeIndex === 0}
	class:last={$timelineStore.activeIndex === $timelineStore.items.length - 1}
>
	{#if $timelineStore.activeIndex < 0 && $timelineStore.inDetail}
		<div class="timeline-single">
			<button class="event-button" data-day={$timelineStore.currentEvent.date.substring(0, 6)}>
				<span class="event-year active">
					{$timelineStore.currentEvent.year}
				</span>

				<span
					data-year={$timelineStore.currentEvent.year}
					class="event-day is-event active"
					class:unknown={$timelineStore.currentEvent.dateUnknown}
				>
					{$timelineStore.currentEvent.dateUnknown
						? ''
						: $timelineStore.currentEvent.date.substring(0, 6)}
				</span>
			</button>
		</div>
	{:else if innerWidth}
		<Splide
			bind:this={datesSlider}
			on:moved={handleMoved}
			on:scrolled={handleDragged}
			on:active={handleActive}
			id="TimelineDatesSlider"
			options={{
				wheel: true,
				direction: 'ttb',
				height: '50vh',
				arrows: false,
				pagination: false,
				waitForTransition: true,
				easing: 'linear',
				speed: innerWidth < 768 ? 300 : 20,
				focus: 'center',
				autoHeight: true,
				gap: '1rem',
				breakpoints: {
					320: {
						keyboard: true,
						perPage: 1.3,
						direction: 'ltr',
						gap: '4rem',
						autoHeight: false,
						autoWidth: false,
						focus: targetIndex,
						drag: false,
					},
					429: {
						keyboard: false,
						perPage: 1,
						direction: 'ltr',
						gap: '4rem',
						autoHeight: false,
						autoWidth: false,
						focus: targetIndex,
						drag: false,
					},
					480: {
						keyboard: false,
						perPage: 1.5,
						direction: 'ltr',
						gap: '4rem',
						autoHeight: false,
						autoWidth: false,
						focus: targetIndex,
						drag: false,
					},
					520: {
						keyboard: false,
						perPage: 2.2,
						direction: 'ltr',
						gap: '4rem',
						autoHeight: false,
						autoWidth: false,
						focus: targetIndex,
						drag: false,
					},
					767: {
						keyboard: false,
						direction: 'ltr',
						gap: '4rem',
						autoHeight: false,
						autoWidth: false,
						perPage: 2,
						focus: targetIndex,
						drag: false,
					},
					768: {
						direction: 'ttb',
						keyboard: true,
						focus: 'center',
						gap: '1rem',
						autoHeight: true,
						drag: 'free',
					},
					2560: {
						direction: 'ttb',
						keyboard: true,
						focus: 'center',
						gap: '1rem',
						drag: 'free',
						autoHeight: true,
					},
				},
			}}
		>
			{#each $timelineStore.items as item, index}
				{@const sameYear = handleSameYear(index)}
				<SplideSlide>
					<button class="event-button" data-day={item.day} on:click={() => handleEventClick(index)}>
						{#if !sameYear}
							<span
								class="event-year"
								class:active={item.year === $timelineStore.items[$timelineStore.activeIndex]?.year}
							>
								{item.year}
							</span>
						{/if}

						<span
							data-year={item.year}
							class="event-day is-event"
							class:active={index === $timelineStore.activeIndex}
							class:unknown={item.unknown}
						>
							{item.unknown ? '' : item.day}
						</span>
					</button>
				</SplideSlide>
			{/each}
		</Splide>
	{/if}
	{#if $timelineStore.hasNext && $timelineStore.loading}
		<button class="timeline-more" on:click={handleMore} class:loading={$timelineStore.loading}>
			{$timelineStore.loading ? 'Yükleniyor' : 'Dahası'}
		</button>
	{/if}
</div>

<style lang="scss">
	:global(#TimelineDatesSlider) {
		height: calc(100vh - var(--header-height));
		margin-left: 0;
		width: 100%;
		position: relative;
		z-index: 2;

		@include bp(tablet-small-under) {
			height: 100%;
			overflow: visible;
			padding-left: var(--page-padding-x);
		}
	}

	:global(#TimelineDatesSlider .splide__track) {
		height: 100% !important;
	}

	.ghost-wrapper {
		position: absolute;
		bottom: 0;
		left: 0;
	}

	.ghost-event {
		transition: $transition;
		margin-left: 6rem;
		margin-bottom: 1rem;
		position: absolute;
		z-index: 2;
		display: flex;
		align-items: center;
		margin-top: 2rem;

		@include bp(tablet-small-under) {
			display: none;
		}

		span {
			background-color: darken($color: $c-bg, $amount: 8%);
			height: 2rem;
			width: 7rem;
			border-radius: 4rem;
			position: absolute;
			overflow: hidden;

			&::after {
				content: '';
				position: absolute;
				top: 0;
				left: -50px;
				width: 90px;
				height: 100%;
				background-image: linear-gradient(270deg, transparent, rgba(#fff, 0.3), transparent);
				animation-name: shine;
				animation-delay: 0.3s;
				animation-duration: 3s;
				animation-timing-function: ease;
				animation-iteration-count: infinite;
				animation-direction: normal;
				z-index: 2;
				-webkit-transform: skew(-30deg);
				transform: skew(-30deg);
			}
		}

		&::before {
			position: absolute;
			content: '';
			width: 8px;
			height: 8px;
			border-radius: 50%;
			left: calc((-6rem / 2) + 1px);
			background-color: #b7b4af;
			border: 1px solid $c-bg;
			transition: $transition;

			@include bp(desktop-l) {
				left: calc((-6rem / 2));
			}
		}
	}

	@keyframes shine {
		0% {
			left: -250px;
		}

		25% {
			left: 110%;
		}

		to {
			left: 110%;
		}
	}

	.event {
		&-day {
			display: flex;
			align-items: center;
			justify-content: center;
			font-size: 1.7rem;
			line-height: 0;
			height: 4rem;
			color: rgba($color: $c-black, $alpha: 0.6);
			transition: $transition;
			padding: 1rem 1.5rem;
			margin-left: 6rem;
			border-radius: 4rem;
			position: relative;
			margin-bottom: 1rem;

			@include bp(tablet-small-under) {
				position: absolute;
				top: 0;
				background-color: darken($color: $c-bg, $amount: 4%);
				margin-left: 0;
			}

			&.unknown {
				padding: 0;
			}

			&::before {
				position: absolute;
				content: '';
				width: 8px;
				height: 8px;
				border-radius: 50%;
				left: calc((-6rem / 2) + 1px);
				background-color: #b7b4af;
				border: 1px solid $c-bg;
				transition: $transition;

				@include bp(desktop-l) {
					left: calc((-6rem / 2));
				}

				@include bp(tablet-small-under) {
					left: 2rem;
					display: none;
				}
			}

			&.active {
				color: $c-black;
				background-color: #d8d3cc;
				font-weight: 700;

				&::before {
					background-color: $c-bg;
					border-color: $c-black;
					box-shadow: 0 0 0 0.5rem $c-black;
				}
				&::after {
					border-color: $c-black;
					background-color: $c-black;
					color: #fff;
				}
			}

			@include bp(tablet-small-under) {
				margin-left: 9rem;

				&::after {
					content: attr(data-year);
					position: absolute;
					left: -9rem;
					top: 0;
					border-radius: 5rem;
					color: #b7b4af;
					display: inline-flex;
					justify-content: center;
					align-items: center;
					padding: 1rem;
					width: 7.2rem;
					border: $s-border;
					background-color: $c-bg;
					font-weight: 400;
					line-height: 1;
					height: 3.8rem;
					font-size: 1.6rem;
				}
			}
		}

		&-year {
			border-radius: 5rem;
			color: #b7b4af;
			display: inline-flex;
			justify-content: center;
			align-items: center;
			padding: 1rem;
			width: 7.2rem;
			font-size: 1.8rem;
			line-height: 1;
			border: $s-border;
			background-color: $c-bg;
			margin-bottom: 1rem;

			&.only-mobile {
				display: none;
			}

			@include bp(tablet-small-under) {
				line-height: 1;
				height: 3.8rem;
				font-size: 1.6rem;
				margin-bottom: 0;

				& + .event-day {
					margin-left: 9rem;

					&::after {
						content: unset;
					}
				}

				&.only-mobile {
					display: inline-flex;
				}
			}

			&.active {
				border-color: $c-black;
				background-color: $c-black;
				color: #fff;

				&::after {
					color: $c-black;
					opacity: 1;
					background-color: #d8d3cc;
					border-color: #d3cec8;
					font-weight: bold;
				}
				.day {
					color: $c-black;
					opacity: 1;
					background-color: #d8d3cc;
					border-color: #d3cec8;
					font-weight: bold;

					&::before {
						background-color: $c-bg;
						border-color: $c-black;
						box-shadow: 0 0 0 0.5rem $c-black;
					}
				}
			}
		}
	}

	.timeline {
		height: calc(100vh - var(--header-height));
		width: var(--timeline-width);
		display: flex;
		padding-left: 3.6rem;
		position: relative;
		flex-shrink: 0;

		&-more {
			position: absolute;
			bottom: -5rem;
			left: 4rem;
			width: 12rem;
			height: 4.2rem;
			display: inline-flex;
			align-items: center;
			justify-content: center;
			background: $c-black;
			color: #fff;
			border-radius: 3rem;
			font-weight: 500;

			&.loading {
				opacity: 0.4;
				pointer-events: none;
			}
		}

		&-single {
			position: absolute;
			top: 50%;
			left: 3.5rem;
			transform: translateY(-50%);
		}

		&.passive {
			pointer-events: none;
			opacity: 0.6;
		}

		&.first {
			padding-top: 7rem;
			@include bp(tablet-small-under) {
				padding-top: 0;
			}
		}

		&.last {
			margin-top: -7rem;
			@include bp(tablet-small-under) {
				padding-bottom: 0;
				margin-top: 0;
			}
		}

		& button {
			padding: 0;
			display: flex;
			flex-direction: column;
			@include bp(tablet-small-under) {
				height: 4rem;
			}
		}

		@include bp(tablet-small-under) {
			padding-left: 0;
			width: 100vw;
			height: 4rem;
			flex-direction: row;
			align-items: center;
			position: absolute;
			top: 35vw;
			z-index: 3;
		}

		@include bp(mobile) {
			top: 47vw;
		}

		@include bp(mobile-l-small) {
			top: 52vw;
		}

		&::after {
			content: '';
			left: 7.1rem;
			top: 0;
			width: 1px;
			background-color: $c-border;
			height: calc(100vh - var(--header-height));
			position: absolute;
			z-index: 0;

			@include bp(tablet-small-under) {
				width: 100vw;
				height: 1px;
				left: 0;
				top: 50%;
			}
		}

		:global(.swiper-wrapper) {
			@include bp(tablet-small-under) {
				align-items: center;
			}
		}
	}
</style>
