<script lang="ts">
	import { timelineStore } from '$stores/timeline.store';

	let stickyTop = 0;
	let scrollTarget = false;

	const TIMELINE_VALUES = {
		start: 190,
		step: 30,
	};

	let chronoNav: HTMLElement;
	let scrollY: number;

	const handleScroll = () => {};
</script>

<svelte:window on:scroll={handleScroll} bind:scrollY />

<section class="chrono">
	<nav class="chrono-nav" class:fixed={scrollY > stickyTop} bind:this={chronoNav}>
		<ul>
			{#each $timelineStore.items as item, index}
				<li>
					<span>{item.date}</span>
				</li>
			{/each}
		</ul>
	</nav>
	<section class="chrono-content">
		<div class="wrapper">
			{#each $timelineStore.items as item, index}
				<h2 class="event">{item.title}</h2>
				<div>{@html item.content}</div>
			{/each}
		</div>
	</section>
</section>

<style lang="scss">
	.chrono {
		position: relative;
		margin: 0 auto;
		max-width: 980px;

		&-nav {
			position: fixed;
			z-index: 100;
			top: 0;
			transition: top 0.3s ease-out;

			ul {
				list-style: none;
				list-style-position: inside;
				margin: 15px 0;

				li {
					margin: 15px 0;
					padding-left: 0;
					list-style-type: none;
					color: #bfc1c3;
					border-bottom: 1px dotted rgba(0, 0, 0, 0.3);
					cursor: pointer;
					transition: all 0.3s ease-out;

					&.active {
						font-weight: bold;
						color: #f94125;
						border-bottom: 1px dotted transparent;
						transform: scale(1.2);
					}

					&:hover {
						color: #000;
					}
				}
			}
		}
	}

	.wrapper {
		margin: 0 auto;
		padding: 0 16.66% 50px;
		width: 100%;
	}
</style>
