<script lang="ts">
	import { beforeNavigate, goto } from '$app/navigation';
	import { timelineStore } from '$stores/timeline.store';
	import { FreeMode, Mousewheel } from 'swiper';
	import 'swiper/css/free-mode';
	import { Swiper, SwiperSlide } from 'swiper/svelte';
	import type { Swiper as SwiperObject } from 'swiper/types';

	let swiperEl: SwiperObject;

	beforeNavigate((e) => {
		if (e.to.pathname === '/zaman-tuneli' && $timelineStore.fromHome) {
			timelineStore.setActiveIndex(1);
			swiperEl.slideTo($timelineStore.activeIndex);
		}
	});

	const handleSwiper = (e: CustomEvent) => {
		const [swiper] = e.detail;
		timelineStore.setThumbsSlider(swiper);
		swiperEl = swiper;
		swiperEl.update();
	};

	const handleSlideChange = (e: CustomEvent) => {
		const swiper: SwiperObject = e.detail[0][0];
		const event = $timelineStore.timeline.find((e, i) => i === $timelineStore.activeIndex);

		timelineStore.setActiveIndex(swiper.activeIndex);
		timelineStore.setFromHome(false);

		if ($timelineStore.inDetail) {
			goto(`/zaman-tuneli/${event.slug}`);
		}
	};

	const handleEventClick = (index: number) => {
		timelineStore.setActiveIndex(index);
		swiperEl.slideTo($timelineStore.activeIndex);
	};

	const handleSameYear = (index: number): boolean => {
		let previous = $timelineStore.items[index - 1];
		let current = $timelineStore.items[index];
		if (!previous) return false;
		return previous.year === current.year;
	};

	$: {
		if (swiperEl) {
			swiperEl.slideTo($timelineStore.activeIndex)
		}
	}
</script>

<div class="timeline">
	<Swiper
		on:swiper={handleSwiper}
		on:slideChange={handleSlideChange}
		id="TimelineDatesSlider"
		direction="vertical"
		slidesPerView="auto"
		autoHeight={true}
		mousewheel={true}
		centeredSlides={true}
		slideToClickedSlide={true}
		freeMode={false}
		modules={[Mousewheel, FreeMode]}
		initialSlide={$timelineStore.activeIndex}
		breakpoints={{
			320: {
				slidesPerView: 1.3,
				direction: 'horizontal',
				spaceBetween: 25,
				centeredSlides: false,
			},
			429: {
				slidesPerView: 1.8,
				direction: 'horizontal',
				centeredSlides: false,
				spaceBetween: 25,
			},
			520: {
				direction: 'horizontal',
				slidesPerView: 2.2,
				spaceBetween: 25,
				centeredSlides: false,
			},
			768: {
				direction: 'vertical',
			},
		}}
	>
		{#each $timelineStore.items as item, index}
			{@const sameYear = handleSameYear(index)}
			<SwiperSlide>
				<button class="event-button" data-day={item.day} on:click={() => handleEventClick(index)}>
					{#if !sameYear}
						<span
							class="event-year"
							class:active={item.year === $timelineStore.items[$timelineStore.activeIndex].year}
						>
							{item.year}
						</span>
					{/if}

					<span
						data-year={item.year}
						class="event-day is-event"
						class:active={index === $timelineStore.activeIndex}
						class:unknown={item.unknown}
					>
						{item.unknown ? '' : item.day}
					</span>
				</button>
			</SwiperSlide>
		{/each}
	</Swiper>
</div>

<style lang="scss">
	:global(#TimelineDatesSlider) {
		height: calc(100vh - var(--header-height));
		margin-left: 0;
		width: 100%;
		position: relative;
		z-index: 2;

		@include bp(tablet-small-under) {
			height: 100%;
			overflow: visible;
			padding-left: var(--page-padding-x);
		}
	}

	// .ghost-event {
	// 	transition: $transition;
	// 	margin-left: 6rem;
	// 	margin-bottom: 1rem;
	// 	position: absolute;
	// 	z-index: 2;
	// 	display: flex;
	// 	align-items: center;
	// 	margin-top: 2rem;

	// 	@include bp(tablet-small-under) {
	// 		display: none;
	// 	}

	// 	span {
	// 		background-color: darken($color: $c-bg, $amount: 8%);
	// 		height: 2rem;
	// 		width: 7rem;
	// 		border-radius: 4rem;
	// 		position: absolute;
	// 		overflow: hidden;

	// 		&::after {
	// 			content: '';
	// 			position: absolute;
	// 			top: 0;
	// 			left: -50px;
	// 			width: 90px;
	// 			height: 100%;
	// 			background-image: linear-gradient(270deg, transparent, rgba(#fff, 0.3), transparent);
	// 			animation-name: shine;
	// 			animation-delay: 0.3s;
	// 			animation-duration: 3s;
	// 			animation-timing-function: ease;
	// 			animation-iteration-count: infinite;
	// 			animation-direction: normal;
	// 			z-index: 2;
	// 			-webkit-transform: skew(-30deg);
	// 			transform: skew(-30deg);
	// 		}
	// 	}

	// 	&::before {
	// 		position: absolute;
	// 		content: '';
	// 		width: 8px;
	// 		height: 8px;
	// 		border-radius: 50%;
	// 		left: calc((-6rem / 2) + 1px);
	// 		background-color: #b7b4af;
	// 		border: 1px solid $c-bg;
	// 		transition: $transition;

	// 		@include bp(desktop-l) {
	// 			left: calc((-6rem / 2));
	// 		}
	// 	}
	// }

	@keyframes shine {
		0% {
			left: -250px;
		}

		25% {
			left: 110%;
		}

		to {
			left: 110%;
		}
	}

	.event {
		&-button {
			&.invisible {
				visibility: hidden;
				// display: none;
			}

			&.hidden {
				display: none;
			}
		}

		&-day {
			display: flex;
			align-items: center;
			justify-content: center;
			font-size: 1.7rem;
			line-height: 0;
			height: 4rem;
			color: rgba($color: $c-black, $alpha: 0.6);
			transition: $transition;
			padding: 1rem 1.5rem;
			margin-left: 6rem;
			border-radius: 4rem;
			position: relative;
			margin-bottom: 1rem;

			@include bp(tablet-small-under) {
				position: absolute;
				top: 0;
				background-color: darken($color: $c-bg, $amount: 4%);
				margin-left: 0;
			}

			&.unknown {
				padding: 0;
			}

			&::before {
				position: absolute;
				content: '';
				width: 8px;
				height: 8px;
				border-radius: 50%;
				left: calc((-6rem / 2) + 1px);
				background-color: #b7b4af;
				border: 1px solid $c-bg;
				transition: $transition;

				@include bp(desktop-l) {
					left: calc((-6rem / 2));
				}

				@include bp(tablet-small-under) {
					left: 2rem;
					display: none;
				}
			}

			&.active {
				color: $c-black;
				background-color: #d8d3cc;
				font-weight: 700;

				&::before {
					background-color: $c-bg;
					border-color: $c-black;
					box-shadow: 0 0 0 0.5rem $c-black;
				}
				&::after {
					border-color: $c-black;
					background-color: $c-black;
					color: #fff;
				}
			}

			@include bp(tablet-small-under) {
				margin-left: 9rem;

				&::after {
					content: attr(data-year);
					position: absolute;
					left: -9rem;
					top: 0;
					border-radius: 5rem;
					color: #b7b4af;
					display: inline-flex;
					justify-content: center;
					align-items: center;
					padding: 1rem;
					width: 7.2rem;
					border: $s-border;
					background-color: $c-bg;
					font-weight: 400;
					line-height: 1;
					height: 3.8rem;
					font-size: 1.6rem;
				}
			}
		}

		&-year {
			border-radius: 5rem;
			color: #b7b4af;
			display: inline-flex;
			justify-content: center;
			align-items: center;
			padding: 1rem;
			width: 7.2rem;
			font-size: 1.8rem;
			line-height: 1;
			border: $s-border;
			background-color: $c-bg;
			margin-bottom: 1rem;

			&.only-mobile {
				display: none;
			}

			@include bp(tablet-small-under) {
				line-height: 1;
				height: 3.8rem;
				font-size: 1.6rem;
				margin-bottom: 0;

				& + .event-day {
					margin-left: 9rem;

					&::after {
						content: unset;
					}
				}

				&.only-mobile {
					display: inline-flex;
				}
			}

			&.active {
				border-color: $c-black;
				background-color: $c-black;
				color: #fff;

				&::after {
					color: $c-black;
					opacity: 1;
					background-color: #d8d3cc;
					border-color: #d3cec8;
					font-weight: bold;
				}
				.day {
					color: $c-black;
					opacity: 1;
					background-color: #d8d3cc;
					border-color: #d3cec8;
					font-weight: bold;

					&::before {
						background-color: $c-bg;
						border-color: $c-black;
						box-shadow: 0 0 0 0.5rem $c-black;
					}
				}
			}
		}
	}

	.timeline {
		height: calc(100vh - var(--header-height));
		width: var(--timeline-width);
		display: flex;
		padding-left: 3.6rem;
		position: relative;
		flex-shrink: 0;

		& button {
			padding: 0;
			display: flex;
			flex-direction: column;
			@include bp(tablet-small-under) {
				height: 4rem;
			}
		}

		@include bp(tablet-small-under) {
			padding-left: 0;
			width: 100vw;
			height: 4rem;
			flex-direction: row;
			align-items: center;
			position: absolute;
			top: 35vw;
			z-index: 3;

			// .swiper-slide:not(.swiper-slide-active) {
			// 	button {
			// 		// margin-left: 16px;

			// 		.day {
			// 			// left: 11.5rem;
			// 		}
			// 	}
			// }
		}

		@include bp(mobile) {
			top: 47vw;
		}

		@include bp(mobile-l-small) {
			top: 52vw;
		}

		&::after {
			content: '';
			left: 7.1rem;
			top: 0;
			width: 1px;
			background-color: $c-border;
			height: calc(100vh - var(--header-height));
			position: absolute;
			z-index: 0;

			@include bp(tablet-small-under) {
				width: 100vw;
				height: 1px;
				left: 0;
				top: 50%;
			}
		}

		:global(.swiper-wrapper) {
			@include bp(tablet-small-under) {
				align-items: center;
			}
		}
	}
</style>
