<script lang="ts">
	import { browser } from '$app/env';

	import ShareButton from '$components/Common/ShareButton.svelte';
	import { zoombox } from '$stores/zoombox.store';
	import { fade } from 'svelte/transition';
	import wzoom from 'vanilla-js-wheel-zoom';

	let zoomAmount = 1;

	const toggleModal = (val: boolean) => {
		zoombox.toggle(val);
		zoombox.zoom(1);
	};

	type TZoomDirection = 'in' | 'out';

	const handleZoom = (direction: TZoomDirection) => {
		if (direction === 'in' && zoomAmount < 4) {
			zoomAmount = zoomAmount + 1;
		}
		if (direction === 'out' && zoomAmount > 1) {
			zoomAmount = zoomAmount - 1;
		}
	};

	const zoomit = (el: HTMLElement, amount: number) => {
		const myZoom = wzoom.create(el, {
			speed: 1,
			minScale: 1,
			maxScale: 4,
			dragScrollableOptions: {
				smoothExtinction: 0.01,
			},
		});

		return {
			update(newAmount: number) {
				newAmount > amount ? myZoom.zoomUp() : myZoom.zoomDown();
				amount = newAmount;
			},
		};
	};

	$: {
		if (browser) {
			if ($zoombox.visible) {
				document.querySelector('html').classList.add('scroll-disabled');
				document.querySelector('body').classList.add('scroll-disabled');
			} else {
				document.querySelector('html').classList.remove('scroll-disabled');
				document.querySelector('body').classList.remove('scroll-disabled');
			}
		}
	}
</script>

{#if $zoombox.visible}
	<div class="zmodal" transition:fade>
		<div class="zmodal-overlay" on:click={() => toggleModal(false)} />
		<button class="zmodal-close btn btn--i btn--white" on:click={() => toggleModal(false)}>
			<svg class="btn__icon icon-font">
				<use xlink:href="/icons.svg#icon-close" />
			</svg>
		</button>
		<div class="zmodal-zoominout">
			<button class="zmodal-zoomout btn btn--i btn--white" on:click={() => handleZoom('out')}>
				<svg class="btn__icon icon-font">
					<use xlink:href="/icons.svg#icon-minus" />
				</svg>
			</button>
			<button class="zmodal-zoomin btn btn--i btn--white" on:click={() => handleZoom('in')}>
				<svg class="btn__icon icon-font">
					<use xlink:href="/icons.svg#icon-plus" />
				</svg>
			</button>
		</div>
		<div class="zmodal-sharedownload">
			<ShareButton isWhite />
			<a
				href={$zoombox.image}
				download
				target="_blank"
				class="zmodal-download btn btn--i btn--white btn--ellipse"
			>
				<svg class="btn__icon icon-font">
					<use xlink:href="/icons.svg#icon-download" />
				</svg>
			</a>
		</div>

		<picture class="zmodal-picture zoom" out:fade={{ duration: 150 }}>
			<!-- svelte-ignore a11y-missing-attribute -->
			<img class="zmodal-image" src={$zoombox.image} use:zoomit={zoomAmount} />
		</picture>
	</div>
{/if}

<style lang="scss">
	:global(.zoom-transition) {
		transition: transform ease 200ms;
	}
	.zmodal {
		position: fixed;
		top: 0;
		left: 0;
		width: 100vw;
		height: 100vh;
		z-index: 140;
		display: flex;
		align-items: center;
		justify-content: center;
		@include bp(r-tablet) {
			--page-padding-x: 5rem;
		}
		&-overlay {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100vh;
			background-color: rgba($color: $c-black, $alpha: 0.9);
			z-index: -1;
		}

		&-buttons {
			position: absolute;
			top: 0;
			left: 0;
		}
		.btn {
			/* 	z-index: 101;
			position: absolute; */
			touch-action: manipulation;
		}
		&-zoominout {
			position: absolute;
			z-index: 141;
			left: var(--page-padding-x);
			bottom: var(--page-padding-x);
			.btn + .btn {
				margin-left: 1.5rem;
			}
			@include bp(tablet-small-under) {
				bottom: unset;
				top: var(--page-padding-x);
			}
		}
		&-close {
			position: absolute;
			z-index: 142;
			top: var(--page-padding-x);
			right: var(--page-padding-x);
		}
		&-sharedownload {
			position: absolute;
			z-index: 141;
			bottom: var(--page-padding-x);
			right: var(--page-padding-x);
			display: flex;
			flex-direction: column;
			align-items: center;
			@include bp(tablet-small-under) {
				bottom: unset;
				top: var(--page-padding-x);
			}
			.btn {
				margin-top: 1.5rem;
				@include bp(tablet-small-under) {
					margin-top: 0;
					margin-right: 7.2rem;
				}
			}
			@include bp(tablet-small-under) {
				:global(.headerbar-share) {
					display: none;
				}
			}
		}

		&-image {
			max-height: 90vh;
			max-width: calc(100vw - var(--page-padding-x) * 2);
			cursor: pointer;
		}
	}
</style>
